<script type="text/template" id="add-project-description-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-project-description flexbox-container">
            <h2 class="section-header">Description</h2>
       		<div class="section-body flexbox-container">
	        	<div class="open-button cancel-remove-button">
					<button type="button">Remove</button>
	        	</div>
	        	<textarea name="description" required maxlength="255" autofocus="true" rows="3" placeholder="Add some additional information here!"></textarea>
	        </div>
    	</div>
    </div>
</script>