<script type="text/template" id="add-project-gallery-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-project-gallery flexbox-container">
            <h2 class="section-header">Gallery</h2>
       		<div class="section-body flexbox-container">
	        	<div class="open-button cancel-remove-button">
					<button type="button">Remove</button>
	        	</div>
	        	{# some way to attach multiple photos? #}
	        </div>
    	</div>
    </div>
</script>