<div class="project-champion-and-reactions flexbox-container">
    <div class="project-champion flexbox-container">
        <div class="profile-image-small {{ (project.creator.imagePath is null) ? '' : 'hidden' }}">{{ project.creator.initials }}</div>
        <div class="profile-image-small {{ (project.creator.imagePath is null) ? 'hidden' : '' }}" style="background-image: url({{ project.creator.imagePath }})"></div>
        <div>
            <p>Started by</p>
            <h6><a href="/people/{{ project.creator.id }}">{{ project.creator.firstName }} {{ project.creator.lastName }}</a></h6>
        </div>
    </div>

    <div class="reaction-buttons flexbox-container">
        <div class="comment-icon"></div>
        <p data-counter-type="comment">{{ project.numberOfComments }} {{ (project.numberOfComments != 1) ? 'comments' : 'comment' }}</p>
    </div>
</div>