<header class="header-project flexbox-container">
    <ul class="project-tabs flexbox-container">
            <li><a class="unselected">Project</a></li>
        {% if (entity.description is not null) %}
            <li><a class="unselected">Description</a></li>
        {% endif %}
            <li><a class="unselected">Comments</a></li>
    </ul>
    <div class="user-controls flexbox-container">
        <h6 class="help-link"><a href="/help"></a></h6>

        {#
        <div class="closed-button">
            <button>Add Progression</button>
        </div>
        #}

        {% if (user.id == entity.creator.id) %}
            <div class="closed-button">
                <button id="edit-entity-button">Edit Page</button>
            </div>

            <div class="back-submit flexbox-container hidden">
                <div class="closed-button back-button">
                    <button id="cancel-edit-entity-button">cancel</button>
                </div>
                <div class="closed-button submission">
                    <button id="submit-edits">submit changes</button>
                </div>
            </div>
        {% endif %}
    </div>
</header>