<script type="text/template" id="add-pitch-role-form-template">
    <div class="entity-content flexbox-container">
    	<textarea name="role" placeholder="Type a role here" rows="1" maxlength="255"></textarea>
        <textarea name="role-assignee" placeholder="Assign a role here" rows="1" maxlength="255"></textarea>
        <div class="open-button cancel-remove-button">
            <button>Remove</button>
        </div>
    </div>
</script>