<div id="edit-project" class="hidden">
    <h1>Edit Your Pitch</h1>
    <div id="edit-project-form">

        {# Pitch Title #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Title</h2>
            <div class="section-body flexbox-container">
                <textarea name="title" required maxlength="255" rows="1" placeholder="Give your pitch a meaningful title!"">{{ project.title }}</textarea>
                <h6 class="invalid-message hidden">* Don't leave your pitch title blank!</h6>
            </div>
        </div>

        {# project #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Pitch</h2>
            <div class="section-body">
                <textarea name="summary" required rows="2" placeholder="What's your pitch about? Try phrasing it into a question such as &quot;We are developing... ?&quot;">{{ project.summary }}</textarea>
                <h6 class="invalid-message hidden">* Don't leave your pitch summary blank!</h6>
            </div>
        </div>

        {# Replaced Category with Theme #}
        <div class="edit-category section-container flexbox-container">
            <h2 class="section-header">Theme</h2>
            <div class="section-body flexbox-container">
                <form>
                    {% for entityCategory in project.categories %}
                        <select name="categories" data-entity-content-id="{{ entityCategory.id }}">
                            {% for category in categories %}
                                <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ (entityCategory.categoryId == category.id) ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="add-team-members section-container flexbox-container">
            <h2 class="section-header">Team Members</h2>
            <div class="section-body flexbox-container">
                <p>Build your team by typing in their name and clicking on their suggestion.</p>
                <div class="add-team-member-button open-button">
                    <button>+ Add a Team Member</button>
                </div>
                <ul id="team-members">
                    {% include 'default/entity/components/editTeamMember.phtml' with {entity: project} %}
                </ul>
            </div>
        </div>

        <div class="add-roles section-container flexbox-container">
            <h2 class="section-header">Roles</h2>
            <div class="section-body flexbox-container">
                <p>Add a Role and assign your team members roles by clicking on their image!</p>
                <div class="add-role-button open-button">
                    <button>+ Add a Role</button>
                </div>
                <ul id="roles">
                    {% include 'default/entity/components/editRole.phtml' with {entity: project} %}
                </ul>
            </div>
        </div>

        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Attachments</h2>
            <div id="attachment-section-body" class="section-body flexbox-container">
                <p>Choose a picture, powerpoint or pdf to upload! <b>Attachments that are larger than 100MB are skipped.</b></p>
                <div class="open-button upload-button">
                    <button type="button">+ Add an Attachment</button>
                    <input name="upload-attachment-button" type="file" multiple class="hidden">
                </div>
                <ul id="attachments">
                    {% for attachment in project.attachments.images %}
                        <li class="entity-content flexbox-container">
                            <h3 name="attachment" data-entity-content-id="{{ attachment.id }}">{{ attachment.name }}</h3>
                            <div class="open-button cancel-remove-button">
                                <button type="button">Remove</button>
                            </div>
                        </li>
                    {% endfor %}
                    {% for attachment in project.attachments.others %}
                        <li class="entity-content flexbox-container">
                            <h3 name="attachment" data-entity-content-id="{{ attachment.id }}">{{ attachment.name }}</h3>
                            <div class="open-button cancel-remove-button">
                                <button type="button">Remove</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {# Description #}
        {% if (project.description is not null) %}
            {% include 'default/entity/components/contents/fields/description/editDescription.phtml' with {entity: project} %}
        {% endif %}

        {# Background #}
        {% if (project.background is not null) %}
            {% include 'default/entity/components/contents/fields/background/editBackground.phtml' with {entity: project} %}
        {% endif %}

        {# Stakeholders #}
        {% if (project.stakeholder is not null) %}
            {% include 'default/entity/components/contents/fields/stakeholder/editStakeholder.phtml' with {entity: project} %}
        {% endif %}

        {# Existing Solutions/Current Options #}
        {% if (project.existingSolution is not null) %}
            {% include 'default/entity/components/contents/fields/existingSolution/editExistingSolution.phtml' with {entity: project} %}
        {% endif %}

        {# Market Analysis #}
        {% if (project.marketAnalysis is not null) %}
            {% include 'default/entity/components/contents/fields/marketAnalysis/editMarketAnalysis.phtml' with {entity: project} %}
        {% endif %}

        {# Other Information #}
        {% if (project.otherInformation is not null) %}
            {% include 'default/entity/components/contents/fields/otherInformation/editOtherInformation.phtml' with {entity: project} %}
        {% endif %}
    </div>

    {# Add Content Button #}
    <div class="create-buttons flexbox-container">
        <div class="open-button add">
            <button class="add-content" type="button">+ Add Content</button>
        </div>
    </div>

    {% include 'default/entity/components/addContent.phtml' with {
            options: ['description', 'background', 'stakeholder', 'existingSolution', 'marketAnalysis', 'otherInformation'], 
            entity: {entityType: 'pitch'}
        } 
    %}
</div>