<div data-project-section="roles" class="section-container flexbox-container">
    <h2 class="section-header">Roles</h2>
    <ul class="section-body">
        {% for role in project.roles %}
            <li>{{ role.value }}</li>
            <h2>{{ role.person }}</h2>
        {% endfor %}
    </ul>
</div>