<script type="text/template" id="project-card-template">
    <a href="/project/<%= entity.id %>" data-entity-id="<%= entity.id %>" class="item-container card-view flexbox-container <%= entity.categories[0].name.replace(/\s/g, '-') %>-category">
        <div class="project-statistics flexbox-container">
            <% entity.categories.forEach(function(category) { %>
                <h4 class="tag"><%= category.name.replace('and', '&amp;') %></h4>
            <% }); %>
            <div class="reaction-buttons flexbox-container">
                {#<div class="vote-icon <%= (entity.voted ? 'voted' : '') %>"></div>
                <p data-counter-type="vote"><%= entity.numberOfVotes %></p>#}
                <div class="like-icon <%= (entity.liked ? 'liked' : '') %>"></div>
                <p data-counter-type="like"><%= entity.numberOfLikes %></p>
                <div class="comment-icon"></div>
                <p data-counter-type="comment"><%= entity.numberOfComments %></p>
            </div>
        </div>
        <h2 class="name"><%= entity.title %></h2>
        <p class="one-liner"><%= entity.summary %></p>
        <div class="project-champion flexbox-container">
            <div class="profile-image-small <%= !entity.creator.imagePath ? '' : 'hidden' %>"><%= entity.creator.initials %></div>
            <div class="profile-image-small <%= !entity.creator.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= entity.creator.imagePath %>)"></div>
            <div class="started-by">
                <p>Started by</p>
                <h6 class="entity-creator-name"><%= entity.creator.firstName %> <%= entity.creator.lastName %></h6>
            </div>
            <div class="button closed-button">
                <button>Gravit8</button>
            </div>
        </div>
    </a>
</script>