<script type="text/template" id="idea-list-template">
    <a href="/idea/<%= idea.id %>" data-entity-id="<%= idea.id %>" class="item-container list-view hidden flexbox-container <%= idea.categories[0].name.replace(/\s/g, '-') %>-category">
        <h2 class="name"><%= idea.title %></h2>
        <p class="one-liner"><%= idea.idea %></p>
        <div class="project-champion flexbox-container">
            <div class="profile-image-small <%= !idea.creator.imagePath ? '' : 'hidden' %>"><%= idea.creator.initials %></div>
            <div class="profile-image-small <%= !idea.creator.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= idea.creator.imagePath %>)"></div>
            <div class="started-by">
                <p>Started by</p>
                <h6 class="entity-creator-name"><%= idea.creator.firstName %> <%= idea.creator.lastName %></h6>
            </div>
        </div>
        <div class="project-statistics flexbox-container">
            <% idea.categories.forEach(function(category) { %>
                <h4 class="tag"><%= category.name.replace('and', '&amp;') %></h4>
            <% }); %>
            <div class="reaction-buttons flexbox-container">
                <div class="comment-icon"></div>
                <p data-counter-type="comment"><%= idea.numberOfComments %></p>
            </div>
        </div>
        <div class="button closed-button">
            <button>Gravit8</button>
        </div>
    </a>
</script>