<script type="text/template" id="pitch-list-template">
    <div data-entity-id="<%= pitch.id %>" class="item-container list-view flexbox-container <%= pitch.categories[0].name.replace(/\s/g, '-') %>-category">
        <h2 class="name"><%= pitch.title %></h2>
        <p class="one-liner"><%= pitch.pitch %></p>
        <div class="project-champion flexbox-container">
            <div class="profile-image-small <%= !pitch.creator.imagePath ? '' : 'hidden' %>"><%= pitch.creator.initials %></div>
            <div class="profile-image-small <%= !pitch.creator.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= pitch.creator.imagePath %>)"></div>
            <div class="started-by">
                <p>Started by</p>
                <h6 class="entity-creator-name"><%= pitch.creator.firstName %> <%= pitch.creator.lastName %></h6>
            </div>
        </div>
        <div class="project-statistics flexbox-container">
            {% if (categories is not empty) %}
                <select name="categories" data-category-id=<%= pitch.categories[0].id %>>
                    {% for category in categories %}
                        <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}">{{ category.name | replace({'and': '&'}) }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    </div>
</script>