<script type="text/template" id="pitch-card-template">
    <a href="/pitch/<%= pitch.id %>" data-entity-id="<%= pitch.id %>" class="item-container card-view flexbox-container <%= pitch.categories[0].name.replace(/\s/g, '-') %>-category">
        <div class="project-statistics flexbox-container">
            <% pitch.categories.forEach(function(category) { %>
                <h4 class="tag"><%= category.name.replace('and', '&amp;') %></h4>
            <% }); %>
            <div class="reaction-buttons flexbox-container">
                <div class="vote-icon <%= (pitch.voted ? 'voted' : '') %>"></div>
                <p data-counter-type="vote"><%= pitch.numberOfVotes %></p>
                <div class="like-icon <%= (pitch.liked ? 'liked' : '') %>"></div>
                <p data-counter-type="like"><%= pitch.numberOfLikes %></p>
                <div class="comment-icon"></div>
                <p data-counter-type="comment"><%= pitch.numberOfComments %></p>
            </div>
        </div>
        <h2 class="name"><%= pitch.title %></h2>
        <p class="one-liner"><%= pitch.pitch %></p>
        <div class="project-champion flexbox-container">
            <div class="profile-image-small <%= !pitch.creator.imagePath ? '' : 'hidden' %>"><%= pitch.creator.initials %></div>
            <div class="profile-image-small <%= !pitch.creator.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= pitch.creator.imagePath %>)"></div>
            <div class="started-by">
                <p>Started by</p>
                <h6 class="entity-creator-name"><%= pitch.creator.firstName %> <%= pitch.creator.lastName %></h6>
            </div>
            <div class="button closed-button">
                <button>Gravit8</button>
            </div>
        </div>
    </a>
</script>