<div class="add-content-module hidden">
    <h2>What would you want to add?</h2>
    <div class="create-options flexbox-container">

    {# Detailed Problem Description #}
    {% if options.description %}
        <div id="add-problem-description-button" class="create-option-card {{ (entity.description is null) ? '' : 'disabled-module' }}" {{ (entity.description is null) ? '' : 'data-module-disabled' }}>
            <h6>Detailed Problem Description</h6>
            <p>A description adds more information to your entity!</p>
        </div>
    {% endif %}

    {# Relevant Clinical Background #}
    {% if options.background %}
        <div id="add-background-button" class="create-option-card {{ (entity.background is empty) ? '' : 'disabled-module' }}" {{ (entity.background is empty) ? '' : 'data-module-disabled' }}>
            <h6>Relevant Clinical Background</h6>
            <p>A scenario gives your entity a persona!</p>
        </div>
    {% endif %}

    {# Stakeholders #}
    {% if options.stakeholder %}
        <div id="add-stakeholder-button" class="create-option-card {{ (entity.stakeholder is empty) ? '' : 'disabled-module' }}" {{ (entity.stakeholder is empty) ? '' : 'data-module-disabled' }}>
            <h6>Stakeholders</h6>
            <p>A scenario gives your entity a persona!</p>
        </div>
    {% endif %}

    {# Existing Solutions/Current Options #}
    {% if options.existingSolution %}
        <div id="add-existing-solution-button" class="create-option-card {{ (entity.existingSolution is empty) ? '' : 'disabled-module' }}" {{ (entity.existingSolution is empty) ? '' : 'data-module-disabled' }}>
            <h6>Current Options</h6>
            <p>A scenario gives your entity a persona!</p>
        </div>
    {% endif %}

    {# Market Analysis #}
    {% if options.marketAnalysis %}
        <div id="add-market-analysis-button" class="create-option-card {{ (entity.marketAnalysis is empty) ? '' : 'disabled-module' }}" {{ (entity.marketAnalysis is empty) ? '' : 'data-module-disabled' }}>
            <h6>Market Analysis</h6>
            <p>A scenario gives your entity a persona!</p>
        </div>
    {% endif %}

    {# Other Information #}
    {% if options.otherInformation %}
        <div id="add-other-information-button" class="create-option-card {{ (entity.otherInformation is empty) ? '' : 'disabled-module' }}" {{ (entity.otherInformation is empty) ? '' : 'data-module-disabled' }}>
            <h6>Other Information</h6>
            <p>A scenario gives your entity a persona!</p>
        </div>
    {% endif %}

    {# Files #}
    {% if options.file %}
        <div id="add-file-button" class="create-option-card">
            <h6>File</h6>
            <p>Upload photos and files to give your project some life!</p>
        </div>
    {% endif %}
    </div>
    }
</div>