<div class="category-tags flexbox-container">
    {% for category in entity.categories %}
        <div class="category-tag {{ category.name | replace({' ': '-'}) }}-category">{{ category.name | replace({'and': '&'}) }}</div>
    {% endfor %}
</div>