<div class="project-champion-and-reactions flexbox-container">
    <div class="project-champion flexbox-container">
        <div class="profile-image-small {{ (idea.creator.imagePath is null) ? '' : 'hidden' }}">{{ idea.creator.initials }}</div>
        <div class="profile-image-small {{ (idea.creator.imagePath is null) ? 'hidden' : '' }}" style="background-image: url({{ idea.creator.imagePath }})"></div>
        <div>
            <p>Started by</p>
            <h6><a href="/people/{{ idea.creator.id }}">{{ idea.creator.firstName }} {{ idea.creator.lastName }}</a></h6>
        </div>
    </div>

    <div class="reaction-buttons flexbox-container">
        <div class="comment-icon"></div>
        <p data-counter-type='comment'>{{ idea.numberOfComments }} {{ (idea.numberOfComments != 1) ? 'comments' : 'comment' }}</p>
    </div>
</div>