<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header"></h2>
        <div class="section-body flexbox-container">
            <div class="open-button cancel-remove-button">
                <button>Remove</button>
            </div>
            <textarea name="market-analysis" data-entity-content-id="{{ entity.marketAnalysis.id }}" autofocus="true" rows="3" placeholder="Add some additional information here!">{{ entity.marketAnalysis.value }}</textarea>
        </div>
    </div>
</div>