<div class="add-content-module hidden">
    <h2>What would you like to add?</h2>
    <div class="create-options flexbox-container">

    {% if 'all' in options %}
        {% include 'default/entity/components/contents/cards/addDescriptionCard.phtml' %}
        {% include 'default/entity/components/contents/cards/addBackgroundCard.phtml' %}
        {% include 'default/entity/components/contents/cards/addStakeholderCard.phtml' %}
        {% include 'default/entity/components/contents/cards/addExistingSolutionCard.phtml' %}
        {% include 'default/entity/components/contents/cards/addMarketAnalysisCard.phtml' %}
        {% include 'default/entity/components/contents/cards/addOtherInformationCard.phtml' %}
        {% include 'default/entity/components/contents/cards/addAttachmentCard.phtml' %}
    {% else %}
        {% if 'description' in options %}
            {% include 'default/entity/components/contents/cards/addDescriptionCard.phtml' %}
        {% endif %}

        {% if 'background' in options %}
            {% include 'default/entity/components/contents/cards/addBackgroundCard.phtml' %}
        {% endif %}

        {% if 'stakeholder' in options %}
            {% include 'default/entity/components/contents/cards/addStakeholderCard.phtml' %}
        {% endif %}

        {% if 'existingSolution' in options %}
            {% include 'default/entity/components/contents/cards/addExistingSolutionCard.phtml' %}
        {% endif %}

        {% if 'marketAnalysis' in options %}
            {% include 'default/entity/components/contents/cards/addMarketAnalysisCard.phtml' %}
        {% endif %}

        {% if 'otherInformation' in options %}
            {% include 'default/entity/components/contents/cards/addOtherInformationCard.phtml' %}
        {% endif %}

        {% if 'attachments' in options %}
            {% include 'default/entity/components/contents/cards/addAttachmentCard.phtml' %}
        {% endif %}
    {% endif %}
        <div class="create-option-card invisible"></div>
        <div class="create-option-card invisible"></div>
    </div>
</div>