<script type="text/template" id="add-role-form-template">
    <li class="entity-content flexbox-container">
        <textarea name="role" placeholder="What skill do you need?" rows="1" maxlength="255"></textarea>
        <ul data-element-type="role-assignees" class="flexbox-container">
        </ul>
        <div class="open-button cancel-remove-button">
            <button>Remove</button>
        </div>
    </li>
</script>