<script type="text/template" id="add-team-member-form-template">
    <li class="entity-content">
        <div class="add-team-member-form flexbox-container">
            <div data-element-type="search-bar">
                <div class="search-bar flexbox-container">
                    <span class="search-icon hidden"></span>
                    <textarea name="team-member" placeholder="Who do you want to add to your team?" rows="1" maxlength="255"></textarea>
                </div>
                <div class="search-suggestions">
                    <ul></ul>
                </div>
            </div>

            <div name="team-member" data-element-type="profile-image-container" data-team-member-id=""></div>
            <div class="open-button cancel-remove-button">
                <button>Remove</button>
            </div>
        </div>
    </li>
</script>