<div data-project-section="comment" class="section-container flexbox-container">
    <h2 id="number-of-comments" class="section-header">Comments ({{ entity.numberOfComments }})</h2>
    <div id="comment-control" class="section-body">
        <textarea name="comment" maxlength="2000" placeholder="Write a comment..."></textarea>
        <div class="comment-action flexbox-container">
            <div class="closed-button submission">
                <button data-button-type="comment">Comment</button>
            </div>
        </div>
        <div id="comments">
            <ul></ul>
        </div>
    </div>
</div>