<script type="text/template" id="comment-template">
    <li data-comment-id="<%= comment.id %>">
        <div class="comment-container flexbox-container">
            <div class="profile-image-small comment-image <%= !comment.commenter.imagePath ? '' : 'hidden' %>"><%= comment.commenter.initials %></div>
            <div class="profile-image-small comment-image <%= !comment.commenter.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= comment.commenter.imagePath %>)"></div>

            <div class="comment-entry">
                <div class="commenter flexbox-container">
                    <a href="/people/<%= comment.commenter.id %>"><%= comment.commenter.firstName %> <%= comment.commenter.lastName %></a>
                    <p><%= comment.commenter.title %></p>
                    {# <h6><%= comment.postedOn %> UTC</h6> #}
                </div>
                <p class="comment"><%= comment.message %></p>
            </div>
        </div>
    </li>
</script>