{% for teamMember in project.teamMembers %}
<li class="entity-content">
    <div class="add-team-member-form flexbox-container">
        <div data-element-type="search-bar">
            <div class="search-bar flexbox-container">
                <span class="search-icon hidden"></span>
                <textarea name="team-member" data-entity-content-id="{{ teamMember.id }}" placeholder="Who do you want to add to your team?" rows="1" maxlength="255">{{ teamMember.firstName }} {{ teamMember.lastName }}</textarea>
            </div>
            <div class="search-suggestions">
                <ul></ul>
            </div>
        </div>

        <div data-element-type="profile-image-container" data-team-member-id="{{ teamMember.id }}">
            <div class="profile-image-icon {{ teamMember.imagePath ? 'hidden' : '' }}">{{ teamMember.initials }}</div>
            <div class="profile-image-icon {{ teamMember.imagePath ? '' : 'hidden' }}" style="background-image: url({{ teamMember.imagePath }})"></div>
        </div>
        <div class="open-button cancel-remove-button">
            <button>Remove</button>
        </div>
    </div>
</li>
{% endfor %}