{% for role in entity.roles %}
    <li class="entity-content flexbox-container">
        <textarea name="role" data-entity-content-id="{{ role.id }}" placeholder="What skills do you need?" rows="1" maxlength="255">{{ role.value.role }}</textarea>
        <ul data-element-type="role-assignees" class="flexbox-container">
            {% for teamMember in entity.teamMembers %}
                <li name="role-assignee" data-assignee-id="{{ teamMember.id }}">
                    {% set assigneeIds = [] %}
                    {% for assigneeId in role.value.assignees %}
                        {% if assigneeId.id not in assigneeIds %}
                            {% set assigneeIds = assigneeIds|merge([assigneeId.id]) %}
                        {% endif %}
                    {% endfor %}

                    {% set selected = (teamMember.id in assigneeIds) ? 'selected' : '' %}
                    <div class="profile-image-icon {{ teamMember.imagePath ? 'hidden' : '' }} {{ selected }}">{{ teamMember.initials }}</div>
                    <div class="profile-image-icon {{ teamMember.imagePath ? '' : 'hidden' }} {{ selected }}" style="background-image: url({{ teamMember.imagePath }})"></div>
                </li>
            {% endfor %}
        </ul>
        <div class="open-button cancel-remove-button">
            <button>Remove</button>
        </div>
    </li>
{% endfor %}