<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'codehack-2019/navigation/navigationBar.phtml' with {selected: 'create'} %}
        
        <header class="header-default user-controls flexbox-container">
            <p><a href="/create/pitch">Create</a> > <b>Create a Pitch</b></p>
            <h6 class="help-link"><a href="/help"></a></h6>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <button>back</button>
                </div>
                <div class="closed-button submission">
                    <button id="submit">submit</button>
                </div>
            </div>
        </header>
        <div id="create-pitch" class="create content">
            <h1>Create a Pitch</h1>
            <div class="create-pitch" spellcheck="true">
                <div id="create-pitch-form">
                    <div class="create-title section-container flexbox-container">
                        <h2 class="section-header">Title</h2>
                        <div class="section-body flexbox-container">
                            <textarea name="title" required maxlength="255" autofocus="true" rows="1" placeholder="Give your pitch a catchy title!"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your pitch title blank!</h6>
                        </div>
                    </div>

                    <div class="create-one-liner section-container flexbox-container">
                        <h2 class="section-header">Pitch</h2>
                        <div class="section-body flexbox-container">
                            <p><b>Capture the core of the problem here</b>. Try phrasing it into a question like "How might we ...?" You can elaborate the details in the <b>+ Add Content</b> sections below.</p>
                            <textarea name="pitch" required rows="2" placeholder="What is the health care problem?"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your pitch blank!</h6>
                        </div>
                    </div>

                    {# Replaced Category with Theme #}
                    <div class="create-category section-container flexbox-container">
                        <h2 class="section-header">Theme</h2>
                        <div class="section-body flexbox-container">
                            <select name="categories">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ loop.first ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="add-roles section-container flexbox-container">
                        <h2 class="section-header">Roles</h2>
                        <div class="section-body flexbox-container">
                            <p>Who do you need on your team?</p>
                            <div class="add-role-button open-button">
                                <button>+ Add a Role</button>
                            </div>
                            <ul id="roles"></ul>
                        </div>
                    </div>
                </div>

                {# Add Content Button #}
                <div class="create-buttons flexbox-container">
                    <div class="open-button add">
                        <button class="add-content">+ Add Content</button>
                    </div>
                </div>

                {% include 'default/entity/components/addContent.phtml' with 
                    {'options': ['description', 'background', 'stakeholder', 'existingSolution', 'marketAnalysis', 'otherInformation'], entity: {entityType: 'pitch'}} 
                %}
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>