<div class="dropline-contents hidden">
    <ul>
        <li>
            <h3>browse</h3>
            <ol>
                <li><a href="/browse/ideas">ideas</a></li>
                <li><a href="/browse/projects">projects</a></li>
                <li><a href="/browse/people">people</a></li>
            </ol>
        </li>
    </ul>
</div>