{# Navigation bar template #}
<nav class="home-bar flexbox-container">
    <div class="logo-container flexbox-container">
        <div class="gravit8-home-logo-icon"></div>
        <a href="/">Gravit8</a>
    </div>
    {# <div class="closed-button">
        <button>Find out more</button>
    </div>
    <ul class="flexbox-container">
        <li><a href="/">Our Mission</a></li>
        <li><a href="/">Our Team</a></li>
        <li><a href="/">Contact</a></li>
        <li>
            <div class="closed-button">
                <button>Log In</button>
            </div>
        </li>
    </ul> #}
</nav>