<ul class="dropdown-contents hidden">
    <div class="dropdown-content-container">

        {% for notification in notifications %}

            <li data-notification-id="{{ notification.id }}" class="dropdown-content">

                {% if ((notification.eventType == 'requesting_roles') and (notification.project.champion.id == user.id)) %}

                    {# This is the notification template for accepting or declining a role request  #}
                    <div data-project-id="{{ notification.project.id }}" data-sender-id="{{ notification.sender.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="name">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            <p><a target="_blank" href="/people/{{ notification.sender.id }}" class="notification-sender-id">{{ notification.sender.name }}</a> has requested to join your project.</p>
                            <div class="buttons-container flexbox-container">
                                <div class="button accept-button">
                                    <button data-button-type="accept-request">Accept</button>
                                </div>
                                <div class="button decline-button">
                                    <button data-button-type="decline-request">Decline</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% elseif (notification.eventType == 'accepted_request') %}
                {# Test to see what happens for project champion #}

                    {# This is the notification template for when your request to join a role has been accepted or declined by the project champion #}
                    <div data-project-id="{{ notification.project.id }}" data-sender-id="{{ notification.sender.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="name">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            <p><a target="_blank" href="/people/{{ notification.sender.id }}" class="notification-sender-id">{{ notification.sender.name }}</a> has accepted your request to join.</p>
                            <p>Are you committed and ready to contribute to the project?</p>
                            <div class="buttons-container flexbox-container">
                                <div class="button accept-button">
                                    <button data-button-type="confirm-roles">Yes</button>
                                </div>
                                <div class="button decline-button">
                                    <button data-button-type="withdraw-roles">I changed my mind</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% elseif (notification.eventType == 'declined_request') %}

                    {# This is the notification template for when your request to join a role has been accepted or declined by the project champion #}
                    <div data-project-id="{{ notification.project.id }}" data-sender-id="{{ notification.sender.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="name">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            <p><a target="_blank" href="/people/{{ notification.sender.id }}" class="notification-sender-id">{{ notification.sender.name }}</a> has declined your request to join.</p>
                        </div>
                    </div>

                {% elseif (notification.eventType == 'confirming_roles') %}

                    {# TODO: what notifications to put here? #}

                {% elseif (notification.eventType == 'confirmed_roles') %}

                    {# This is the notification template for when your potential team member has confirmed to stay in the project #}
                    <div data-project-id="{{ notification.project.id }}" data-sender-id="{{ notification.sender.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="uppercase">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            {% if (user.id == project.champion.id) %}
                                <p><a href="/people/{{ notification.sender.id }}" class="notification-sender-id">{{ notification.sender.name }}</a> has confirmed to work with you in the project.</p>
                            {% else %}
                                <p>The project champion is informed of your decision to commit with this project.</p>
                            {% endif %}
                        </div>
                    </div>

                {% elseif (notification.eventType == 'withdrawn_roles') %}

                    {# This is the notification template for when your potential team member has withdrawn from the project #}
                    <div data-project-id="{{ notification.project.id }}" data-sender-id="{{ notification.sender.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="uppercase">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            {% if (user.id == project.champion.id) %}
                                <p><a href="/people/{{ notification.sender.id }}" class="notification-sender-id">{{ notification.sender.name }}</a> has withdrawn from the project.</p>
                            {% else %}
                                <p>The project champion is informed of your decision to withdraw from this project.</p>
                            {% endif %}
                        </div>
                    </div>

                {% elseif (notification.eventType == 'all_roles_filled') %}

                    {# This is the notification template for when all roles are assigned #}
                    <div data-project-id="{{ notification.project.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="name">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            <p>Your initial team is formed and you may begin prototyping! Check out the Project Guide for more details. </p>
                        </div>
                    </div>

                {% elseif (notification.eventType in ['stage_change', 'scenario_contribution', 'task_completion', 'recruitment_status']) %}

                    {# This is the generic project update template #}
                    <div data-project-id="{{ notification.project.id }}" class="notification">
                        <div class="icon-and-name flexbox-container {{ notification.project.categories[0]|replace({'_': '-'}) }}-category">
                            <div class="icon update-icon {{ notification.eventType|replace({'_': '-'}) }}-icon"></div>
                            <h3 class="name">{{ notification.project.name }}</h3>
                        </div>
                        <div class="notification-message">
                            <p>{{ notification.message }}</p>
                        </div>
                    </div>

                {% endif %}
            </li>

        {% endfor %}
    </div>
</ul>