<nav class="navigation-bar flexbox-container">
    <div class="logo-container flexbox-container">
        <div class="gravit8-logo-icon"></div>
        <a href="/browse">Gravit8</a>
        <h4 class="organization-name hidden">{{ organization.organization }} {{ organization.organizationGroup }}</h4>
    </div>
    <div class="navigation-bar-category-container flexbox-container">
        <ul>
            {% if selected == 'explore' %}
                <li><b><a href="/browse">Explore</a></b></li>
            {% else %}
                <li><a href="/browse">Explore</a></li>
            {% endif %}

            {% if selected == 'create' %}
                <li><b><a href="/create/pitch">Create</a></b></li>
            {% else %}
                <li><a href="/create/pitch">Create</a></li>
            {% endif %}
        </ul>

        <h4 class="organization-name">{{ organization.organization }} {{ organization.organizationGroup }}</h4>

        <ul>
            <li class="nav-profile flexbox-container">
                {% include 'default/commons/profileImage.phtml' %}
                {% if selected == 'profile' %}
                    <b><a href="/people/{{ user.id }}">{{ user.firstName }}</a></b>
                {% else %}
                    <a href="/people/{{ user.id }}">{{ user.firstName }}</a>
                {% endif %}
            </li>
            <li class="settings dropline"><a id="logout" href="/logout">Logout</a></li>
        </ul>
    </div>

    <div id="navigation-sidebar-icon">☰</div>
    {% include 'codehack-2019/navigation/navigationSidebar.phtml' %}
</nav>

{# <a href="#">settings</a>{% include 'default/navigation/settings.phtml' %} #}
{# <li><a href="/dashboard">dashboard</a></li>
    <li class="notifications dropdown-menu"><a href="#">notifications</a>{% include 'default/navigation/notifications.phtml' %}</li> #}