<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'browse'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'bizhacks/navigation/navigationBar.phtml' with {selected: 'explore'} %}

        {% include 'bizhacks/gallery/header.phtml' %}

        <div class="content">
            <div id="browse-view" class="content-container">
                {# browse ideas view template #}
                <div data-container="ideas" class="items-container flexbox-container {{ browseTab != 'ideas' ? ' hidden' : ''}}">
                    {% for i in 1..2 %}
                        <a class="item-container invisible"></a>
                    {% endfor %}
                </div>

                {# browse projects view template #}
                <div data-container="projects" class="items-container flexbox-container {{ browseTab != 'projects' ? ' hidden' : ''}}">
                    {% for i in 1..2 %}
                        <a class="item-container invisible"></a>
                    {% endfor %}
                </div>

                {# browse people view template #}
                <div data-container="people" class="items-container flexbox-container {{ browseTab != 'people' ? ' hidden' : ''}}">
                    {% for i in 1..5 %}
                        <a class="people-card invisible"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
{#
        <div id="vote-summary" class="footer-default vote-summary-bar">
            <footer data-entity-type="project" class="{{ user.voteCapacity.project.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'projects' ? 'hidden' : ''}} flexbox-container">
                <h4>You have used <span>{{ user.voteCapacity.project.votesUsed }}</span>{{ (user.voteCapacity.project.voteLimit is null) ? '' : '/' ~ user.voteCapacity.project.voteLimit }} votes</h4>
            </footer>
        </div>
#}

        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>