<div class="project-champion-and-reactions flexbox-container">
    <div class="project-champion flexbox-container">
        <div class="profile-image-small {{ (entity.creator.imagePath is null) ? '' : 'hidden' }}">{{ entity.creator.initials }}</div>
        <div class="profile-image-small {{ (entity.creator.imagePath is null) ? 'hidden' : '' }}" style="background-image: url({{ entity.creator.imagePath }})"></div>
        <div>
            <p>Started by</p>
            <h6><a href="/people/{{ entity.creator.id }}">{{ entity.creator.firstName }} {{ entity.creator.lastName }}</a></h6>
        </div>
    </div>

    <div class="reaction-buttons flexbox-container">
        {#<div class="vote-icon {{ entity.voted ? 'voted' : '' }}"></div>
        <p data-counter-type="vote" class="vote-number">{{ entity.numberOfVotes }} {{ (entity.numberOfVotes != 1) ? 'votes' : 'vote' }}</p>#}
        <div class="like-icon {{ entity.liked ? 'liked' : '' }}"></div>
        <p data-counter-type="like" class="like-number">{{ entity.numberOfLikes }} {{ (entity.numberOfLikes != 1) ? 'likes' : 'like' }}</p>
        <div class="comment-icon"></div>
        <p data-counter-type='comment'>{{ entity.numberOfComments }} {{ (entity.numberOfComments != 1) ? 'comments' : 'comment' }}</p>
    </div>
</div>