<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header">Background</h2>
        <div class="section-body flexbox-container">
            <div class="flexbox-container">
                <p>What was your source of inspiration?</p>
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
            </div>
            <textarea name="background" data-entity-content-id="{{ entity.background.id }}" required autofocus="true" rows="4" placeholder="Add some additional information here!">{{ entity.background.value }}</textarea>
        </div>
    </div>
</div>