<script type="text/template" id="add-stakeholder-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Stakeholders</h2>
            <div class="section-body flexbox-container">
                <div class="flexbox-container">
                    <p>Who is affected by or involved with the problem? Why? How?</p>
                    <div class="open-button cancel-remove-button">
                        <button type="button">Remove</button>
                    </div>
                </div>
                <textarea name="stakeholder" required  autofocus="true" rows="3" placeholder="Add some content here!"></textarea>
            </div>
        </div>
    </div>
</script>