<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header">Stakeholder</h2>
        <div class="section-body flexbox-container">
            <div class="open-button cancel-remove-button">
                <button type="button">Remove</button>
            </div>
            <p>Who is affected by or involved with the problem? Why? How?</p>
            <textarea name="stakeholder" data-entity-content-id="{{ entity.stakeholder.id }}" autofocus="true" rows="3" placeholder="Who is affected by this problem and how?">{{ entity.stakeholder.value }}</textarea>
        </div>
    </div>
</div>