.my-projects {
    @include flex-wrap(wrap);
    @include box-shadow(0 0 0.25rem $shadow-colour-dark);

    .project-list,.project-cards {
        @include flex-direction(column);
    }
}

.project-list {
    @include flex-basis(23%);
    background-color: $light-grey;
    min-height: 44rem;
    max-height: 44rem;
    overflow-y: scroll;
    overflow-x: hidden;

    .project-list-entry {
        @extend .flexbox-container;
        background-color: $lightest-grey;
        height: 1.4rem;
        padding: 0.9rem;
        cursor: pointer;
        overflow: hidden;

        .dot {
            @include align-self(center);
            margin-right: 0.5rem;
        }

        &:hover .name {
            color: $light-blue;
        }

        .name {
            position: relative;
            overflow: hidden;
            @include flex-basis(95%);
        }

        .name:after {
            @extend .text-overflow;
            @include linear-gradient(90deg, transparent, $lightest-grey);
        }
    }
}

.project-list-entry.selected-header {
    background-color: $light-blue;

    .name:after {
        @include linear-gradient(90deg, transparent, $light-blue);
    }
}

.project-cards {
    @include flex-basis(77%);

    .project-card {
        @include flex-direction(column);
        background-color: $white;
        overflow: hidden;
        height: 0;
        display: none;

        a,h1,h2,h3,h4,h5,h6 {
            color: $font-black;
            @include transition(color, 0.2s, ease);
        }

        a:hover {
            @extend .no-underline-selector;
            @extend .glow-selector;
        }

        .card-name-and-category, .card-info-and-updates {
            margin-bottom: 1rem;
            @include flex-direction(row);
            @include justify-content(space-between);
            display: inline-flex;
        }

        .card-info, .card-updates {
            @include flex-basis(50%);
            @include flex-direction(column);
        }

        .card-info {
            line-height: 1.6rem;

            .info-set {
                margin-top: 1rem;

                .active {
                    color: $font-green;
                }

                .archived {
                    color: $font-red;
                }

                & * {
                    @extend .capitalize;
                }
            }

            h6:first-child, .active, .archived {
                display: inline-block;
            }

            h6:first-child {
                padding-right: 0.25rem;
            }
        }

        .card-updates {
            .update-icon, h5 {
                margin-right: 1rem;
                display: inline-block;
            }

            .update-message {
                @include align-items(center);
                padding-top: 1rem;

                h6 {
                    @include flex-basis(80%);
                }
            }
        }
    }
}

#project-card-landing {
    background-color: $white;
    height: 40rem;
    padding: 2rem;
}

.project-card.selected-card {
    height: 40rem;
    padding: 2rem;
    display: flex;
}

.active.dot {
    background-color: $font-green;
}

.archived.dot {
    background-color: $font-red;
}