#home-page {
	background-image: url("/images/home1.jpg");
	background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

    .content {
        width: 100%;
        max-width: 100%;
        top: 0;
        margin: 0;
        padding-bottom: 0;
        display: block;

        // Fonts
        & * {
            color: white;
        }

        h1 {
            text-transform: none;

            &:last-of-type {
                margin-bottom: 1em;
            }
        }

        p {
            font-size: 1.25em;
            line-height: 1.5em;
        }

        // Default Page Sections
        .home-page-section {
            height: 100vh;
            min-height: 100%;
            width: 100%;
            display: block;
        }

        // Introductory Section
        .home-page-section:first-child {
            .home-page-section-content {
                width: 60%;
                padding: 15%;
                margin: auto;
                text-align: center;
            }
        }

        // Problem Section
        .home-page-section:nth-child(2) {
            background-image: url("/images/home2.jpg");
            background-size: cover;
            background-repeat: no-repeat, no-repeat;
            background-color: $darkest-grey;
            height: initial;

            .home-page-section-content {
                width: 60%;
                padding: 10% 15%;
                @include flex-direction(column);
                @include justify-content(space-between);
            }
        }

        // Three Problems Section
        .home-page-section:nth-child(3) {
            height: initial;

            .home-page-section-content {

                .picture {
                    padding: 3rem;
                    height: 14rem;
                    @include flex-direction(column);
                    @include align-items(center);

                    p {
                        text-align: center;
                    }
                }

                .picture-1 {
                    background-image: url("/images/home/drought.jpg");
                    background-size: cover;
                    background-repeat: no-repeat, no-repeat;
                }

                .picture-2 {
                    background-image: url("/images/home/adventure.jpg");
                    background-size: cover;
                    background-repeat: no-repeat, no-repeat;
                    background-position: right;
                }

                .picture-3 {
                    background-image: url("/images/home/work.jpg");
                    background-size: cover;
                    background-repeat: no-repeat, no-repeat;
                }

                .problem-icon {
                    height: 3rem;
                    width: 3rem;
                    margin: 2rem 0;
                }

                .problem-1 {
                    background-image: url("/images/home/problem1.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
                
                .problem-2 {
                    background-image: url("/images/home/problem2.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
                
                .problem-3 {
                    background-image: url("/images/home/problem3.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
            }
        }

        // Segment into Gravit8 Section
        .home-page-section:nth-child(4) {
            background-color: $dark-grey;
            background-image: url("/images/home4.jpg");
            background-size: cover;
            background-repeat: no-repeat, no-repeat;
            text-align: center;

            .home-page-section-content {
                width: 60%;
                padding: 15%;
                margin: auto;
            }
        }

        // Mission Section
        .home-page-section:nth-child(5) {
            background-image: url("/images/home5.jpg");
            background-size: cover;
            background-repeat: no-repeat, no-repeat;
            height: initial;

            .home-page-section-content {
                width: 60%;
                padding: 10% 15%;
                @include justify-content(space-between);
            }
        }

        // Product Section
        .home-page-section:nth-child(6) {
            background-color: $white;
            text-align: center;
            height: auto;

            .home-page-section-content {
                padding: 10% 10% 5% 10%;
                width: 60%;
                margin: auto;

                p {
                    width: 80%;
                    margin: auto;
                }

                & * {
                    color: $darkest-grey;
                }

                .product-hero {
                    background-image: url("/images/home/product1.jpg");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                    height: 35rem;
                    background-position: center;
                    margin-top: 4rem;
                }
            }
        }

        // Feature Section 1
        .home-page-section:nth-child(7) {
            background-image: url("/images/home/product2.jpg");
            background-size: 60%;
            background-repeat: no-repeat, no-repeat;
            background-position: 80% 40%;
            background-color: $white;

            .home-page-section-content {
                padding: 0 15% 10% 15%;
                width: 35%;
                
                & * {
                    color: $darkest-grey;
                }

                .feature {
                    margin-top: 3rem;
                    @include align-items(center);
                }

                .feature-icon {
                    height: 3rem;
                    width: 3rem;
                    margin-bottom: 0;
                    margin-right: 3em;
                }

                .feature-1 {
                    background-image: url("/images/home/feature1.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
                
                .feature-2 {
                    background-image: url("/images/home/feature2.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
                
                .feature-3 {
                    background-image: url("/images/home/feature3.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
            }
        }

        // Feature Section 2
        .home-page-section:nth-child(8) {
            background-image: url("/images/home/product3.jpg");
            background-size: 30%;
            background-repeat: no-repeat, no-repeat;
            background-position: 20% 0;
            background-color: $white;

            .home-page-section-content {
                padding: 5% 15%;
                width: 35%;
                margin-left: auto;
                
                & * {
                    color: $darkest-grey;
                }

                .feature {
                    margin-top: 3rem;
                    @include align-items(center);
                }

                .feature-icon {
                    height: 3rem;
                    width: 3rem;
                    margin-bottom: 0;
                    margin-right: 3em;
                }

                .feature-4 {
                    background-image: url("/images/home/feature4.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
                
                .feature-5 {
                    background-image: url("/images/home/feature5.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
                
                .feature-6 {
                    background-image: url("/images/home/feature6.png");
                    background-size: contain;
                    background-repeat: no-repeat, no-repeat;
                }
            }
        }

        // Testimonials Section
        .home-page-section:nth-child(9) {
            background-image: url("/images/home9.jpg");
            background-size: cover;
            background-repeat: no-repeat, no-repeat;
            background-color: $light-blue;

            .home-page-section-content {
                padding: 10%;
                @include align-items(center);
                @include flex-direction(column);
                @include justify-content(space-between);

                #testimonial-container {
                    margin: 2rem auto 0 auto;
                    width: 60%;

                    .testimonial {
                        text-align: center;

                        h2:first-of-type {
                            margin-top: 2em;
                        }

                        h2:last-child {
                            font-weight: $regular;
                            font-size: 1.2rem;
                        }
                    }
                }

                #testimonial-selector {
                    margin: 5em auto 0 auto;
                    width: 40%;
                    @include justify-content(space-around);

                    li {
                        height: 1.25em;
                        width: 1.25em;
                        background-color: $blue;
                        @include border-radius(1.25em);
                        @include transition(background-color, 0.6s, ease);

                        &.selected {
                            background-color: $white;
                        }
                    }
                }
            }
        }

        // Clients & Supporters Section
        .home-page-section:nth-child(10) {
            background-color: $white;
            text-align: center;

            .home-page-section-content {
                width: 80%;
                padding: 10%;

                p {
                    color: $grey;
                }

                .clients-container,
                .supporters-container {
                    margin-bottom: 2em;
                    @include justify-content(space-around);
                    @include flex-wrap(wrap);

                    & > a {
                        margin: 0 1rem;
                    }
                }

                .client-logo {
                    background-size: contain;
                    background-position: center, center;
                    background-repeat: no-repeat, no-repeat;
                    height: 8em;
                    width: 20em;
                }

                .supporter-logo-long {
                    background-size: contain;
                    background-position: center, center;
                    background-repeat: no-repeat, no-repeat;
                    height: 8em;
                    width: 16em;
                }

                .supporter-logo-square {
                    background-size: contain;
                    background-position: center, center;
                    background-repeat: no-repeat, no-repeat;
                    height: 8em;
                    width: 8em;
                }

                .startup-weekend-logo {
                    background-image: url("/images/startupWeekend.png");
                }

                .hatching-health-logo {
                    background-image: url("/images/hatchingHealth.png");
                }

                .bizhacks-logo {
                    background-image: url("/images/bizhacks.png");
                }

                .protohack-logo {
                    background-image: url("/images/protohack.png");
                }

                .envisioning-labs-logo {
                    background-image: url("/images/envisioningLabs.png");
                }

                .e-UBC-logo {
                    background-image: url("/images/eUBC.png");
                }

                .sec-logo {
                    background-image: url("/images/sec.png");
                }

                .ideasXchange-logo {
                    background-image: url("/images/ideasXchange.png");
                }
            }
        }

        // Contact Section
        .home-page-section:last-child {
            background-color: $darkest-grey;
            height: initial;
            background-image: url("/images/home11.jpg");
            background-size: cover;
            background-repeat: no-repeat, no-repeat;

            .home-page-section-content {
                width: 70%;
                padding: 10% 15%;

                & > div {
                    @include justify-content(space-between);
                }

                .home-page-blurb {
                    margin-right: 1rem;
                }

                .contacts > div {
                    @include align-items(center);
                }
            }
        }
    }


}

@media screen and (max-width: $breakpoint-three) {
    #home-page {
        .content {

            .home-page-section:first-child {
                height: 100%;

                .home-page-section-content {
                    padding: 30% 10%;
                    width: initial;
                }
            }

            .home-page-section:nth-child(2) {
                .home-page-section-content {
                    width: initial;
                    padding: 10%; 
                }
            }

            .home-page-section:nth-child(3) {
                .home-page-section-content {
                    padding: 0;
                    @include flex-direction(column);

                    .picture {
                        height: initial;
                    }

                    .picture-1, .picture-3 {
                        background-position: center;
                    }

                    .picture-2 {
                        background-position: top;
                    }
                }
            }

            .home-page-section:nth-child(4) {
                background-position: center;
                height: 100%;

                .home-page-section-content {
                    padding: 30% 10%;
                    width: initial;

                    .home-page-blurb {
                        width: 70%;
                    }
                }
            }

            .home-page-section:nth-child(5) {
                .home-page-section-content {
                    padding: 10%;
                    width: 80%;

                    .home-page-blurb {
                        width: initial;
                    }
                }
            }

            .home-page-section:nth-child(6) {
                .home-page-section-content {
                    width: initial;

                    .product-hero {
                        margin-top: 0;
                        height: 30rem
                    }
                }
            }

            .home-page-section:nth-child(7) {
                background-image: none;
                height: 100%;

                .home-page-section-content {
                    width: initial;
                    padding: 0 10%;

                    .product-shot-1 {
                        background-image: url("/images/home/product2.jpg");
                        background-size: contain;
                        background-repeat: no-repeat, no-repeat;
                        background-position: center;
                        display: block;
                        height: 20rem;
                        margin: 5rem 0;
                    }
                }
            }

            .home-page-section:nth-child(8) {
                background-image: none;
                height: 100%;

                .home-page-section-content {
                    width: initial;
                    padding: 0 10%;

                    .product-shot-2 {
                        background-image: url("/images/home/product3.jpg");
                        background-size: contain;
                        background-repeat: no-repeat, no-repeat;
                        background-position: center;
                        display: block;
                        height: 30rem;
                        margin: 5rem 0;
                    }
                }
            }

            .home-page-section:nth-child(9) {
                height: 100%;

                .home-page-section-content {
                    padding: 20% 10%;
                    text-align: center;

                    #testimonial-container {
                        width: 80%;

                        #testimonial-selector {
                            width: 50%;
                        }
                    }
                }
            }

            .home-page-section:nth-child(10) {
                height: initial;

                .home-page-section-content {
                    .clients-container,
                    .supporters-container > div {
                        margin: 1rem;
                    }
                }
            }

            .home-page-section:last-child {
                .home-page-section-content {
                    & > div {
                        @include flex-direction(column);
                    }

                    .home-page-blurb {
                        width: initial;
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-four) {
    #home-page {
        .content {
            .home-page-section {
                height: 100%;
            }

            .home-page-section:nth-child(6) {
                .home-page-section-content {
                    .product-hero {
                        margin-top: 0;
                        height: 20rem
                    }
                }
            }

            .home-page-section:nth-child(7) {
                .home-page-section-content {
                    .product-shot-1 {
                        margin: 2rem 0;
                    }
                }
            }

            .home-page-section:nth-child(8) {
                .home-page-section-content {
                    .product-shot-2 {
                        margin: 2rem 0;
                    }
                }
            }

            .home-page-section:nth-child(9) {
                .home-page-section-content {
                    padding: 20% 10%;

                    #testimonial-container {
                        #testimonial-selector {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}