#landing-page {
    background-image: url("/images/landing.png");
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.landing-page-content {
    right: 0;
    left: 0;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30em;
    min-width: 20em;
    max-width: 20em;
    text-align: center;
    background-color: $white;
    padding: 3rem;
    border: 1px solid $light-grey;
    @include border-radius(0.6rem);
    @include box-shadow($standard-shadow);

    .landing-introduction,
    .form-container,
    .log-in-button,
    .invalid-feedback-bubble {
        margin-bottom: 2em;
    }

    .form-container {
        padding: 0.25rem 0.5rem;
        border: 1px solid $grey;
        @include border-radius($card-border-radius);

        > {
            border-bottom-color: $light-grey;
            border-style: solid;
            border-width: 0 0 0.1rem 0;
        }

        > :last-child {
            border: none;
        }
    }

    input {
        padding: 0.25rem 0;
        width: 96%;
        height: 2rem;
        border-bottom-color: $light-grey;
        border-style: solid;
        border-width: 0 0 0.1rem 0;

        &:focus {
            outline: none;
        }
    }    

    .signup-names, .signup-passwords {
        border: none;
        width: 96%;
        margin-left: 2%;

        input {
            width: 50%;
        }
    }

    .landing-redirects {
        a {
            @extend .no-underline-selector;
            color: $light-blue;
            margin-bottom: 1rem;

            &:focus {
                outline: none;
            }
        }

        p {
            margin-top: 1rem;
        }
    }

    .log-in-button button,
    .sign-up-button button,
    .cancel-button button,
    .reset-button button {
        width: 100%;
    }

    .cancel-button button {
        border-color: $grey;
        color: $grey;

        &:hover {
            border-color: $grey;
            background-color: $grey;
        }
    }

    .sign-up-button,
    .reset-button {
        margin-bottom: 0.5em;
    }

    .invalid-feedback {
        display: block;
        padding-bottom: 0.4rem;
        color: $red;
    }

    .invalid-feedback-bubble {
        padding: 1em;
        background-color: $warning-bubble;
        @include border-radius($card-border-radius);

        & * {
            color: $font-red;
        }
    }

    .contact-us {
        border-top: $standard-border;
        padding-top: 2em;
        margin: 2em auto 0 auto;
        @include align-items(center);
        @include flex-direction(column);

        & > div {
            @include align-items(center);
        }
    }
}