/* Profile Header */
.header-profile {
    @extend .header-default;
}

.profile-tabs {
    @include flex-basis(55%);

    li {
        padding: 0 2em;
        text-align: center;

        a {
            @extend h4;
            line-height: $sub-nav-height - $slide-selector-height;
            margin-bottom: 1em;
        }
    }

    .unselected {
        color: $light-grey;

        &:hover {
            color: $white;
        }

        &.selected {
            @extend .bold;
            color: $white;
        }
    }
}

.profile-basic-info {
    margin-bottom: 3em;
    @include align-items(center);

    .profile-image {
        margin-right: 8%;
        display: inline-block;
        width: $profile-image-header;
        height: $profile-image-header;
        font-size: ($profile-image-header / 2);
        line-height: $profile-image-header;
    }

    .name-and-title {
        width: 75%;
    }
}

#published-profile,
#edit-profile {
    padding: 0 $content-section-padding (2 * $content-section-padding) $content-section-padding;
}

#edit-profile {
    padding-bottom: 14%;

    h1 {
        margin-bottom: 1em;
    }

    .profile-image-medium {
        margin: 0 0 0.5em 0;
    }
}

/* Published Profile Sections */
.profile-biography,
.profile-social-media,
.profile-portfolio {
    margin-bottom: 3em;

    .section-body {
        padding-bottom: 2em;
        border-bottom: $standard-border;

        .cancel-remove-button {
            margin-left: auto;
        }
    }
}

.profile-portfolio {
    .section-body {
        border-bottom: none;

        .item-container {
            width: initial;
            max-width: initial;
        }
    }

    .warning-message {
        margin: 0;
    }
}

.profile-biography {
    .section-body {
        white-space: pre-wrap;
    }
}

/* Edit Profile Sections */
.edit-profile-picture,
.edit-profile-name,
.edit-profile-title,
.edit-profile-biography,
.edit-profile-social-media {
    margin-bottom: 2em;

    .section-body {
        .cancel-remove-button {
            margin-left: auto;
        }
    }
}

.edit-profile-picture {
    .section-body {
        @include flex-direction(column);
    }
}

.edit-profile-name {
    .section-body {
        @include flex-wrap(wrap);
        @include justify-content(space-between);
    }
}

.edit-profile-biography,
.edit-profile-social-media {

    .section-header {
        margin-top: 1em;
    }

    .section-body {
        @include flex-direction(column);
    }
}

.experience-title-and-duration {
    margin-bottom: 0.25rem;
    @include justify-content(space-between);

    .experience-category, .experience-duration {
        @extend .regular;
        padding: 0;
    }

    .experience-category {
        @include flex-basis(90%);
    }

    .experience-duration {
        @include flex-basis(10%);
    }
}

.profile-experiences {
    .open-button {
        @include justify-content(flex-end);
    }
}

textarea[name='first-name'], 
textarea[name='last-name'] {
    @include flex-basis(47%);
}

textarea[name='experience-category-editor'] {
    @include flex-basis(50%);
}

textarea[name='experience-duration-editor'] {
    @include flex-basis(25%);
    margin-left: 0.5em;
}

textarea[name='experience-description-editor'] {
    margin-top: 0.5em;
}

.social-media-fields {
    margin-bottom: 0.5em;

    select[name="categories"] {
        padding: 0.5em;
    }

    form {
        @include flex-basis(40%);
    }

    textarea {
        height: 100%;
        @include flex-basis(60%);
    }

    select, option {
        @extend .capitalize;
    }

    .contact-reference-editor {
        margin-left: 0.5em;
    }
}

.social-media-container {
    @include flex-wrap(wrap);

    .contact-reference {
        margin-bottom: 1em;
        @include flex-basis(50%);
        @include align-items(center);

        p {
            @include flex-basis(90%);
        }
    }
}

@media screen and (max-width: $breakpoint-one) {
    .social-media-fields {
        select[name="categories"] {
            padding: 6%;
        }
    }

    .profile-portfolio {
        .item-container {
            width: 100%;
            max-width: 100%;
            margin: 0 auto (4 * $grid-spacing) auto;
            @include flex-basis(100%);
        }
    }

    .profile-tabs li {
        padding: 0 1em;
    }

    textarea[name='first-name'], 
    textarea[name='last-name'] {
        @include flex-basis(45%);
    }
}

@media screen and (max-width: $breakpoint-three) {
    .profile-tabs {
        display: none;
    }

    .profile-basic-info {
        @include flex-direction(column);

        .profile-image {
            margin-right: 0;
            margin-bottom: $content-section-padding;
            display: inline-block;
            width: $profile-image-header-breakpoint;
            height: $profile-image-header-breakpoint;
            font-size: ($profile-image-header-breakpoint / 2);
            line-height: $profile-image-header-breakpoint;
        }

        .name-and-title {
            text-align: center;
            width: 100%;
        }
    }

    .edit-profile-picture,
    .edit-profile-name,
    .edit-profile-title,
    .edit-profile-biography,
    .edit-profile-social-media {
        margin-bottom: 1em;

        .section-header {
            margin-bottom: 0.25em;
        }
    }

    .edit-profile-biography,
    .edit-profile-social-media {

        .section-header {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: $breakpoint-four) {
    .edit-profile-picture,
    .edit-profile-name,
    .edit-profile-title,
    .edit-profile-biography,
    .edit-profile-social-media {
        margin-bottom: 1em;

        .section-body {
            padding-bottom: 0;
        }
    }

    .edit-profile-picture {
        .section-body {
            @include align-items(center);
        }
    }

    .edit-profile-biography,
    .edit-profile-social-media {

        .section-header {
            margin-top: 0;
        }

        .section-body {
            @include flex-direction(column);
        }
    }

    textarea[name='first-name'], 
    textarea[name='last-name'] {
        @include flex-basis(100%);
        margin-bottom: 0.5em;
    }


    .social-media-fields {
        select[name="categories"] {
            padding: 9%;
        }
    }
}