/* NOTE: missing ttf (truetype) format fonts?
TODO: test which woff file is downloaded in which browsers
*/
@font-face {
  font-family: "Montserrat";
  //src: local("Montserrat-Light");
  src: url("https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE6SxSvC1lIsK_unZDHWqTBg.eot") format("eot"); /*ie6 - 8*/
  src: url("https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXEweOulFbQKHxPa89BaxZzA0.woff2") format("woff2"),
       url("https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE4o3ZslTYfJv0R05CazkwN8.woff") format("woff"); /*windows phone, ie9+, ff windows, opera*/
       //url("https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff"); /*ios, android, ff mac, safari*/
  font-style: normal;
  font-weight: 300;
  unicode-range: $unicodeRange;
}

@font-face {
  font-family: "Montserrat";
  //src: local("Montserrat-Regular");
  src: url("https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot") format("eot"); /*ie6 - 8*/
  src: url("https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
       url("https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"), /*windows phone, ie9+, ff windows, opera*/
       url("https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff"); /*ios, android, ff mac, safari*/
  font-style: normal;
  font-weight: 400;
  unicode-range: $unicodeRange;
}

@font-face {
  font-family: "Montserrat";
  //src: local("Montserrat-Bold");
  src: url("https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2") format("woff2"),
       url("https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff") format("woff"), /*windows phone, ie9+, ff windows, opera*/
       url("https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff") format("woff"); /*ios, android, ff mac, safari*/
  font-style: normal;
  font-weight: 700;
  unicode-range: $unicodeRange;
}