.create.content {
    width: $content-section-width - (2 * $content-section-padding);
    
    &#create-idea,
    &#create-pitch,
    &#create-project {
        padding: $content-section-padding;
        margin-top: 0;
        @include border-radius($card-border-radius);
    }

    /* Header */
    h1 {
        margin-bottom: 2em;
        text-align: center
    }

    /* Content */
    textarea, select {
        display: block;
    }

    select {
        width: 50%;
        outline: none;
    }
}

.create-title,
.create-one-liner,
.create-category,
.edit-description,
.edit-idea-description,
.edit-pitch-description,
.edit-text-body {
     margin-bottom: 2em;

    .section-header {
        @include flex-basis(23%);
    }

    .section-body {
        height: 100%;
        @include flex-basis(77%);
        @include flex-direction(column);

        p {
            margin-bottom: 0.5em;
        }

        .cancel-remove-button {
            margin-left: auto;
        }
    }
}

.add-roles,
.add-team-members {
    .add-role-button,
    .add-team-member-button {
        margin-bottom: 0.5em;
    }

    textarea {
        width: 48%;
    }

    .entity-content, .add-team-member-form {
        margin-bottom: 1em;
        @include align-items(center);
    }

    .section-body {
        p {
            margin-bottom: 0.5em;
        }

        .cancel-remove-button {
            margin-left: 1em;
        }
    }

    #roles,
    #team-members {
        width: 100%;
    }

    .profile-image-icon {
        height: 2rem;
        min-height: 2rem;
        width: 2rem;
        min-width: 2rem;
        line-height: 2rem;
        border: 0.25rem solid $lightest-grey;
        font-size:0.75rem;
        margin-left: 0.75rem;

        &.selected {
            border: 0.25rem solid $light-blue;
        }
    }
}

#attachments {
    margin-top: 1.5rem;

    .entity-content {
        h3, .status {
            margin: 0 2rem 2rem 0;
        }
    }
}

/* Create */
.create-options {
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    .create-option-card {
        background-color: $white;
        border: $standard-border;
        border-bottom: 3px solid $grey;
        padding: 2em;
        margin: 0.5em;
        text-align: center;
        @include flex(1);
        @include border-radius(5px);
        @include flex-basis(20%);
        @include transition(box-shadow, 0.2s, ease);

        &:hover {
            cursor: pointer;
            @include box-shadow($standard-shadow);
        }

        h2, h6 {
            padding-bottom: 1em;
            border-bottom: $inner-border;
        }

        p {
            padding-top: 1em;
        }

        &.disabled-module {
            h1, h2, h3, h4, h5, h6, p {
                color: $grey;
            }

            &:hover {
                cursor: default;
            }
        }

        &.invisible {
            background-color: transparent;
            border: none;
            &:hover {
                cursor: default;
                @include box-shadow(none);
            }
        }
    }
}

.create-buttons {
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 1em;
}

.back-submit > div {
    margin-left: 0.5em;
}

.required {
    outline: none;
    border-color: $red;
    color: $red;
}

.invalid-message {
    color: $red;
}

// #attachment-section-body {
//     @include flex-direction(row);
// }

textarea[name = 'team-member'],
textarea[name = 'role-assignee'] {
    width: 100%;
}

div[data-element-type='search-bar'] {
    @include flex-basis(50%);
}

@media screen and (max-width: $breakpoint-one) {
    #create-idea, #create-pitch {
        select {
            width: 52%;
        }
    }
}


@media screen and (max-width: $breakpoint-two) {
    #create-main {
        .create-option-card {
            @include flex-basis(50%);
        }

        .create-option-card.disabled-module {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-three) {
    #create-idea, 
    #create-pitch, 
    #edit-idea, 
    #edit-pitch {

        select {
            width: 75%;
        }

        .disabled-module {
            display: none;
        }

        .create-option-card {
            @include flex-basis(50%);
        }
    }

    .edit-description,
    .edit-idea-description,
    .edit-pitch-description,
    .edit-text-body {
        .section-header {
            margin-top: 0em;
        }
    }

    .add-roles {
        textarea {
            width: 71%;
        }
    }
}

@media screen and (max-width: 660px) {
    #create-main {

        .create-options {
            @include flex-direction(column);
        }
    }
}

@media screen and (max-width: $breakpoint-four) {
    #create-idea, #create-pitch {

        .create-option-card {
            @include flex-basis(80%);
        }

        select {
            width: 100%;
        }
    }
}