<!DOCTYPE html>
<html>
    <head>
        {% include 'hatchinghealth/commons/header.phtml' with {page: 'browse'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include organization.organizationDomain ~ '/navigation/navigationBar.phtml' %}

        {% include organization.organizationDomain ~ '/gallery/header.phtml' %}

        <div class="content">
            <div id="browse-view" class="content-container">

                {# browse pitches view template #}
                <div data-container="pitches" class="items-container flexbox-container {{ browseTab != 'pitches' ? ' hidden' : ''}}">
                    {% for i in 1..2 %}
                        <a class="item-container invisible"></a>
                    {% endfor %}
                </div>

                {# browse projects view template #}
                <div data-container="projects" class="items-container flexbox-container {{ browseTab != 'projects' ? ' hidden' : ''}}">
                    {% for i in 1..2 %}
                        <a class="item-container invisible"></a>
                    {% endfor %}
                </div>

                {# browse people view template #}
                <div data-container="people" class="items-container flexbox-container {{ browseTab != 'people' ? ' hidden' : ''}}">
                    {% for i in 1..5 %}
                        <a class="people-card invisible"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if user.accountType != "administrator" %}
            <div id="vote-summary" class="footer-default vote-summary-bar">
                <footer data-entity-type="pitch" class="{{ user.voteCapacity.pitch.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'pitches' ? 'hidden' : ''}} flexbox-container">
                    <h4>You have used <span>{{ user.voteCapacity.pitch.votesUsed }}</span>{{ (user.voteCapacity.pitch.voteLimit is null) ? '' : '/' ~ user.voteCapacity.pitch.voteLimit }} votes</h4>
                </footer>
            </div>
        {% endif %}

        {% include organization.organizationDomain ~ '/commons/javascripts.phtml' %}
    </body>
</html>