<header class="header-browse flexbox-container">
    <ul class="browse-tabs flexbox-container">
        <li><a data-container="pitches" class="unselected {{ browseTab == 'pitches' ? ' selected' : ''}}" href="/browse/pitches">Problems</a></li>
        <li><a data-container="projects" class="unselected {{ browseTab == 'projects' ? ' selected' : ''}}" href="/browse/projects">Projects</a></li>
        <li><a data-container="people" class="unselected {{ browseTab == 'people' ? ' selected' : ''}}" href="/browse/people">People</a></li>
    </ul>

    <div class="search-bar flexbox-container hidden">
        <span class="search-icon"></span>
        <input type="search" autocomplete="on" placeholder="Search"/>
    </div>

    <div class="help-and-sort-container flexbox-container">
        <h6 class="help-link"><a href="/help"></a></h6>
        <div class="sort-by-options options flexbox-container">
            <p class="sort-by">Sort By: </p>
            <form>
                <select id="ideas-sort-options" name="sort-by-options" class="{{ browseTab != 'ideas' ? 'hidden' : ''}}">
                    <option value="most-engaged-entity" label="Most Engaged">Most Engaged</option>
                    <option value="least-engaged-entity" label="Least Engaged">Least Engaged</option>
                    <option value="newest-entity" label="Newest" selected>Newest</option>
                    <option value="oldest-entity" label="Oldest">Oldest</option>
                    <option value="entity-title-in-alphabetical" label="Title (A-Z)">Title (A-Z)</option>
                    <option value="entity-title-in-reverse" label="Title (Z-A)">Title (Z-A)</option>
                    <option value="entity-category" label="Category">Category</option>
                </select>

                {% if user.accountType == "administrator" %}
                    <select id="pitches-sort-options" name="sort-by-options" class="{{ browseTab != 'pitches' ? 'hidden' : ''}}">
                        <option value="most-liked-entity" label="Most Votes">Most Votes</option>
                        <option value="least-liked-entity" label="Least Votes">Least Votes</option>
                        <option value="most-engaged-entity" label="Most Engaged">Most Engaged</option>
                        <option value="least-engaged-entity" label="Least Engaged">Least Engaged</option>
                        <option value="newest-entity" label="Newest" selected>Newest</option>
                        <option value="oldest-entity" label="Oldest">Oldest</option>
                        <option value="entity-title-in-alphabetical" label="Title (A-Z)">Title (A-Z)</option>
                        <option value="entity-title-in-reverse" label="Title (Z-A)">Title (Z-A)</option>
                        <option value="entity-category" label="Category">Category</option>
                    </select>
                {% else %}
                    <select id="pitches-sort-options" name="sort-by-options" class="{{ browseTab != 'pitches' ? 'hidden' : ''}}">
                        <option value="most-liked-entity" label="Most Votes">Most Votes</option>
                        <option value="least-liked-entity" label="Least Votes">Least Votes</option>
                        <option value="most-engaged-entity" label="Most Engaged">Most Engaged</option>
                        <option value="least-engaged-entity" label="Least Engaged">Least Engaged</option>
                        <option value="newest-entity" label="Newest" selected>Newest</option>
                        <option value="oldest-entity" label="Oldest">Oldest</option>
                        <option value="entity-title-in-alphabetical" label="Title (A-Z)">Title (A-Z)</option>
                        <option value="entity-title-in-reverse" label="Title (Z-A)">Title (Z-A)</option>
                    </select>
                {% endif %}

                <select id="people-sort-options" name="sort-by-options" class="{{ browseTab != 'people' ? 'hidden' : ''}}">
                    <option value="newest-person" label="Newest" selected>Newest</option>
                    <option value="oldest-person" label="Oldest">Oldest</option>
                    <option value="person-name-in-alphabetical" label="Name (A-Z)">Name (A-Z)</option>
                    <option value="person-name-in-reverse" label="Name (Z-A)">Name (Z-A)</option>
                </select>
            </form>
        </div>
    {% if user.accountType == "administrator" %}
        <div class="card-view-icon"></div>
    {% endif %}
    </div>
</header>