.preview-mode {
    clear: both;
    width: auto;
}

.header-project {
    @extend .header-default;
}

.project-tabs {
    li {
        text-align: center;
        padding: 0 2em;

        a {
            @extend h4;
            line-height: $sub-nav-height - $slide-selector-height;
            margin-bottom: 1em;
        }
    }

    .unselected {
        color: $light-grey;

        &:hover {
            color: $white;
        }

        &.selected {
            @extend .bold;
            color: $white;
        }
    }
}

#idea-view,
#pitch-view,
#project-view {
    width: $content-section-width - (2 * $content-section-padding);

    h1 {
        margin: 2rem 0;
    }

    h5 {
        margin-bottom: 2rem;
    }
}

.edit-category {
    margin-bottom: 2em;

    .section-header {
        @include flex-basis(23%);
    }

    .section-body {
        @include flex-basis(77%);
        @include flex-direction(column);

        select {
            width: 50%;
        }

        .cancel-remove-button {
            margin-left: auto;
        }
    }
}

.project-champion-and-reactions {
    border-bottom: $standard-border;
    padding-bottom: 2em;
    margin-bottom: 3em;
    @include justify-content(space-between);
}

.project-champion {
    @include align-items(center);
    @include flex-basis(60%);

    .profile-image-small {
        margin-right: 1em;
    }

    h6 {
        height: $h6-line-height;
        overflow: hidden;
        white-space: pre-wrap;
    }
}

#create-view {
    overflow: hidden;

    h1 {
        display: inline-block;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        text-transform: capitalize;
        font-weight: $bold;
    }
}

.state-and-category {
    margin-top: 6em; // replace with dynamic height change
    @include align-items(center);
    @include justify-content(space-between);
}

div[data-project-section = 'description'],
div[data-project-section = 'background'],
div[data-project-section = 'stakeholder'],
div[data-project-section = 'existing-solution'],
div[data-project-section = 'market-analysis'],
div[data-project-section = 'other-information'],
div[data-project-section = 'roles'] {
    margin-bottom: 2em;
}

.section-body-team-member {
    margin-bottom: 1em;
    @include align-items(center);

    a {
        margin-left: 1em;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.section-body-role-assignment {
    margin-bottom: 1em;
    @include align-items(center);
    
    p {
        width: 25%;
    }

    div {
        margin-left: 1em;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

#attachment-section-body {
    .cancel-remove-button {
        margin-left: 1rem;
    }
}

.coming-soon-label {
    color: $grey;
    text-align: center;
    margin-bottom: 2em;
}

#gallery-container {
    margin-bottom: 1rem; 

    li {
        height: 30rem;
        width: 100%;
        background-color: $darkest-grey;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    li:not(:first-child) {
        display: hidden;
    }
}

#gallery-selector {
    margin-bottom: 1rem;
    @include flex-wrap(wrap);

    li {
        opacity: 0.25;
        height: 5rem;
        width: 19%;
        margin-right: 1rem;
        background-color: $darkest-grey;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include transition(opacity, 0.2s, ease);

        &:hover {
            opacity: 0.75;
            cursor: pointer;
        }

        &.selected {
            opacity: 1;
        }
    }
}

.comment-container {
    margin-top: 1.5rem;
    width: 100%;

    .comment-image {
        margin-right: 2%;
    }

    .comment-entry {
        width: 93%;

        .commenter {
            @include align-items(center);

            a { 
                @extend .bold;
                line-height: 1.5rem;
                margin-right: 0.5em;
                border-right: $standard-border;
                padding-right: 0.5em;
            }

            a, p {
                overflow: hidden;
            }
        }
    }
}

.comment-action {
    margin-top: 1em;
    @include justify-content(flex-end);
}

@media screen and (max-width: $breakpoint-two) {
    .project-tabs {
        li {
            padding: 0 1em;
        }
    }

    #idea-view,
    #pitch-view,
    #project-view {
        width: 90%;
    }
}

@media screen and (max-width: $breakpoint-three) {
    .header-project {
        .help-link {
            display: none;
        }
    }

    .project-champion-and-reactions {
        display: block;
        @include flex-direction(column);

        .project-champion {
            margin-bottom: 1.5em;
        }
    }
}

@media screen and (max-width: 660px) {
    .project-tabs {
        display: none !important;
    }
}