<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/javascripts/vendor/jquery-2.2.2.min.js"></script>
</head>
<body>
    <h1>Export Controller</h1>
    <select id="organization-selector" name="organization">
            <option disabled selected>Choose an Organization</option>
        {% for organization in organizations %}
            <option value="{{ organization.organizationDomain }}">{{ organization.organization }}</option>
        {% endfor %}
    </select>
    <button>Download Pitches</button>
    <script type="text/javascript">
        $(document).ready(function() {
            $("button").on("click", function() {
                var organizationId = $("select").val();
                if (organizationId) {
                    var requestURL = "/download/pitches/organization/" + organizationId;
                    $.ajax({
                        type: "GET",
                        url: requestURL
                    });
                }
            });
        });
        // document.addEventListener("DOMContentLoaded", function(event) {
        //     var downloadButton = document.querySelector("button");
        //     downloadButton.addEventListener("click", function(event) {
        //         var selector = document.getElementById("organization-selector");
        //         console.log(selector.value);

        //         var ajax = new XMLHttpRequest();
        //         ajax.addEventListener("load", function(event) {
        //             console.log(this);
        //         });

        //         var url = "/download/pitches/organization/" + selector.value;
        //         ajax.open("GET", url, true);
        //         ajax.send();
        //     });
        // });
    </script>
</body>
</html>