<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'bizhacks/navigation/navigationBar.phtml' with {selected: 'create'} %}
        
        <header class="header-default user-controls flexbox-container">
            <p><a href="/create">Create</a> > <b>Create an Idea</b></p>
            <h6 class="help-link"><a href="/help"></a></h6>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <a href="/create"><button>back</button></a>
                </div>
                <div class="closed-button submission">
                    <button id="submit">submit</button>
                </div>
            </div>  
        </header>
        <div id="create-idea" class="create content">
            <h1>Create an Idea</h1>
            <div class="create-idea" spellcheck="true">
                <div id="create-idea-form">
                    <div class="create-title section-container flexbox-container">
                        <h2 class="section-header">Title</h2>
                        <div class="section-body flexbox-container">
                            <textarea name="title" required maxlength="255" autofocus="true" rows="1" placeholder="Give your idea a meaningful title!"></textarea>
                            <h6 class="invalid-message hidden">* An idea needs a title!</h6>
                        </div>
                    </div>

                    <div class="create-one-liner section-container flexbox-container">
                        <h2 class="section-header">Idea</h2>
                        <div class="section-body flexbox-container">
                            <p>What is the problem you are trying to solve? What opportunities in the world are you interested in discussing? If you have a pitch, select Pitch on the previous page. </p>
                            <textarea name="idea" required rows="2" placeholder="Try phrasing it into a question such as &quot;How might we... ?&quot;"></textarea>
                            <h6 class="invalid-message hidden">* The idea is required!</h6>
                        </div>
                    </div>

                    {# Replaced Category with Theme #}
                    <div class="create-category section-container flexbox-container">
                        <h2 class="section-header">Theme</h2>
                        <div class="section-body flexbox-container">
                            <form>
                                <select name="categories">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ loop.first ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                {# Add Content Button #}
                <div class="create-buttons flexbox-container">
                    <div class="open-button add">
                        <button class="add-content">+ Add Content</button>
                    </div>
                </div>

                {% include 'default/entity/components/addContent.phtml' with {
                        'options': ['description', 'background', 'otherInformation'], 
                        entity: {entityType: 'idea'}
                    } 
                %}
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>