<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'bizhacks/navigation/navigationBar.phtml' with {selected: 'create'} %}
        
        <header class="header-default user-controls flexbox-container">
            <p><a href="/create">Create</a> > <b>Create a Pitch</b></p>
            <h6 class="help-link"><a href="/help"></a></h6>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <a href="/create"><button>back</button></a>
                </div>
                <div class="closed-button submission">
                    <button id="submit">submit</button>
                </div>
            </div>
        </header>
        <div id="create-project" class="create content">
            <h1>Create a Pitch</h1>
            <div class="create-project" spellcheck="true">
                <div id="create-project-form">
                    <div class="create-title section-container flexbox-container">
                        <h2 class="section-header">Title</h2>
                        <div class="section-body flexbox-container">
                            <textarea name="title" required maxlength="255" autofocus="true" rows="1" placeholder="Give your pitch a title!"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your pitch title blank!</h6>
                        </div>
                    </div>

                    <div class="create-one-liner section-container flexbox-container">
                        <h2 class="section-header">Pitch</h2>
                        <div class="section-body flexbox-container">
                            <p>What did you and your team make?</p>
                            <textarea name="summary" required rows="2" placeholder="Try phrasing it into a statement such as &quot;We have developed...&quot;"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your pitch blank!</h6>
                        </div>
                    </div>

                    {# Replaced Category with Theme #}
                    <div class="create-category section-container flexbox-container">
                        <h2 class="section-header">Theme</h2>
                        <div class="section-body flexbox-container">
                            <select name="categories">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ loop.first ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="add-team-members section-container flexbox-container">
                        <h2 class="section-header">Team Members</h2>
                        <div class="section-body flexbox-container">
                            <p>Build your team by typing in their name and clicking on their suggestion.</p>
                            <div class="add-team-member-button open-button">
                                <button>+ Add a Team Member</button>
                            </div>
                            <ul id="team-members"></ul>
                        </div>
                    </div>

                    <div class="add-roles section-container flexbox-container">
                        <h2 class="section-header">Roles</h2>
                        <div class="section-body flexbox-container">
                            <p>Add a Role and assign your team members roles by clicking on their image!</p>
                            <div class="add-role-button open-button">
                                <button>+ Add a Role</button>
                            </div>
                            <ul id="roles"></ul>
                        </div>
                    </div>

                    <div class="add-content-head edit-text-body section-container flexbox-container">
                        <h2 class="section-header">Attachments</h2>
                        <div id="attachment-section-body" class="section-body flexbox-container">
                            <p>Choose a picture, powerpoint or pdf to upload! <b>Attachments that are larger than 100MB are skipped.</b></p>
                            <div class="open-button upload-button">
                                <button type="button">+ Add an Attachment</button>
                                <input name="upload-attachment-button" type="file" multiple class="hidden">
                            </div>
                            <ul id="attachments"></ul>
                        </div>
                    </div>
                </div>

                {# Add Content Button #}
                <div class="create-buttons flexbox-container">
                    <div class="open-button add">
                        <button class="add-content">+ Add Content</button>
                    </div>
                </div>

                {% include 'default/entity/components/addContent.phtml' with {
                        'options': ['description', 'background', 'stakeholder', 'existingSolution', 'marketAnalysis', 'otherInformation'], 
                        entity: {entityType: 'pitch'}
                    } 
                %}
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
        <script type="text/javascript" src="/javascripts/gravit8/custom/bizhacks/createProject.js"></script>
    </body>
</html>