<a href="/create/project" class="create-option-card hidden" data-card-option="pitch">
    <h2>Pitch</h2>
    <p>A pitch is the final product or service that you have been involved in creating.</p>
</a>