#navigation-sidebar-icon {
    margin: 2rem;
    cursor: pointer;
    display: none;

    &.selected {
        color: $light-blue;
    }
}

#navigation-sidebar {
    display: none;
    position: fixed;
    top: $navigation-bar-height;
    right: 0;
    left: 0;
    width: 100%;
    background-color: $light-blue;

    ul {
        padding: 1em 4em;
    }

    li {
        padding: 1em;
    }

    .nav-sub-option {
        margin-left: 1.5em;
    }

    a {
        color: $white;
    }
}

.navigation-sidebar-category-container {
    a {
        width: 100%;
        display: inline-block;
        padding: 1rem 0;
        padding-left: 2rem;
        background-color: transparent;
        @include transition(background-color,0.2s,ease);
        @extend .uppercase;
        @extend .bold;

        &:hover, &.selected {
            background-color: $light-blue;
            @extend .no-underline-selector;
        }
    }

    .sub-categories {
        a {
            padding-left: 4rem;
            font-weight: $regular;
        }
    }
}

@media screen and (max-width: $breakpoint-three) {
    #navigation-sidebar-icon,
    #navigation-sidebar {
        display: inline-block;
    }
}