.home-bar {
    height: $navigation-bar-height;
    width: 98%;
    position: fixed;
    top: 0;
    z-index: 100;
    @include align-items(center);
    @include justify-content(space-between);

    .logo-container a {
       color: white;
    }

    ul {
        @include align-items(center);
        @include flex-direction(row);

        li {
            padding: 0 2rem;

            .closed-button button {
                border: 1px solid $white;
                color: white;
            }
        }
    }
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    border-bottom: $standard-border;
    z-index: 100;
    height: $navigation-bar-height;
    @include align-items(center);

    .navigation-bar-category-container {
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-basis(100% - 2 * $navigation-sidebar-width);

        & > ul {
            @extend .flexbox-container;
            @include align-items(center);
            
            & li {
                padding: 0 2rem;

                a {
                    color: $dark-grey;
                }

                a:hover, b:hover {
                    color: $light-blue;
                }
            }
        }

        .organization-name {
            color: $light-blue;
            text-align: center;
        }

        .nav-profile {
            @include align-items(center);
        }

        .profile-image {
            margin-right: 1em;
            @extend .profile-image-icon;
        }
    }

    &#landing-bar {
        border-bottom: none;
        background-color: transparent;

        h4 {
            color: $dark-grey;
        }
    }
}

.logo-container {
    @include flex-basis($navigation-sidebar-width);
    @include align-items(center);

    a {
        color: $light-blue;
        cursor: pointer;
        margin-left: 0.5em;
    }
}

@media screen and (max-width: $breakpoint-one) {
    .navigation-bar:not(#landing-bar) .nav-profile .profile-image-icon {
        margin-right: 1.5em;
        height: 2.5vw;
        width: 2.5vw;
        line-height: 2.5vw;
    }

    #landing-bar h4 {
        padding: 0 1em;
    }
}

@media screen and (max-width: $breakpoint-two) {
    .navigation-bar:not(#landing-bar) .nav-profile .profile-image-icon {
        margin-right: 2em;
        height: 3vw;
        width: 3vw;
        line-height: 3vw;
    }

    .navigation-bar-category-container li {
        padding: 0 1em;
    }
}

@media screen and (max-width: $breakpoint-three) {
    .navigation-bar:not(#landing-bar) {
        @include justify-content(space-between);

        .navigation-bar-category-container ul {
            display: none;
        }

        h4 {
            margin-left: 1em;
            color: $grey;
        }
    }
}