.dropline-contents {
	@extend .flexbox-container;
	margin-top: 0.75rem;
	margin-left: -1rem;
	position: fixed;
	background-color: $grey;
	padding: 0.5rem 1rem;
	@include box-shadow(0px 2px 4px $shadow-colour-dark);

	& > ul {
		@extend .flexbox-container;
		@include flex-direction(column);

		& > li {
			display: inline-block;
			padding: 0.5rem 0;

			h3:hover,
			a:hover {
				color: $font-white;
			}

			ol li a {
				@extend .capitalize;
			}
		}
	}
}