.notifications {
    .dropdown-contents {
        margin-top: 0.75rem;
        right: -50%;
        background-color: transparent;
    }
}

.dropdown-menu {
    position: relative;
    @include flex-direction(column);

    .dropdown-contents {
        position: absolute;
        width: 200%;

        .dropdown-content-container {
            display: block;
            min-height: 2rem;
            max-height: 40rem;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: $lightest-grey;
            @include box-shadow(0px 5px 8px $shadow-colour-dark);
            @include transition(display, 0.2s, ease);

            .dropdown-content {
                padding-right: 0rem;
                padding-left: 0rem;
            }
        }
    }
}

.notification-info {
	@include flex-direction(column);
	width: 70%;
	margin-left: 0.7rem;
}

.icon-and-name {
    @include align-items(center);
    height: 3rem;

    .icon.update-icon {
        margin: 0.5rem;
    }

    .name {
        position: relative;
        height: 1.2rem;
        overflow: hidden;
        @include flex-basis(85%);
    }

    .name:after {
        @extend .text-overflow;
        height: 1.2rem;
        @include linear-gradient(90deg, transparent, $lightest-grey);
    }
}

.notification-message {
    padding: 1em;

    a {
        font-weight: lighter;
    }

    .buttons-container {
        padding: 1rem;
        padding-top: 0rem;
    }
}