<script type="text/template" id="person-card-template">
    <a href="/people/<%= person.id %>" class="people-card">
        <div class="profile-image-medium <%= !person.imagePath ? '' : 'hidden' %>"><%= person.initials %></div>
        <div class="profile-image-medium <%= !person.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= person.imagePath %>)"></div>
        <h6 class="person-name"><%= person.firstName %> <%= person.lastName %></h6>
        <p class="person-title"><%= person.title %></p>
    </a>
</script>