<div id="edit-idea" class="hidden" spellcheck="true">
    <h1>Edit Your Idea</h1>
    <div id="edit-idea-form">

        {# Idea Title #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Title</h2>
            <div class="section-body flexbox-container">
                <textarea name="title" required maxlength="255" rows="1" placeholder="Give your idea a meaningful title!"">{{ idea.title }}</textarea>
                <h6 class="invalid-message hidden">* An idea needs a title!</h6>
            </div>
        </div>

        {# Idea #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Idea</h2>
            <div class="section-body flexbox-container">
                <p>What is the problem you are trying to solve? What opportunities in the world are you interested in discussing?</p>
                <textarea name="idea" required rows="2" placeholder="What's your idea? Try phrasing it into a question such as &quot;How might we... ?&quot;">{{ idea.idea }}</textarea>
                <h6 class="invalid-message hidden">* An idea needs an idea!</h6>
            </div>
        </div>

        {# Replaced Category with Theme #}
        <div class="edit-category section-container flexbox-container">
            <h2 class="section-header">Theme</h2>
            <div class="section-body flexbox-container">
                <form>
                    {% for entityCategory in idea.categories %}
                        <select name="categories" data-entity-content-id="{{ entityCategory.id }}">
                            {% for category in categories %}
                                <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ (entityCategory.categoryId == category.id) ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                </form>
            </div>
        </div>

        {# Additional Contents #}
        {# Description #}
        {% if (idea.description is not null) %}
            {% include 'default/entity/components/contents/fields/description/editDescription.phtml' with {entity: idea} %}
        {% endif %}

        {# Background #}
        {% if (idea.background is not null) %}
            {% include 'default/entity/components/contents/fields/background/editBackground.phtml' with {entity: idea} %}
        {% endif %}

        {# Other Information #}
        {% if (idea.otherInformation is not null) %}
            {% include 'default/entity/components/contents/fields/otherInformation/editOtherInformation.phtml' with {entity: idea} %}
        {% endif %}
    </div>

    {# Add Content Button #}
    <div class="create-buttons flexbox-container">
        <div class="open-button add">
            <button class="add-content" type="button">+ Add Content</button>
        </div>
    </div>

    {% include 'default/entity/components/addContent.phtml' with {
            options: ['description', 'background', 'otherInformation'], 
            entity: idea
        } 
    %}
</div>