<div id="add-background-button" class="create-option-card {{ (entity.background is empty) ? '' : 'disabled-module' }}" {{ (entity.background is empty) ? '' : 'data-module-disabled' }}>
    <h6>Background</h6>
    <p>What was the inspiration behind your {{ entity.entityType }}?</p>
</div>