<div id="add-description-button" class="create-option-card {{ (entity.description is null) ? '' : 'disabled-module' }}" {{ (entity.description is null) ? '' : 'data-module-disabled' }}>
    <h6>Description</h6>
    <p>Add some more context to your {{ entity.entityType }}!</p>
</div>