<div id="add-existing-solution-button" class="create-option-card {{ (entity.existingSolution is empty) ? '' : 'disabled-module' }}" {{ (entity.existingSolution is empty) ? '' : 'data-module-disabled' }}>
    <h6>Existing Solutions</h6>
    <p>What is currently being done about your {{ entity.entityType }}?</p>
</div>