<div id="add-market-analysis-button" class="create-option-card {{ (entity.marketAnalysis is empty) ? '' : 'disabled-module' }}" {{ (entity.marketAnalysis is empty) ? '' : 'data-module-disabled' }}>
    <h6>Market Analysis</h6>
    <p>How does the market for your {{ entity.entityType }} look like?</p>
</div>