<div id="add-other-information-button" class="create-option-card {{ (entity.otherInformation is empty) ? '' : 'disabled-module' }}" {{ (entity.otherInformation is empty) ? '' : 'data-module-disabled' }}>
    <h6>Other Information</h6>
    <p>Anything else you want to add?</p>
</div>