<div id="add-stakeholder-button" class="create-option-card {{ (entity.stakeholder is empty) ? '' : 'disabled-module' }}" {{ (entity.stakeholder is empty) ? '' : 'data-module-disabled' }}>
    <h6>Stakeholders</h6>
    <p>Who is or will be affected by your {{ entity.entityType }}?</p>
</div>