<header class="header-project flexbox-container">
    <p data-section="breadcrumb"><a href="/browse/">Explore</a> &gt; <a href="/browse/ideas/">Ideas</a> &gt; <b>{{ entity.title }}</b></p>
    <div class="user-controls flexbox-container">
        <h6 class="help-link"><a href="/help"></a></h6>

        {#
        <div class="closed-button">
            <button>Add Progression</button>
        </div>
        #}

        {% if (user.id == entity.creator.id) %}
            <div class="closed-button">
                <button id="edit-entity-button">Edit Page</button>
            </div>

            <div class="back-submit flexbox-container hidden">
                <div class="closed-button back-button">
                    <button id="cancel-edit-idea-button" type="button">cancel</button>
                </div>
                <div class="closed-button submission">
                    <button id="submit-edits" type="button">submit changes</button>
                </div>
            </div>
        {% endif %}
    </div>
</header>