<script type="text/template" id="profile-image-template">
    <div class="<%= imageSizeClass || 'profile-image'%> <%= person.imagePath ? 'hidden' : '' %>"><%= person.initials %></div>
    <div class="<%= imageSizeClass || 'profile-image'%> <%= person.imagePath ? '' : 'hidden' %>" style="background-image: url(<%= person.imagePath %>)"></div>
</script>