<script type="text/template" id="search-people-result-template">
    <li data-person-id="<%= person.id %>">
        <div class="person-suggestion flexbox-container">
            <div class="profile-image-small comment-image <%= !person.imagePath ? '' : 'hidden' %>"><%= person.initials %></div>
            <div class="profile-image-small comment-image <%= !person.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= person.imagePath %>)"></div>

            <div class="profile-information flexbox-container">
                <h6><%= person.firstName %> <%= person.lastName %></h6>
                <p><%= person.title %></p>
            </div>
        </div>
    </li>
</script>