<script type="text/template" id="search-bar-template">
    <div data-element-type="search-bar">
        <div class="search-bar flexbox-container">
            <span class="search-icon <%= options.includeSearchIcon ? '' : 'hidden' %>"></span>
            <textarea name="<%= options.name %>" placeholder="<%= options.placeholder %>" rows="1" maxlength="255"></textarea>
        </div>
        <div class="search-suggestions">
            <ul></ul>
        </div>
    </div>
</script>