<a href="/create/idea" class="create-option-card">
    <h2>Idea</h2>
    <p>An idea is a thought you have or an opportunity you are interested in. Choose this if you want to get a conversation going!</p>
</a>