<a href="/create/pitch" class="create-option-card">
    <h2>Pitch</h2>
    <p>A pitch is a potential solution to a problem you would like explore. Choose this if you want to get a team together!</p>
</a>