<script type="text/template" id="add-description-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Description</h2>
            <div class="section-body flexbox-container">
                <div class="flexbox-container">
                    <p>What are the different perspectives of this topic? Is there any historical context you want to address?</p>
                    <div class="open-button cancel-remove-button">
                        <button type="button">Remove</button>
                    </div>
                </div>
                <textarea name="description" required autofocus="true" rows="4" placeholder="Add some content here!"></textarea>
            </div>
        </div>
    </div>
</script>