<div data-project-section="description" class="section-container flexbox-container">
    <h2 class="section-header">Description</h2>
    <p class="section-body">{{ entity.description.value }}</p>
</div>