<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'create'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' with {selected: 'create'} %}
        
        <header class="header-default user-controls flexbox-container">
            <h6 class="help-link"><a href="/help"></a></h6>
        </header>
        <div id="create-main" class="create content">
            <h1>What do you want to create?</h1>
            <div class="create-options flexbox-container">
                {% include 'default/entity/components/createEntityCards/createIdeaCard.html' %}
                {% include 'default/entity/components/createEntityCards/createPitchCard.html' %}
                {% include 'default/entity/components/createEntityCards/createProjectCard.html' %}
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>