<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'dashboard'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' %}
        <header class="header-default name"><h1>dashboard</h1></header>
        <div class="shrink-height-adjust"></div>
        <div class="content">
            <div id="dashboard-view" class="content-container">
                <div>
                    <div class="my-projects flexbox-container">
                    {% if (dashboard.projectCollection.all is empty) %}
                        <h5 class="warning-message">You are not involved in any ideas or projects yet. <br><br> To create a new idea, click on CREATE. To view current ideas and projects, click on BROWSE.
                        </h5>
                    {% else %}
                        <div class="project-list">
                            {% for project in dashboard.projectCollection.all | reverse %}
                                <div class="project-list-entry {{ project.categories[0]|replace({'_': '-'}) }}-category">
                                    <div class="dot {{ project.status }}"></div>
                                    <h2 data-project-id="{{ project.id }}" class="name">{{ project.name }}</h2>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="project-cards flexbox-container">
                            <div id="project-card-landing">
                                <h1>Select a Project</h1>
                                <h5>To view a project, click on its name from the menu to the left.</h5>
                            </div>
                            {% for project in dashboard.projectCollection.all %}
                                <div data-project-id="{{ project.id }}" class="project-card flexbox-container">
                                    <div class="card-name-and-category">
                                        <h1><a href="/project/{{project.id}}">{{ project.name }}</a></h1>
                                        {% include 'default/entity/components/categoryTags.phtml' %}
                                    </div>
                                    <div class="card-info-and-updates">
                                        <div class="card-info">
                                            <h6>Started by <a href="/people/{{project.champion.id}}">{{ project.champion.name }}</a></h6>
                                            <div class="info-set">
                                                <h6>Status: <h6 class="{{ project.status }}"> {{ project.status }}</h6></h6>
                                                <h6>Stage: {{project.stage}}</h6>
                                            </div>
                                            <div class="info-set">
                                                <h6>Created on: {{ project.createdOn|date(timeFormat, 'America/Vancouver') }}</h6>
                                                <h6>Released on: {{ project.releaseDate|date(timeFormat, 'America/Vancouver') }}</h6>
                                                <h6>Project ends on: {{ project.deadline|date(timeFormat, 'America/Vancouver') }}</h6>
                                            </div>
                                            <div class="info-set">
                                                <h6>Contributors: {{ project.numberOfContributors }}</h6>
                                            </div>
                                        </div>
                                        <div class="card-updates flexbox-container">
                                            <h2>Updates</h2>
                                            <ul>
                                            {% for update in notifications %}
                                                {% if update.isProjectUpdate and (update.project.id == project.id) %} 
                                                <li>
                                                    <div class="update-message flexbox-container">
                                                        <div class="icon update-icon {{ update.eventType|replace({'_': '-'}) }}-icon"></div>
                                                        <h6>{{ update.message }}</h6>
                                                    </div>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'default/commons/javascripts.phtml' with {page: 'dashboard'} %}
    </body>
</html>
