<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' with {selected: 'explore'} %}
        {% include 'default/entity/components/idea/userControls.phtml' with {entity: idea} %}

        <div id="idea-view" class="content">
            <div id="published-idea">
                {# champion and reactions #}
                {% include 'default/entity/components/championAndReactions.phtml' with {entity: idea} %}

                {# header - title and project categories #}
                <div data-project-section="categories" class="flexbox-container">
                    {% include 'default/entity/components/categoryTags.phtml' with {entity: idea} %}
                </div>

                <h1 data-section="title">{{ idea.title }}</h1>
                <h5 data-section="one-liner">{{ idea.idea }}</h5>

                {# Description #}
                {% if (idea.description is not null) %}
                    {% include 'default/entity/components/contents/fields/description/description.phtml' with {entity: idea} %}
                {% endif %}

                {# Background #}
                {% if (idea.background is not null) %}
                    {% include 'default/entity/components/contents/fields/background/background.phtml' with {entity: idea} %}
                {% endif %}

                {# Stakeholders #}
                {% if (idea.stakeholder is not null) %}
                    {% include 'default/entity/components/contents/fields/stakeholder/stakeholder.phtml' with {entity: idea} %}
                {% endif %}

                {# Existing Solutions/Current Options #}
                {% if (idea.existingSolution is not null) %}
                    {% include 'default/entity/components/contents/fields/existingSolution/existingSolution.phtml' with {entity: idea} %}
                {% endif %}

                {# Market Analysis #}
                {% if (idea.marketAnalysis is not null) %}
                    {% include 'default/entity/components/contents/fields/marketAnalysis/marketAnalysis.phtml' with {entity: idea} %}
                {% endif %}

                {# Other Information #}
                {% if (idea.otherInformation is not null) %}
                    {% include 'default/entity/components/contents/fields/otherInformation/otherInformation.phtml' with {entity: idea} %}
                {% endif %}

                {# comments #}
                {% include 'default/entity/components/commentControl.phtml' with {entity: idea} %}
            </div>

            {% if (user.id == idea.creator.id) %}
                {% include 'default/entity/components/idea/editIdea.phtml' %}
            {% endif %}
        </div>

        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
