<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' with {selected: 'explore'} %}
        {% include 'default/entity/components/pitch/userControls.phtml' with {entity: pitch} %}

        <div id="pitch-view" class="content">
            <div id="published-pitch">
                {# champion and reactions #}
                {% include 'default/entity/components/championAndReactions.phtml' with {entity: pitch} %}

                {# header - title and entity categories #}
                <div data-project-section="categories" class="flexbox-container">
                    {% include 'default/entity/components/categoryTags.phtml' with {entity: pitch} %}
                </div>

                <h1 data-section="title">{{ pitch.title }}</h1>
                <h5 data-section="one-liner">{{ pitch.pitch }}</h5>

                {# Roles #}
                {% if (pitch.roles is not empty) %}
                    {% include 'default/entity/components/pitch/pitchRoles.phtml' %}
                {% endif %}

                {# Description #}
                {% if (pitch.description is not null) %}
                    {% include 'default/entity/components/contents/fields/description/description.phtml' with {entity: pitch} %}
                {% endif %}

                {# Background #}
                {% if (pitch.background is not null) %}
                    {% include 'default/entity/components/contents/fields/background/background.phtml' with {entity: pitch} %}
                {% endif %}

                {# Stakeholders #}
                {% if (pitch.stakeholder is not null) %}
                    {% include 'default/entity/components/contents/fields/stakeholder/stakeholder.phtml' with {entity: pitch} %}
                {% endif %}

                {# Existing Solutions/Current Options #}
                {% if (pitch.existingSolution is not null) %}
                    {% include 'default/entity/components/contents/fields/existingSolution/existingSolution.phtml' with {entity: pitch} %}
                {% endif %}

                {# Market Analysis #}
                {% if (pitch.marketAnalysis is not null) %}
                    {% include 'default/entity/components/contents/fields/marketAnalysis/marketAnalysis.phtml' with {entity: pitch} %}
                {% endif %}

                {# Other Information #}
                {% if (pitch.otherInformation is not null) %}
                    {% include 'default/entity/components/contents/fields/otherInformation/otherInformation.phtml' with {entity: pitch} %}
                {% endif %}

                {# comments #}
                {% include 'default/entity/components/commentControl.phtml' with {entity: pitch} %}
            </div>

            {% if (user.id == pitch.creator.id) %}
                {% include 'default/entity/components/pitch/editPitch.phtml' %}
            {% endif %}
        </div>

        <div id="vote-summary" class="footer-default vote-summary-bar">
            <footer data-entity-type="pitch" class="{{ user.voteCapacity.pitch.votesRemaining is same as(0) ? 'limit-reached' : '' }} flexbox-container">
                <h4>You have used <span>{{ user.voteCapacity.pitch.votesUsed }}</span>{{ (user.voteCapacity.pitch.voteLimit is null) ? '' : '/' ~ user.voteCapacity.pitch.voteLimit }} votes</h4>
            </footer>
        </div>

        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
