<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' with {selected: 'explore'} %}
        {% include 'default/entity/components/project/userControls.phtml' with {entity: project} %}

        <div id="project-view" class="content">
            <div id="published-project">
                {# champion and reactions #}
                {% include 'default/entity/components/championAndReactions.phtml' with {entity: project} %}

                {# header - title and project categories #}
                <div data-project-section="categories" class="flexbox-container">
                    {% include 'default/entity/components/categoryTags.phtml' with {entity: project} %}
                </div>

                <h1 data-section="title">{{ project.title }}</h1>
                <h5 data-section="one-liner">{{ project.summary }}</h5>

                {% if (project.description is not null) %}
                    {% include 'default/entity/components/contents/fields/description/description.phtml' with {entity: project} %}
                {% endif %}

                {% if (project.teamMembers is not empty) %}
                    {% include 'default/entity/components/project/projectTeamMembers.phtml' %}
                {% endif %}

                {% if (project.roles is not empty) %}
                    {% include 'default/entity/components/project/projectRoles.phtml' %}
                {% endif %}

                {% if (project.background is not null) %}
                    {% include 'default/entity/components/contents/fields/background/background.phtml' with {entity: project} %}
                {% endif %}

                {% if (project.existingSolution is not null) %}
                    {% include 'default/entity/components/contents/fields/existingSolution/existingSolution.phtml' with {entity: project} %}
                {% endif %}

                {% if (project.stakeholder is not null) %}
                    {% include 'default/entity/components/contents/fields/stakeholder/stakeholder.phtml' with {entity: project} %}
                {% endif %}

                {% if (project.marketAnalysis is not null) %}
                    {% include 'default/entity/components/contents/fields/marketAnalysis/marketAnalysis.phtml' with {entity: project} %}
                {% endif %}

                {% if (project.otherInformation is not null) %}
                    {% include 'default/entity/components/contents/fields/otherInformation/otherInformation.phtml' with {entity: project} %}
                {% endif %}

                {% if ((project.attachments.images is not empty) or (project.attachments.others is not empty)) %}
                    {% include 'default/entity/components/contents/fields/attachment/attachment.phtml' %}
                {% endif %}

                {# comments #}
                {% include 'default/entity/components/commentControl.phtml' with {entity: project} %}
            </div>

            {% if (user.id == project.creator.id) %}
                {% include 'default/entity/components/project/editProject.phtml' %}
            {% endif %}
        </div>

        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
