.edit-icon {
    display: inline-block;
    background-image: url('/images/Edit.png');
    height: 20px;
    width: 20px;
    @include align-self(center);
    
    &:hover {
        cursor: pointer;
    }
}

.experience-container {
    .edit-icon {
        @include align-self(flex-start);
    }
}

.experience-container.edit-mode {
    visibility: hidden;
    height: auto;
    margin-bottom: 6rem;
}

.edit-controller {
    display: none;
    width: 100%;
    height: auto;

    &.edit-mode {
        display: block;
    }

    textarea {
        @include box-sizing(border-box);
        width: 100%;
        height: 100%;
        min-height: 2.4rem;
    }
}

.edit-title {
    .edit-controller {
        height: 2.5rem;
    }
}

.description {
    .edit-controller {
        textarea {
            height: 8rem;
        }
    }
}

.edit-name {
    .edit-controller {
        height: 2.5rem;

        &.edit-mode {
            display: block;
            margin-top: -2rem;
            margin-bottom: 3rem;
        }
    }
}

// Edit Experiences Section
.edit-controller.edit-experiences {
    &.edit-mode {
        position: absolute;
        display: block;
        width: 88%;
    }
}

.scenarios {
    .edit-controller > textarea {
        height: 10rem;

        &:last-of-type {
            margin-bottom: 0rem;
        }
    }
}