<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'browse'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'codehack-2019/navigation/navigationBar.phtml' with {selected: 'explore'} %}

        {% include 'codehack-2019/gallery/header.phtml' %}
        <div class="content">
            <div id="browse-view" class="content-container">
                {# browse pitches view template #}
                <div data-container="pitches" class="items-container flexbox-container {{ browseTab != 'pitches' ? ' hidden' : ''}}">
                    {% for i in 1..2 %}
                        <a class="item-container invisible"></a>
                    {% endfor %}
                </div>

                {# browse people view template #}
                <div data-container="people" class="items-container flexbox-container {{ browseTab != 'people' ? ' hidden' : ''}}">
                    {% for i in 1..5 %}
                        <a class="people-card invisible"></a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="vote-summary" class="footer-default vote-summary-bar">
            <footer data-entity-type="pitch" class="{{ user.voteCapacity.pitch.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'pitches' ? 'hidden' : ''}} flexbox-container">
                <h4>You have used <span>{{ user.voteCapacity.pitch.votesUsed }}</span>{{ (user.voteCapacity.pitch.voteLimit is null) ? '' : '/' ~ user.voteCapacity.pitch.voteLimit }} votes</h4>
            </footer>
        </div>

{# TODO: generalize the vote summary bar #}
{#
        <div id="vote-summary" class="footer-default vote-summary-bar">
            <footer data-entity-type="idea" class="{{ user.voteCapacity.idea.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'ideas' ? 'hidden' : ''}} flexbox-container">
                <h4>You have used <span>{{ user.voteCapacity.idea.votesUsed }}</span>{{ (user.voteCapacity.idea.voteLimit is null) ? '' : '/' ~ user.voteCapacity.idea.voteLimit }} votes</h4>
            </footer>
            <footer data-entity-type="pitch" class="{{ user.voteCapacity.pitch.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'pitches' ? 'hidden' : ''}} flexbox-container">
                <h4>You have used <span>{{ user.voteCapacity.pitch.votesUsed }}</span>{{ (user.voteCapacity.pitch.voteLimit is null) ? '' : '/' ~ user.voteCapacity.pitch.voteLimit }} votes</h4>
            </footer>
            <footer data-entity-type="project" class="{{ user.voteCapacity.project.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'projects' ? 'hidden' : ''}} flexbox-container">
                <h4>You have used <span>{{ user.voteCapacity.project.votesUsed }}</span>{{ (user.voteCapacity.project.voteLimit is null) ? '' : '/' ~ user.voteCapacity.project.voteLimit }} votes</h4>
            </footer>
        </div>

        <footer id="vote-summary" class="footer-default flexbox-container {{ user.voteCapacity.pitch.votesRemaining is same as(0) ? 'limit-reached' : '' }} {{ browseTab != 'pitches' ? ' hidden' : ''}}">
            {% for entityType, userVoteCapacity in user.voteCapacity %}
            <h4>You have used <span>{{ userVoteCapacity.votesUsed }}</span>{{ (userVoteCapacity.voteLimit is null) ? '' : '/' ~ userVoteCapacity.voteLimit }} votes</h4>
            {% endfor %}
        </footer>
#}

        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>