<header class="header-browse flexbox-container">
    <ul class="browse-tabs flexbox-container">
        <li>
            <a data-container="pitches" class="unselected {{ browseTab == 'pitches' ? ' selected' : ''}}" href="/browse/pitches">
                Pitches
                (<span data-count-pitch>0</span>)
            </a>
        </li>
        <li>
            <a data-container="people" class="unselected {{ browseTab == 'people' ? ' selected' : ''}}" href="/browse/people">
                People
                (<span data-count-user>0</span>)
            </a>
        </li>
    </ul>

{# make this into a HTML element
    <div class="search-bar flexbox-container">
        <span class="search-icon"></span>
        <input type="search" autocomplete="on" placeholder="Search"/>
        <div class="search-results">
            <ul></ul>
        </div>
    </div>

    <div data-element-type="search-bar">
        <div class="search-bar flexbox-container">
            <span class="search-icon"></span>
            <textarea name="team-member" placeholder="Who do you want to add to your team?" rows="1" maxlength="255"></textarea>
        </div>
        <div class="search-suggestions">
            <ul></ul>
        </div>
    </div>
#}

    <div class="help-and-sort-container flexbox-container">
        <h6 class="help-link"><a href="/help"></a></h6>
        <div class="sort-by-options options flexbox-container">
            <p class="sort-by">Sort By: </p>
            <form>
                <select id="pitches-sort-options" name="sort-by-options" class="{{ browseTab != 'pitches' ? 'hidden' : ''}}">
                    <option value="entity-title-in-alphabetical" label="Title (A-Z)">Title (A-Z)</option>
                    <option value="entity-title-in-reverse" label="Title (Z-A)">Title (Z-A)</option>
                    <option value="most-voted-entity" label="Most Votes">Most Votes</option>
                    <option value="least-voted-entity" label="Least Votes">Least Votes</option>
                    <option value="most-liked-entity" label="Most Popular">Most Popular</option>
                    <option value="least-liked-entity" label="Least Popular">Least Popular</option>
                    <option value="most-commented-entity" label="Most Comments">Most Comments</option>
                    <option value="least-commented-entity" label="Least Comments">Least Comments</option>
                    <option value="newest-entity" label="Newest" selected>Newest</option>
                    <option value="oldest-entity" label="Oldest">Oldest</option>
                    <option value="entity-category" label="Category">Category</option>
                </select>

                <select id="people-sort-options" name="sort-by-options" class="{{ browseTab != 'people' ? 'hidden' : ''}}">
                    <option value="newest-person" label="Newest" selected>Newest</option>
                    <option value="oldest-person" label="Oldest">Oldest</option>
                    <option value="person-name-in-alphabetical" label="Name (A-Z)">Name (A-Z)</option>
                    <option value="person-name-in-reverse" label="Name (Z-A)">Name (Z-A)</option>
                </select>
            </form>
        </div>

        {# <div class="card-view-icon"></div> #}
    </div>
</header>