<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
        
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'codehack-2019/navigation/navigationBar.phtml' %}
        <header id="help-header" class="header-help flexbox-container">
            <ul class="help-tabs flexbox-container">
                <li><a class="unselected" data-name="get-started-help-section">Get Started</a></li>
                <li><a class="unselected" data-name="explore-help-section">Explore</a></li>
                <li><a class="unselected" data-name="create-help-section">Create</a></li>
                <li><a class="unselected" data-name="edit-help-section">Edit</a></li>
                <li><a class="unselected" data-name="profile-help-section">Profile</a></li>
                <li><a class="unselected" data-name="contact-help-section">Contact</a></li>
            </ul>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <button>back</button>
                </div>
            </div> 
        </header>
        <div id="help-view">
            <div class="help-top-banner">
                <h1>Welcome to Code Hack, Island Health’s first ever hackathon!<br>Let’s get started...</h1>
            </div>
            <div class="content">
                <div id="get-started-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Get Started</h2>
                    <div class="section-body">
                        <p>Welcome to Gravit8, your Code Hack virtual community! Here you will:</p>
                        <ul>
                            <li>Set up your profile</li>
                            <li>Pitch your health care problem</li>
                            <li>View other Code Hacker’s problem pitches</li>
                            <li>Vote for your top three problem pitches</li>
                            <li>Connect with our Code Hack community</li>
                        </ul>
                    </div>
                </div>
                <div id="explore-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Explore</h2>
                    <div class="section-body">
                        <p>Click <b>Explore</b> to browse problem <b>Pitches</b> and vote! You have three votes that you can use to up-vote the problems you think we should hack together.</p>
                        <p>Under the Explore tab, you can also click on <b>People</b> to browse profiles and start to get to know our Code Hack community.</p>
                    </div>
                </div>
                <div id="create-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Create</h2>
                    <div class="section-body">
                        <p>Click on Create to upload your problem pitch. Fifteen problems will be chosen for hacking during Code Hack. There are two ways to get your problem into the game:</p>
                        <ul class="numbered-list">
                            <li>Have one of the top voted problem pitches here on Gravit8</li>
                            <li>Be chosen wildcard style to pitch on the day of Code Hack</li>
                        </ul>
                        <p><b>Please note:</b> not all problems pitched will be hacked during Code Hack. Problems will be selected by our community through online voting and also in person during a wildcard round during problem pitching at Code Hack.  So make your pitch excellent! Include context, background information, and a detailed description of the problem as you see it. Don’t propose solutions; that’s the work we’ll do together.</p>
                    </div>
                </div>
                <div id="edit-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Edit</h2>
                    <div class="section-body">
                        <p>Want to make a couple of changes? Editing your pitch is easy. Simply go to the header of the pitch page and click on <b>Edit Pitch</b>. After you are done, click on <b>Submit Changes</b> to finalize the changes.</p>
                    </div>
                </div>
                <div id="profile-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Profile</h2>
                    <div class="section-body">
                        <p>Who wants to work on something? Profile pages are the best way to get to know who's here and a great way to start off conversations or find people for your team. As soon as you sign up, you will be taken to your profile page where you can start filling it in with information.</p>
                        <p>To <b>edit your profile</b>, simply click on <b>Edit Profile</b>. You can change your profile picture, name and title. You also have the option of adding in a small biography of yourself and social media links using the <b>+ Add Content</b> button. When you are done, click on <b>Submit Changes</b> to finalize your changes.</p>
                    </div>
                </div>
                <div id="contact-help-section" class="flexbox-container">
                    <h1>Have a Question? Contact Us!</h1>
                    <div class="contact-us flexbox-container">
                        <div class="flexbox-container">
                            <div class="email-icon"></div>
                            <p><a href="mailto:codehack@viha.ca">codehack@viha.ca</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
