{# Landing page navigation bar template #}
<nav id="landing-bar" class="navigation-bar flexbox-container">
    <div class="logo-container flexbox-container">
        <div class="gravit8-logo-icon"></div>
        <a href="/browse">Gravit8</a>
    </div>
    <h4 class="organization-name">Hatching Health &amp; PHIX Present: The Great Hatch</h4>
</nav>