<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'landing'} %}
    </head>
    <body id="landing-page" {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {% include 'hatchinghealth/landing/landingBar.phtml' %}

        <div class="landing-page-content">
            <div class="landing-introduction">
                <h6 class="bold">Reset Your Password</h6>
                <p>Enter your email, your new password and your unique reset key.</p>
            </div>
            {# feedback message to tell users that caps lock is on #}
            <div id="caps-lock-feedback" class="invalid-feedback-bubble hidden">
                <h6 class="warning-error">WARNING:</h6>
                <p class="invalid-feedback">Hey, your Caps Lock is on!</p>
            </div>

            {# feedback message to tell users that their confirm passwords are different than their intended passwords #}
            <div id="password-not-match-feedback" class="invalid-feedback-bubble {{ showWarnings.passwordsMismatch ? '' : 'hidden' }}">
                <h6 class="warning-error">WARNING:</h6>
                <p class="invalid-feedback">Your passwords don't match!</p>
            </div>

            <div id="password-not-match-feedback" class="invalid-feedback-bubble {{ showWarnings.accountExists ? 'hidden' : '' }}">
                <h6 class="warning-error">WARNING:</h6>
                <p class="invalid-feedback">This account doesn't exists. Are you sure you typed in the right email?</p>
            </div>

            <div id="password-not-match-feedback" class="invalid-feedback-bubble {{ showWarnings.invalidResetKey ? '' : 'hidden' }}">
                <h6 class="warning-error">WARNING:</h6>
                <p class="invalid-feedback">The provided reset key is not valid. Please contact hello@gravit8.co for a valid reset key.</p>
            </div>

            <div id="password-not-match-feedback" class="invalid-feedback-bubble {{ showWarnings.unableToResetPassword ? '' : 'hidden' }}">
                <h6 class="warning-error">WARNING:</h6>
                <p class="invalid-feedback">Something went wrong. Cannot reset your password.</p>
            </div>

            {# reset password form #}
            <form class="signup" method="post" action="/reset">
                <div class="form-container">
                    <input name="email" type="text" required autocomplete="email" placeholder="Email">
                    <input id="password" name="password" type="password" required placeholder="New Password">
                    <input id="confirm-password" name="confirm-password" type="password" required placeholder="Confirm Your New Password">
                    <input name="reset-key" type="text" required placeholder="Unique Reset Key">
                </div>
                <div class="button closed-button reset-button">
                    <button type="submit">reset password &amp; log in</button>
                </div>
            </form>
        </div>

        {% include 'default/commons/javascripts.phtml' with {page: 'landing'} %}
    </body>
</html>
