<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'landing'} %}
    </head>
    <body id="landing-page" {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {% include 'hatchinghealth/landing/landingBar.phtml' %}

        <div class="landing-page-content">

        {% if showWarnings.accountExists %}
            {# feedback message to tell users that their email is already existed in the database #}
            <div class="email-code-error invalid-feedback-bubble">
                <h6>Oops!</h6>
                <p>This email has already been used.</p>
            </div>
        {% elseif showWarnings.invalidSignupCode %}
            {# feedback message to tell users that their signup code didn't match #}
            <div class="email-code-error invalid-feedback-bubble">
                <h6>ERROR:</h6>
                <p>Oops! The given signup code is not recognized.</p>
            </div>
        {% endif %}

            {# introduction #}
            <div class="{{ (showWarnings|any) ? 'hidden' : '' }} landing-introduction">
                <h6>Sign up for Gravit8</h6>
                <p>Gravit8 is only accessible to participants and mentors. The Great Hatch is a private event for which confidentiality is implied and participants and mentors acknowledge that what they see and hear is confidential in nature.</p>
            </div>

            {# feedback message to tell users that caps lock is on #}
            <div id="caps-lock-feedback" class="invalid-feedback-bubble hidden">
                <h6>Oops!</h6>
                <p>Hey, your Caps Lock is on!</p>
            </div>

            {# feedback message to tell users that passwords do not match #}
            <div id="password-not-match-feedback" class="invalid-feedback-bubble {{ showWarnings.passwordsMismatch ? '' : 'hidden' }}">
                <h6>Oops!</h6>
                <p>Your passwords don't match!</p>
            </div>

            {# signup form #}
            <form class="signup" method="post" action="/signup">
                <div class="form-container">
                    <div class="signup-names flexbox-container">
                        <input name="first-name" type="text" required autocomplete="given-name" maxlength="255" placeholder="First Name*">
                        <input name="last-name" type="text" required autocomplete="family-name" maxlength="255" placeholder="Last Name*">
                    </div>
                    <input name="email" type="text" required maxlength="255" autocomplete="email" placeholder="Email*">
                    <div class="signup-passwords flexbox-container">
                        <input id="password" name="password" type="password" required placeholder="Password*">
                        <input id="confirm-password" name="confirm-password" type="password" required placeholder="Confirm Password*">
                    </div>
                    <input name="signup-key" type="text" required autocomplete="off" placeholder="Sign Up Key*">
                </div>
                <div class="button sign-up-button closed-button">
                    <button type="submit">Sign Up</button>
                </div>
            </form>

            <a href="/login">
                <div class="button cancel-button closed-button" data-button-type="back">
                    <button>Back</button>
                </div>
            </a>
        </div>

        {% include 'default/commons/javascripts.phtml' with {page: 'landing'} %}
    </body>
</html>