<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
        
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' %}
        <header id="help-header" class="header-help flexbox-container">
            <ul class="help-tabs flexbox-container">
                <li><a class="unselected" data-name="get-started-help-section">Get Started</a></li>
                <li><a class="unselected" data-name="explore-help-section">Explore</a></li>
                <li><a class="unselected" data-name="create-help-section">Create</a></li>
                <li><a class="unselected" data-name="edit-help-section">Edit</a></li>
                <li><a class="unselected" data-name="profile-help-section">Profile</a></li>
                <li><a class="unselected" data-name="contact-help-section">Contact</a></li>
            </ul>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <button>back</button>
                </div>
            </div> 
        </header>
        <div id="help-view">
            <div class="help-top-banner">
                <h1>Need some help?</h1>
            </div>
            <div class="content">
                <div id="get-started-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Get Started</h2>
                    <div class="section-body">
                        <p>Welcome to Gravit8! As a collaboration platform, we help students:</p>
                        <ul>
                            <li>Discuss ideas they have and problem spaces they want to tackle,</li>
                            <li>Find interesting projects they want to partake in, and</li>
                            <li>Connect with other students to make those projects happen.</li>
                        </ul>
                        <p>At the same time, our students develop relevant, technical skills and generate their own portfolio of work to match.</p>
                        <p>Now that you've signed up, you're ready to engage with ideas, pitches, projects and other people! But before you do, let's go over some of the basics.</p>
                    </div>
                </div>
                <div id="explore-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Explore</h2>
                    <div class="section-body">
                        <p>Looking for everyone? Look no more! The Explore page showcases your fellow students and their ideas, pitches and projects. You can click on each tab under the navigation bar to filter out what you want to see; but what exactly are these in the first place?</p>
                        <p><b>Ideas</b> are areas of interest or problem spaces that people are curious about exploring.</p>
                        <p><b>Pitches</b> are proposals are people want to develop. This includes a section dedicated to the roles and skills that are needed.</p>
                        <p><b>Projects</b> are the final product or service that a team has developed. This includes all of the people involved as well as a gallery to showcase project pictures and files.</p>
                        <p><b>People</b> are the other individuals that are registered and interacting on the site. Their profiles includes a biography and ways to connect with them.</p>
                        <p>Engagement takes place on ideas, pitches and projects. You can show your support by clicking on the heart icon of something you really like. You can also comment on these by clicking on a card that you like and posting a comment on the bottom of the page.</p>
                    </div>
                </div>
                <div id="create-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Create</h2>
                    <div class="section-body">
                        <p>Ready to start something yourself? The Create can be accessed next to the Explore button on the very top of the page. Here, you can create your own idea, pitch or project. Let's get started. </p>
                        <p>To <b>create an idea</b>, click on the <b>Idea</b> card on the main create page. Just fill out the form with a meaningful title, your idea and the theme it fits in. You can use <b>+ Add Content</b> to add more information to your idea to get the conversation going.</p>
                        <p>To <b>create a pitch</b>, click on the <b>Pitch</b> card on the main create page. Fill out the form with a meaningful title, your pitch and the theme it fits in. If you want to tell people who or what skills you need to pursue your pitch, you can add roles. Click on <b>+ Add Roles</b> to add a role and fill out your role with the person you need or the skills that you are looking for. You can also use the <b>+ Add Content</b> button to add more information.</p>
                        <p>To <b>create a project</b>, click on the <b>Project</b> card on the main create page. Fill out the form with a meaningful title, your pitch and the theme if fits in. Use the <b>+ Add a Team Member</b> button to add people to your project. Just start typing their name and click on a user from the suggestion box to select them. Use the <b>+ Add a Role</b> button to give your teammates roles. To assign them a role, click on their profile picture next to the role and click on their profile picture again to deselect them. You can also use the <b>+ Add Content</b> button to add more information.</p>
                    </div>
                </div>
                <div id="edit-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Edit</h2>
                    <div class="section-body">
                        <p>Want to make a couple of changes? Editing your idea, pitch or project is easy. Simply go to the header of the idea, pitch or project page and click on <b>Edit Idea</b>, <b>Edit Pitch</b> or <b>Edit Project</b> respectively. After you are done, click on <b>Submit Changes</b> to finalize the changes.</p>
                    </div>
                </div>
                <div id="profile-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Profile</h2>
                    <div class="section-body">
                        <p>Who wants to work on something? Profile pages are the best way to get to know who's here and a great way to start off conversations or find people for your team. As soon as you sign up, you will be taken to your profile page where you can start filling it in with information.</p>
                        <p>To <b>edit your profile</b>, simply click on <b>Edit Profile</b>. You can change your profile picture, name and title. You also have the option of adding in a small biography of yourself and social media links using the <b>+ Add Content</b> button. When you are done, click on <b>Submit Changes</b> to finalize your changes.</p>
                    </div>
                </div>
                <div id="contact-help-section" class="flexbox-container">
                    <h1>Have a Question? Contact Us!</h1>
                    <div class="contact-us flexbox-container">
                        <div class="flexbox-container">
                            <div class="facebook-icon"></div>
                            <p><a href="https://facebook.com/gravit8.co">facebook.com/gravit8.co</a></p>
                        </div>
                        <div class="flexbox-container">
                            <div class="email-icon"></div>
                            <p><a href="mailto:hello@gravit8.co">hello@gravit8.co</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
