{# html metadata #}
<meta charset="utf8" name="viewport" content="width=device-width, initial-scale=1">
<title>Gravit8</title>

{# disabling favicon until we have one available for Gravit8 #}
{# see: http://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests #}
<link rel="icon" type="image/png" href="/images/favicon-32.png" />

{# core and vendor css #}
{# Gravit8 custom css #}
<link rel="stylesheet" type="text/css" href="/stylesheets/gravit8.min.css">

{# core and vendor javascripts #}
{# vendor javascripts #}
<script type="text/javascript" src="/javascripts/vendor/lodash.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/jQueryExtensions.js"></script>
<script type="text/javascript" src="/javascripts/vendor/cookie.js"></script>
<script type="text/javascript" src="/javascripts/vendor/fontFaceObserver.js"></script>
<script type="text/javascript" src="/javascripts/vendor/rusha.min.js"></script>
<script type="text/javascript" src="/javascripts/polyfills/math.js"></script>

{# Gravit8 custom javascripts #}
<script type="text/javascript" src="/javascripts/gravit8/commons/loadFonts.js"></script>

{# Client side templates #}
{% include 'default/commons/components/profileImage.html' %}
{% include 'default/commons/components/searchPeopleResult.html' %}

{% include 'default/gallery/components/cards/ideaCard.html' %}
{% include 'default/gallery/components/cards/pitchCard.html' %}
{% include 'default/gallery/components/cards/projectCard.html' %}
{% include 'default/gallery/components/cards/personCard.html' %}
{% include 'default/gallery/components/lists/ideaList.html' %}
{% include 'default/gallery/components/lists/pitchList.html' %}
{% include 'default/gallery/components/lists/projectList.html' %}

{% include 'default/entity/components/addRole.html' %}
{% include 'default/entity/components/roleAssignee.html' %}
{% include 'default/entity/components/addTeamMember.html' %}

{% include 'default/entity/components/contents/fields/background/addBackground.html' %}
{% include 'default/entity/components/contents/fields/description/addDescription.html' %}
{% include 'default/entity/components/contents/fields/existingSolution/addExistingSolution.html' %}
{% include 'default/entity/components/contents/fields/marketAnalysis/addMarketAnalysis.html' %}
{% include 'default/entity/components/contents/fields/otherInformation/addOtherInformation.html' %}
{% include 'default/entity/components/contents/fields/stakeholder/addStakeholder.html' %}
{% include 'default/entity/components/contents/fields/attachment/addAttachment.html' %}
{% include 'default/entity/components/contents/fields/attachment/uploadedAttachment.html' %}

{% include 'default/entity/components/comment.html' %}

{% include 'default/profile/components/addBiography.html' %}
{% include 'default/profile/components/addSocialMedia.html' %}