{# Gravit8 custom javascripts #}
{% if (page == 'landing') %}
    <script type="text/javascript" src="/javascripts/gravit8/pages/landingPage.js"></script>
{% else %}
    {# Gravit8 core scripts #}
    {% if (isDevelopmentMachine) %}
        <script type="text/javascript" src="/javascripts/gravit8/gravit8.js"></script>
    {% else %}
        <script type="text/javascript" src="/javascripts/gravit8/gravit8.min.js"></script>
    {% endif %}
{% endif %}