<div class="profile-image {{ user.imagePath ? 'hidden' : '' }}">{{ user.initials }}</div>
<div class="profile-image {{ user.imagePath ? '' : 'hidden' }}" style="background-image: url({{ user.imagePath }})"></div>