<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' %}
        <header class="header-default user-controls flexbox-container">
            <h6 class="help-link"><a href="/help"></a></h6>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <a href="/create"><button>back</button></a>
                </div>
                <div class="closed-button submission">
                    <button id="submit">submit</button>
                </div>
            </div>
        </header>
        <div id="create-project" class="create content">
            <h1>create a project</h1>
            <div class="create-project" spellcheck="true">
                <div id="create-project-form">
                    <div class="create-title section-container flexbox-container">
                        <h2 class="section-header">Title</h2>
                        <div class="section-body flexbox-container">
                            <textarea name="title" required maxlength="255" autofocus="true" rows="1" placeholder="Give your project a title!"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your project title blank!</h6>
                        </div>
                    </div>

                    <div class="create-one-liner section-container flexbox-container">
                        <h2 class="section-header">project</h2>
                        <div class="section-body flexbox-container">
                            <p>What did you and your team make?</p>
                            <textarea name="project" required rows="2" placeholder="Try phrasing it into a statement such as &quot;We have developed...&quot;"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your project blank!</h6>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-pitch-description section-container flexbox-container">
                            <h2 class="section-header">Detailed Problem Description</h2>
                            <div class="section-body flexbox-container">
                                <p>Expand on your problem as you understand it!</p>
                                <textarea name="description" autofocus="true" rows="3" placeholder="Expand on your problem as you understand it!"></textarea>
                            </div>
                        </div>
                    </div>

                    {# Replaced Category with Theme #}
                    <div class="create-category section-container flexbox-container hidden">
                        <h2 class="section-header">Theme</h2>
                        <div class="section-body flexbox-container">
                            <select name="categories">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ loop.first ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="add-roles section-container flexbox-container">
                        <h2 class="section-header">Roles</h2>
                        <div class="section-body flexbox-container">
                            <p>Who was on your team?</p>
                            <div class="add-role-button open-button">
                                <button>+ Add a Role</button>
                            </div>
                            <ul id="roles"></ul>
                        </div>
                    </div>
                </div>

                {# Add Content Button #}
                <div class="create-buttons flexbox-container">
                    <div class="open-button add">
                        <button class="add-content">+ Add Content</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>