<!DOCTYPE html>
<html>
    <head>
        {% include 'hatchinghealth/commons/header.phtml' %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include organization.organizationDomain ~ '/navigation/navigationBar.phtml' %}
        
        <header class="header-default user-controls flexbox-container">
            <h6 class="help-link"><a href="/help"></a></h6>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <a href="/create"><button>back</button></a>
                </div>
                <div class="closed-button submission">
                    <button id="submit">submit</button>
                </div>
            </div>
        </header>
        <div id="create-pitch" class="create content">
            <h1>create a problem</h1>
            <div class="create-pitch" spellcheck="true">
                <div id="create-pitch-form">
                    <div class="create-title section-container flexbox-container">
                        <h2 class="section-header">Title</h2>
                        <div class="section-body flexbox-container">
                            <textarea name="title" required maxlength="255" autofocus="true" rows="1" placeholder="Give your problem a meaningful title!"></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your problem title blank!</h6>
                        </div>
                    </div>

                    <div class="create-one-liner section-container flexbox-container">
                        <h2 class="section-header">Short Problem Description</h2>
                        <div class="section-body flexbox-container">
                            <p>Summarize your problem in 1-2 sentences.</p>
                            <textarea name="pitch" required rows="2" placeholder="Summarize your problem in 1-2 sentences."></textarea>
                            <h6 class="invalid-message hidden">* Don't leave your short problem description blank!</h6>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-pitch-description section-container flexbox-container">
                            <h2 class="section-header">Detailed Problem Description</h2>
                            <div class="section-body flexbox-container">
                                <p>Expand on your problem as you understand it!</p>
                                <textarea name="description" autofocus="true" rows="3" placeholder="Expand on your problem as you understand it!"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-text-body section-container flexbox-container">
                            <h2 class="section-header">Relevant Clinical Background</h2>
                            <div class="section-body flexbox-container">
                                <p>What is the root cause of the problem? What physiology and anatomy is at play?</p>
                                <textarea name="background" autofocus="true" rows="3" placeholder="What is the root cause of the problem? What physiology and anatomy is at play?"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-text-body section-container flexbox-container">
                            <h2 class="section-header">Stakeholders</h2>
                            <div class="section-body flexbox-container">
                                <p>Who is affected by this problem and how?</p>
                                <textarea name="stakeholder" autofocus="true" rows="3" placeholder="Who is affected by this problem and how?"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-text-body section-container flexbox-container">
                            <h2 class="section-header">Current Options</h2>
                            <div class="section-body flexbox-container">
                                <p>What is currently addressing this problem and what is missing?</p>
                                <textarea name="existing-solution" autofocus="true" rows="3" placeholder="What is currently addressing this problem and what is missing?"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-text-body section-container flexbox-container">
                            <h2 class="section-header">Market Analysis</h2>
                            <div class="section-body flexbox-container">
                                <p>Who makes up the current market? Is this a growing market? What regions does this problem impact?</p>
                                <textarea name="market-analysis" autofocus="true" rows="3" placeholder="Who makes up the current market? Is this a growing market? What regions does this problem impact?"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="entity-content">
                        <div class="add-content-head edit-text-body section-container flexbox-container">
                            <h2 class="section-header">Additional Information</h2>
                            <div class="section-body flexbox-container">
                                <p>Any additional information you'd like participants to see?</p>
                                <textarea name="other-information" required  autofocus="true" rows="3" placeholder="Any additional information you'd like participants to see?"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="add-roles section-container flexbox-container hidden">
                        <h2 class="section-header">Roles</h2>
                        <div class="section-body flexbox-container">
                            <p>Who do you need on your team?</p>
                            <div class="add-role-button open-button">
                                <button>+ Add a Role</button>
                            </div>
                            <ul id="roles"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include organization.organizationDomain ~ '/commons/javascripts.phtml' %}
    </body>
</html>