<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'create'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include organization.organizationDomain ~ '/navigation/navigationBar.phtml' %}
        
        <header class="header-default user-controls flexbox-container">
            <h6 class="help-link"><a href="/help"></a></h6>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <button onClick="history.go(-1);">back</button>
                </div>
            </div> 
        </header>
        <div id="create-main" class="create content">
            <h1>What do you want to create?</h1>
            <div class="create-options flexbox-container">
                <a href="/create/pitch" class="create-option-card">
                    <h2>Problem</h2>
                    <p>A problem is a need or an area of concern that you would like to explore further. </p>
                </a>
                <div href="/create/project" class="create-option-card disabled-module">
                    <h2>Project</h2>
                    <p>A project is final prototype that you have created in order to address an identified problem.</p>
                </div>
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>