<!DOCTYPE html>
<html>
    <head>
        {% include 'hatchinghealth/commons/header.phtml' %}
    </head>

    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include organization.organizationDomain ~ '/navigation/navigationBar.phtml' %}
        
        {% include 'hatchinghealth/entity/components/pitch/userControls.phtml' with {entity: pitch} %}

        <div id="pitch-view" class="content">
            <div id="published-pitch">
                {# champion and reactions #}
                {% include 'default/entity/components/championAndReactions.phtml' with {entity: pitch} %}

                <h1>{{ pitch.title }}</h1>
                <h5>{{ pitch.pitch }}</h5>

                {% if (user.id == pitch.creator.id) or (user.accountType == "administrator") %}
                    {# Detailed Problem Description #}
                    {% if (pitch.description is not null) %}
                        {% include 'hatchinghealth/entity/components/description.phtml' with {entity: pitch} %}
                    {% endif %}

                    {# Relevant Clinical Background #}
                    {% if (pitch.background is not null) %}
                        {% include 'hatchinghealth/entity/components/pitch/background.phtml' with {entity: pitch} %}
                    {% endif %}

                    {# Stakeholders #}
                    {% if (pitch.stakeholder is not null) %}
                        {% include 'hatchinghealth/entity/components/pitch/stakeholder.phtml' with {entity: pitch} %}
                    {% endif %}

                    {# Existing Solutions/Current Options #}
                    {% if (pitch.existingSolution is not null) %}
                        {% include 'hatchinghealth/entity/components/pitch/existingSolution.phtml' with {entity: pitch} %}
                    {% endif %}

                    {# Market Analysis #}
                    {% if (pitch.marketAnalysis is not null) %}
                        {% include 'hatchinghealth/entity/components/pitch/marketAnalysis.phtml' with {entity: pitch} %}
                    {% endif %}

                    {% if (pitch.otherInformation is not null) %}
                        {% include 'hatchinghealth/entity/components/pitch/otherInformation.phtml' with {entity: pitch} %}
                    {% endif %}
                {% endif %}

                {# comments #}
                {% include 'default/entity/components/commentControl.phtml' with {entity: pitch} %}
            </div>

            {% if (user.id == pitch.creator.id) or (user.accountType == "administrator") %}
                {% include 'hatchinghealth/entity/components/pitch/editPitch.phtml' %}
            {% endif %}
        </div>

        {% if (user.accountType != "administrator") %}
            <div id="vote-summary" class="footer-default vote-summary-bar">
                <footer data-entity-type="pitch" class="{{ user.voteCapacity.pitch.votesRemaining is same as(0) ? 'limit-reached' : '' }} flexbox-container">
                    <h4>You have used <span>{{ user.voteCapacity.pitch.votesUsed }}</span>{{ (user.voteCapacity.pitch.voteLimit is null) ? '' : '/' ~ user.voteCapacity.pitch.voteLimit }} votes</h4>
                </footer>
            </div>
        {% endif %}

        {% include organization.organizationDomain ~ '/commons/javascripts.phtml' %}
    </body>
</html>
