<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include organization.organizationDomain ~ '/navigation/navigationBar.phtml' %}
        
        {% include 'default/entity/components/project/userControls.phtml' with {entity: project} %}

        <div id="project-view" class="content">
            <div id="published-project">
                {# champion and reactions #}
                {% include 'default/entity/components/project/projectChampionAndReactions.phtml' %}

                {# header - title and project categories #}
                <div data-project-section="categories" class="flexbox-container">
                    {% include 'default/entity/components/categoryTags.phtml' with {entity: project} %}
                </div>

                <h1>{{ project.title }}</h1>
                <h5>{{ project.project }}</h5>
                
                {% if (project.description is not null) %}
                    {% include 'default/entity/components/description.phtml' with {entity: project} %}
                {% endif %}

                {# roles #}
                {% if (project.roles is not empty) %}
                    {% include 'default/entity/components/project/projectRoles.phtml' %}
                {% endif %}

                {# gallery #}
                {% if (project.gallery is not empty) %}
                    {% include 'default/entity/components/project/projectGallery.phtml' %}
                {% endif %}

                {# comments #}
                {% include 'default/entity/components/commentControl.phtml' with {entity: project} %}
            </div>

            {% if (user.id == project.creator.id) %}
                {% include 'default/entity/components/project/editproject.phtml' %}
            {% endif %}
        </div>

        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
