<script type="text/template" id="add-pitch-existing-solution-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Current Options</h2>
            <div class="section-body flexbox-container">
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
                <textarea name="existing-solution" required  autofocus="true" rows="3" placeholder="What is currently addressing this problem and what is missing?"></textarea>
            </div>
        </div>
    </div>
</script>