<script type="text/template" id="add-pitch-market-analysis-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Market Analysis</h2>
            <div class="section-body flexbox-container">
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
                <textarea name="market-analysis" required  autofocus="true" rows="3" placeholder="Who makes up the current market? Is this a growing market? What regions does this problem impact?"></textarea>
            </div>
        </div>
    </div>
</script>