<script type="text/template" id="add-pitch-other-information-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Additional Information</h2>
            <div class="section-body flexbox-container">
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
                <textarea name="other-information" required  autofocus="true" rows="3" placeholder="What is the root cause of the problem? What physiology and anatomy is at play?"></textarea>
            </div>
        </div>
    </div>
</script>