<script type="text/template" id="add-problem-description-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-pitch-description section-container flexbox-container">
            <h2 class="section-header">Detailed Problem Description</h2>
            <div class="section-body flexbox-container">
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
                <textarea name="description" required  autofocus="true" rows="3" placeholder="Add some additional information here!"></textarea>
            </div>
        </div>
    </div>
</script>