<script type="text/template" id="add-pitch-stakeholder-form-template">
    <div class="entity-content">
        <div class="add-content-head edit-text-body section-container flexbox-container">
            <h2 class="section-header">Stakeholders</h2>
            <div class="section-body flexbox-container">
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
                <textarea name="stakeholder" required  autofocus="true" rows="3" placeholder="Who is affected by this problem and how?"></textarea>
            </div>
        </div>
    </div>
</script>