<div data-project-section="background" class="section-container flexbox-container">
    <h2 class="section-header">Relevant Clinical Background</h2>
    <p class="section-body">{{ entity.background.value }}</p>
</div>