<div class="entity-content">
    <div class="add-content-head edit-pitch-stakeholder section-container flexbox-container">
        <h2 class="section-header">Stakeholder</h2>
        <div class="section-body flexbox-container">
            <p>Who is affected by this problem and how?</p>
            <textarea name="stakeholder" data-entity-content-id="{{ pitch.stakeholder.id }}" autofocus="true" rows="3" placeholder="Who is affected by this problem and how?">{{ pitch.stakeholder.value }}</textarea>
        </div>
    </div>
</div>