<div class="entity-content">
    <div class="add-content-head edit-pitch-background section-container flexbox-container">
        <h2 class="section-header">Relevant Clinical Background</h2>
        <div class="section-body flexbox-container">
            <p>What is the root cause of the problem? What physiology and anatomy is at play?</p>
            <textarea name="background" data-entity-content-id="{{ pitch.background.id }}" autofocus="true" rows="3" placeholder="What is the root cause of the problem? What physiology and anatomy is at play?">{{ pitch.background.value }}</textarea>
        </div>
    </div>
</div>