<div class="entity-content">
    <div class="add-content-head edit-pitch-market-analysis section-container flexbox-container">
        <h2 class="section-header">Market Analysis</h2>
        <div class="section-body flexbox-container">
            <p>Who makes up the current market? Is this a growing market? What regions does this problem impact?</p>
            <textarea name="market-analysis" data-entity-content-id="{{ pitch.marketAnalysis.id }}" autofocus="true" rows="3" placeholder="Who makes up the current market? Is this a growing market? What regions does this problem impact?">{{ pitch.marketAnalysis.value }}</textarea>
        </div>
    </div>
</div>