<div class="entity-content">
    <div class="add-content-head edit-pitch-other-information section-container flexbox-container">
        <h2 class="section-header">Other Information</h2>
        <div class="section-body flexbox-container">
            <p>Please throw in any additional info you'd like participants to see!</p>
            <textarea name="other-information" data-entity-content-id="{{ pitch.otherInformation.id }}" autofocus="true" rows="3" placeholder="Please throw in any additional info you'd like participants to see!">{{ pitch.otherInformation.value }}</textarea>
        </div>
    </div>
</div>