<div class="entity-content">
    <div class="add-content-head edit-pitch-description section-container flexbox-container">
        <h2 class="section-header">Detailed Problem Description</h2>
        <div class="section-body flexbox-container">
            <p>Expand on your problem as you understand it!</p>
            <textarea name="description" data-entity-content-id="{{ pitch.description.id }}" autofocus="true" rows="3" placeholder="Expand on your problem as you understand it!">{{ pitch.description.value }}</textarea>
        </div>
    </div>
</div>