<div class="entity-content">
    <div class="add-content-head edit-pitch-existing-solution section-container flexbox-container">
        <h2 class="section-header">Current Options</h2>
        <div class="section-body flexbox-container">
            <p>What is currently addressing this problem and what is missing?</p>
            <textarea name="existing-solution" data-entity-content-id="{{ pitch.existingSolution.id }}" autofocus="true" rows="3" placeholder="What is currently addressing this problem and what is missing?">{{ pitch.existingSolution.value }}</textarea>
        </div>
    </div>
</div>