<div id="edit-pitch" class="hidden">
    <h1>edit your problem</h1>
    <div id="edit-pitch-form">

        {# Pitch Title #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Title</h2>
            <div class="section-body flexbox-container">
                <textarea name="title" required maxlength="255" rows="1" placeholder="Give your problem a meaningful title!"">{{ pitch.title }}</textarea>
                <h6 class="invalid-message hidden">* Don't leave your problem title blank!</h6>
            </div>
        </div>

        {# Pitch #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Short Problem Description</h2>
            <div class="section-body">
                <p>Summarize your problem in 1-2 sentences.</p>
                <textarea name="pitch" required rows="2" placeholder="Summarize your problem in 1-2 sentences.">{{ pitch.pitch }}</textarea>
                <h6 class="invalid-message hidden">* Don't leave your problem description blank!</h6>
            </div>
        </div>

        {# Replaced Category with Theme #}
        <div class="edit-category section-container flexbox-container hidden">
            <h2 class="section-header">Theme</h2>
            <div class="section-body flexbox-container">
                <form>
                    {% for pitchCategory in pitch.categories %}
                        <select name="categories" data-entity-content-id="{{ pitchCategory.id }}">
                            {% for category in categories %}
                                <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ (pitchCategory.categoryId == category.id) ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="add-roles section-container flexbox-container hidden">
            <h2 class="section-header">Roles</h2>
            <div class="section-body flexbox-container">
                <p>Who do you need on your team?</p>
                <div class="add-role-button open-button">
                    <button>+ Add a Role</button>
                </div>
                <ul id="roles">
                    {% include 'default/entity/components/pitch/editPitchRoles.phtml' %}
                </ul>
            </div>
        </div>

        {# Additional Contents #}
        {% include 'hatchinghealth/entity/components/pitch/editPitchDescription.phtml' %}

        {% include 'hatchinghealth/entity/components/pitch/editPitchBackground.phtml' %}

        {% include 'hatchinghealth/entity/components/pitch/editPitchStakeholder.phtml' %}

        {% include 'hatchinghealth/entity/components/pitch/editPitchExistingSolution.phtml' %}

        {% include 'hatchinghealth/entity/components/pitch/editPitchMarketAnalysis.phtml' %}

        {% include 'hatchinghealth/entity/components/pitch/editPitchOtherInformation.phtml' %}
    </div>
</div>