<div data-project-section="market-analysis" class="section-container flexbox-container">
    <h2 class="section-header">Market Analysis</h2>
    <p class="section-body">{{ entity.marketAnalysis.value }}</p>
</div>