<div class="project-champion-and-reactions flexbox-container">
    <div class="project-champion flexbox-container">
        <div class="profile-image-small {{ (pitch.creator.imagePath is null) ? '' : 'hidden' }}">{{ pitch.creator.initials }}</div>
        <div class="profile-image-small {{ (pitch.creator.imagePath is null) ? 'hidden' : '' }}" style="background-image: url({{ pitch.creator.imagePath }})"></div>
        <div>
            <p>Started by</p>
            <h6><a href="/people/{{ pitch.creator.id }}">{{ pitch.creator.firstName }} {{ pitch.creator.lastName }}</a></h6>
        </div>
    </div>

    <div class="reaction-buttons flexbox-container">
        <div class="like-icon {{ pitch.liked ? 'liked' : '' }}"></div>
        <p data-counter-type="like" class="like-number">{{ pitch.numberOfLikes }} {{ (pitch.numberOfLikes != 1) ? 'votes' : 'vote' }}</p>
        <div class="comment-icon"></div>
        <p data-counter-type="comment">{{ pitch.numberOfComments }} {{ (pitch.numberOfComments != 1) ? 'comments' : 'comment' }}</p>
    </div>
</div>