<div data-project-section="stakeholder" class="section-container flexbox-container">
    <h2 class="section-header">Stakeholders</h2>
    <p class="section-body">{{ entity.stakeholder.value }}</p>
</div>