<header class="header-project flexbox-container">
    <div class="user-controls flexbox-container">
        <h6 class="help-link"><a href="/help"></a></h6>

        {#
        <div class="closed-button">
            <button>Add Progression</button>
        </div>
        #}

        {% if (user.accountType != "administrator") %}
            <div class="closed-button like-button">
                <button>{{ entity.liked ? 'Unvote' : 'Vote' }}</button>
            </div>
        {% endif %}

        {% if (user.id == entity.creator.id) or (user.accountType == "administrator") %}
            <div class="closed-button">
                <button id="edit-entity-button">Edit Page</button>
            </div>

            <div class="back-submit flexbox-container hidden">
                <div class="closed-button back-button">
                    <button id="cancel-edit-entity-button">cancel</button>
                </div>
                <div class="closed-button submission">
                    <button id="submit-edits">submit changes</button>
                </div>
            </div>
        {% endif %}
    </div>
</header>