<script type="text/template" id="project-list-template">
    <a href="/project/<%= entity.id %>" data-entity-id="<%= entity.id %>" class="item-container list-view flexbox-container <%= entity.categories[0].name.replace(/\s/g, '-') %>-category">
        <h2 class="name"><%= entity.title %></h2>
        <p class="one-liner"><%= entity.summary %></p>
        <div class="project-champion flexbox-container">
            <div class="profile-image-small <%= !entity.creator.imagePath ? '' : 'hidden' %>"><%= entity.creator.initials %></div>
            <div class="profile-image-small <%= !entity.creator.imagePath ? 'hidden' : '' %>" style="background-image: url(<%= entity.creator.imagePath %>)"></div>
            <div class="started-by">
                <p>Started by</p>
                <h6 class="entity-creator-name"><%= entity.creator.firstName %> <%= entity.creator.lastName %></h6>
            </div>
        </div>
        <div class="project-statistics flexbox-container">
            <% entity.categories.forEach(function(category) { %>
                <h4 class="tag"><%= category.name.replace('and', '&amp;') %></h4>
            <% }); %>
            <div class="reaction-buttons flexbox-container">
                {#<div class="vote-icon <%= (entity.voted ? 'voted' : '') %>"></div>
                <p data-counter-type="vote"><%= entity.numberOfVotes %></p>#}
                <div class="like-icon <%= (entity.liked ? 'liked' : '') %>"></div>
                <p data-counter-type="like"><%= entity.numberOfLikes %></p>
                <div class="comment-icon"></div>
                <p data-counter-type="comment"><%= entity.numberOfComments %></p>
            </div>
{#
            {% if (categories is not empty) %}
                <select name="categories" data-category-id=<%= entity.categories[0].id %>>
                    {% for category in categories %}
                        <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}">{{ category.name | replace({'and': '&'}) }}</option>
                    {% endfor %}
                </select>
            {% endif %}
#}
        </div>
    </a>
</script>