<script type="text/template" id="add-profile-experience-form-template">
    <div class="profile-attribute">
        <div class="add-content-head flexbox-container">
            <h2>Experience</h2>
            <div class="open-button cancel-remove-button">
                <button type="button">Remove</button>
            </div>
        </div>
        <div class="flexbox-container experience-title-and-duration">
            <textarea name="experience-category-editor" placeholder="What is this experience?" rows="1"></textarea>
            <input type="date" name="experience-start-date" placeholder="When did it start?" rows="1"></input>
            <input type="date" name="experience-end-date" placeholder="When did it end?" rows="1"></input>
        </div>
        <textarea name="experience-description-editor" placeholder="Introduce us to this experience as a short overview." rows="3"></textarea>
    </div>
</script>