<div class="add-content-module hidden">
    <h2>What would you want to add?</h2>
    <div class="create-options flexbox-container">
        <div id="add-profile-biography-button" class="create-option-card {{ (person.biography is empty) ? '' : 'disabled-module' }}" {{ (person.biography is empty) ? '' : 'data-module-disabled' }}>
            <h6>Biography</h6>
            <p>A biography tells your story and who you are!</p>
        </div>

        <div id="add-profile-contact-button" class="create-option-card">
            <h6>Social Media</h6>
            <p>Social media can help people contact you!</p>
        </div>

        <div class="create-option-card disabled-module">
            <h6>Coming Soon</h6>
            <p>More content to come!</p>
        </div>
    </div>
</div>
