<div class="profile-attribute">
    <div class="add-content-head edit-profile-social-media section-container flexbox-container">
        <h2 class="section-header">Social Media</h2>
        <div class="section-body flexbox-container">
            <div class="open-button cancel-remove-button">
                <button type="button">Remove</button>
            </div>
            <div class="social-media-fields flexbox-container">
                <form>
                    <select name="categories">
                        <option disabled value>Select a Contact Method</option>
                    {% for contactType in contactTypes %}
                        <option value="{{ contactType.id }}" label="{{ contactType.value }}" {{ (contactType.id == contact.contactTypeId) ? "selected" : "" }}>{{ contactType.value }}</option>
                    {% endfor %}
                    </select>
                </form>
                <textarea name="contact" data-profile-attribute-id="{{ contact.id }}" class="contact-reference-editor" placeholder="Reference" maxlength="255" rows="1">{{ contact.value }}</textarea>
            </div>
        </div>
    </div>
</div>