<div class="contact-reference flexbox-container">
    {% if contact.type == 'email' %}
        <div class="email-icon"></div>
        <p>{{ contact.value }}</p>
        {# <p><a href="mailto:{{ contact.value }}">{{ contact.value }}</a></p> #}

    {% elseif contact.type == 'phone' %}
        <div class="phone-icon"></div>
        <p>{{ contact.value }}</p>

    {% elseif contact.type == 'linkedin' %}
        <div class="linkedin-icon"></div>
        <p>{{ contact.value }}</p>
        {# <p><a href="https://{{ contact.value }}">{{ contact.value }}</a></p> #}

    {% elseif contact.type == 'twitter' %}
        <div class="twitter-icon"></div>
        <p>{{ contact.value }}</p>
        {# <p><a href="//{{ url }}">{{ contact.value }}</a></p> #}

    {% elseif contact.type == 'facebook' %}
        <div class="facebook-icon"></div>
        <p>{{ contact.value }}</p>
        {# <p><a href="//{{ contact.value }}">{{ contact.value }}</a></p> #}

    {% elseif contact.type == 'instagram' %}
        <div class="instagram-icon"></div>
        <p>{{ contact.value }}</p>

    {% elseif contact.type == 'snapchat' %}
        <div class="snapchat-icon"></div>
        <p>{{ contact.value }}</p>

    {% elseif contact.type == 'github' %}
        <div class="github-icon"></div>
        <p>{{ contact.value }}</p>
        {# <p><a href="https://{{ contact.value }}">{{ contact.value }}</a></p> #}

    {% elseif contact.type == 'behance' %}
        <div class="behance-icon"></div>
        <p>{{ contact.value }}</p>
        {# <p><a href="https://{{ contact.value }}">{{ contact.value }}</a></p> #}
    {% endif %}
</div>