<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-101087755-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body id="home-page" {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
    	{% include 'default/navigation/homeBar.phtml' %}
    	<div class="content">
        	<div class="home-page-section">
            	<div class="home-page-section-content">
                    <h1>Creating curiosity through collaboration</h1>
                    <p>We believe in the human potential because anyone deserves the opportunity to lead a life of fulfillment. We work together because our differences inspire curiosity, and our curiosity drives passion.</p>
                </div>
            </div>
            <div class="home-page-section">
                <div class="picture-1"></div>
                <div class="home-page-section-content flexbox-container">
                    <div class="home-page-blurb">
                        <h1>A siloed education</h1>
                        <p>At some point in our lives, we have all been students. That being said, education is something that <b>connects</b> us all; and yet, it <b>divides</b> us at the same time.</p>
                    </div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content flexbox-container">
                    <div class="picture picture-1 flexbox-container">
                        <div class="problem-icon problem-1"></div>
                        <p><b>Complex global issues</b> cannot be solved through a single perspective</p>
                    </div>
                    <div class="picture picture-2 flexbox-container">
                        <div class="problem-icon problem-2"></div>
                        <p>Institutions want to prepare students entering an <b>evolving workplace</b></p>
                    </div>
                    <div class="picture picture-3 flexbox-container">
                        <div class="problem-icon problem-3"></div>
                        <p>Students have <b>difficulty collaborating</b> in multidisciplinary teams</p>
                    </div>
                </div>
            </div>
            <div class="home-page-section flexbox-container">
                <div class="home-page-section-content">
                    <h1>So how do we teach students to collaborate and engage in work that matters to them?</h1>
                    <p>There’s no simple answer; but we hope Gravit8 can change that.</p>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content flexbox-container">
                    <div class="home-page-blurb">
                        <h1>Enabling collaboration between students</h1>
                        <p>Our mission is to facilitate student interactions across different disciplines and backgrounds through exploration and collaboration.</p>
                    </div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content">
                    <h1>Turning mirrors into windows</h1>
                    <p>Gravit8 is an online facilitation platform that uses projects to provide collaboration opportunities for students to experience working in a multidisciplinary team.</p>
                    <div class="product-hero"></div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content">
                    <p>We create a digital medium to complement communities and institutions, where anyone can</p>
                    <div class="feature flexbox-container">
                        <div class="feature-icon feature-1"></div>
                        <p>Post an idea and <b>explore</b> different areas of interest</p>
                    </div>
                    <div class="feature flexbox-container">
                        <div class="feature-icon feature-2"></div>
                        <p>Post a pitch and find talented people to <b>collaborate</b> with</p>
                    </div>
                    <div class="feature flexbox-container">
                        <div class="feature-icon feature-3"></div>
                        <p>Post a project and <b>build</b> up a personal portfolio</p>
                    </div>
                    <div class="product-shot-1"></div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content">
                    <p>Through Gravit8, students have the opportunity to</p>
                    <div class="feature flexbox-container">
                        <div class="feature-icon feature-4"></div>
                        <p><b>Get feedback</b> about their ideas, pitches and projects</p>
                    </div>
                    <div class="feature flexbox-container">
                        <div class="feature-icon feature-5"></div>
                        <p><b>Interact</b> with students across different disciplines and backgrounds</p>
                    </div>
                    <div class="feature flexbox-container">
                        <div class="feature-icon feature-6"></div>
                        <p><b>Explore</b> new interests and <b>experience</b> different career paths</p>
                    </div>
                    <div class="product-shot-2"></div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content flexbox-container">
                    <h1>Built with students in mind</h1>
                    <div id="testimonial-container">
                        <div class="testimonial">
                            <p>"Gravit8 allowed us to have a hub to <b>organise and curate ideas</b>. It's something that a group chat in Slack or Facebook would not be able to provide, while at the same time more complicated solutions are too complicated."</p>
                            <h2>Stanley Yuen</h2>
                            <h2>Startup Weekend UBC Organizer</h2>
                        </div>
                        <div class="testimonial hidden">
                            <p>"I would advocate using Gravit8 as I enjoyed the ability to <b>throw ideas out</b> to the participants before the event and <b>get feedback</b> on those ideas. It helped me <b>better understand</b> my own pitch before getting to the event."</p>
                            <h2>Mark Zhou</h2>
                            <h2>Hatching Health Participant</h2>
                        </div>
                        <div class="testimonial hidden">
                            <p>"Gravit8 allowed us to <b>put ourselves out there</b> before the event started, and we could also <b>easily get into conversations with people</b> that we just met at the event by talking about ideas they saw on Gravit8."</p>
                            <h2>Olivia Qiu</h2>
                            <h2>Startup Weekend Participant</h2>
                        </div>
                        <div class="testimonial hidden">
                            <p>"Best put, Gravit8 works with clients to <b>build momentum</b> prior to the event. It helped me <b>identify key themes I wanted to investigate, people I wanted to meet, and points I wanted to share with others.</b>"</p>
                            <h2>Peter Hunt</h2>
                            <h2>Hatching Health Participant</h2>
                        </div>
                        <div class="testimonial hidden">
                            <p>"Gravit8 <b>streamlines the process of going from idea to team</b>, cutting out wasted time and <b>getting better teams to form with more varied members</b>. The only real problem I see with Gravit8 is that it isn't used everywhere yet!"</p>
                            <h2>Fabian Frank</h2>
                            <h2>Startup Weekend Participant</h2>
                        </div>
                        <ul id="testimonial-selector" class="flexbox-container">
                            <li class="selected"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content">
                    <p>Proudly platforming</p>
                    <div class="clients-container flexbox-container">
                        <a href="//www.protohack.com/event/protohack-vancouver/" class="client-logo protohack-logo"></a>
                        <a href="//www.bizhacks.ca/" class="client-logo bizhacks-logo"></a>
                        <a href="//www.hatchinghealth.ca/" class="client-logo hatching-health-logo"></a>
                        <a href="//www.facebook.com/swubc/" class="client-logo startup-weekend-logo"></a>
                    </div>
                    <p>Supported by</p>
                    <div class="supporters-container flexbox-container">
                        <a href="http://www.envisioninglabs.com/" class="supporter-logo-long envisioning-labs-logo"></a>
                        <a href="//www.entrepreneurship.ubc.ca/" class="supporter-logo-long e-UBC-logo"></a>
                        <a href="//www.socialenterpriseclub.ca/" class="supporter-logo-square sec-logo"></a>
                        <a href="//www.ideasxchange.org/" class="supporter-logo-square ideasXchange-logo"></a>
                    </div>
                </div>
            </div>
            <div class="home-page-section">
                <div class="home-page-section-content">
                    <h1>Contact Us</h1>
                    <h2>Want to learn more about what we do?</h2>
                    <h2>Interested in working with us?</h2>
                    <div class="flexbox-container">
                        <div class="home-page-blurb">
                            <p>Feel free to reach out to us through our Facebook page or email. We look forward to hearing you soon!</p>
                        </div>
                        <div class="contacts">
                            <div class="flexbox-container">
                                <div class="facebook-icon-white"></div>
                                <p><a href="https://facebook.com/gravit8.co">facebook.com/gravit8.co</a></p>
                            </div>
                            <div class="flexbox-container">
                                <div class="email-icon-white"></div>
                                <p><a href="mailto:hello@gravit8.co">hello@gravit8.co</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
        <script type="text/javascript" src="/javascripts/gravit8/pages/homePage.js"></script>
    </body>
</html>
