{# Landing page navigation bar template #}
<nav id="landing-bar" class="navigation-bar flexbox-container">
    <div class="logo-container flexbox-container">
        <div class="gravit8-logo-icon"></div>
        <a href="//www.gravit8.co">Gravit8</a>
    </div>
    <h4 class="organization-name">{{ organization.organization }} {{ organization.organizationGroup }}</h4>
</nav>