<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'landing'} %}
    </head>
    <body id="landing-page" {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {% include 'default/landing/landingBar.phtml' %}

        <div class="landing-page-content">
            <div class="landing-introduction">
                <h6 class="bold">Log In To Gravit8</h6>
                <p>Enter your email and password</p>
            </div>
        {% if showWarnings.invalidCredentials %}
            {# feedback message to tell users that their login credentials didn't match #}
            <div class="invalid-feedback-bubble">
                <h6>Hmmm...</h6>
                <p>Your email and/or password is not correct. Try again!</p>
            </div>
        {% endif %}

            {# feedback message to tell users that caps lock is on #}
            <div id="caps-lock-feedback" class="invalid-feedback-bubble hidden">
                <h6>Oops!</h6>
                <p>Hey, your Caps Lock is on!</p>
            </div>

            {# login form #}
            <form class="login" method="post" action="/login">
                <div class="form-container">
                    <input name="email" type="text" required autofocus="true" autocomplete="email" placeholder="Email">
                    <input id="password" name="password" type="password" required placeholder="Password">
                </div>
                <div class="button log-in-button closed-button">
                    <button type="submit">Log In</button>
                </div>
            </form>

            <div class="landing-redirects">
                <p><b>Not registered yet?</b></p>
                <a href="/signup">Sign up here!</a>
                <p><b>Forgot your password?</b></p>
                <a href="/reset">Reset it here!</a>
            </div>

            <div class="contact-us flexbox-container">
                <div class="flexbox-container">
                    <div class="facebook-icon"></div>
                    <p><a href="https://facebook.com/gravit8.co">facebook.com/gravit8.co</a></p>
                </div>
                <div class="flexbox-container">
                    <div class="email-icon"></div>
                    <p><a href="mailto:hello@gravit8.co">hello@gravit8.co</a></p>
                </div>
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' with {page: 'landing'} %}
    </body>
</html>
