<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'landing'} %}
    </head>
    <body id="landing-page" {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {% include 'default/landing/landingBar.phtml' %}

        <div class="landing-page-content">
            <div class="landing-introduction">
                <h6 class="bold">Reset Your Password</h6>
                <p>Enter your email, your new password and your new access code key.</p>
            </div>
            {# feedback message to tell users that caps lock is on #}
            <div id="caps-lock-feedback" class="invalid-feedback-bubble hidden">
                <h6>WARNING:</h6>
                <p class="invalid-feedback">Hey, your Caps Lock is on!</p>
            </div>

            {# feedback message to tell users that their confirm passwords are different than their intended passwords #}
            {% if not showWarnings.accountExists %}
                <div id="password-not-match-feedback" class="invalid-feedback-bubble">
                    <h6 class="warning-error">WARNING:</h6>
                    <p class="invalid-feedback">This account doesn't exists. Are you sure you typed in the right email?</p>
                </div>
            {% elseif showWarnings.passwordsMismatch %}
                <div id="password-not-match-feedback" class="invalid-feedback-bubble">
                    <h6 class="warning-error">WARNING:</h6>
                    <p class="invalid-feedback">Your passwords don't match!</p>
                </div>
            {% elseif showWarnings.invalidResetKey %}
                <div id="password-not-match-feedback" class="invalid-feedback-bubble">
                    <h6 class="warning-error">WARNING:</h6>
                    <p class="invalid-feedback">The provided access code is not valid. Please contact hello@gravit8.co for a valid reset key.</p>
                </div>
            {% elseif showWarnings.invalidCredentials %}
                <div id="password-not-match-feedback" class="invalid-feedback-bubble">
                    <h6>Hmmm...</h6>
                    <p>Your email and/or password is not correct. Try again!</p>
                </div>
            {% elseif showWarnings.unableToResetPassword %}
                <div id="password-not-match-feedback" class="invalid-feedback-bubble">
                    <h6 class="warning-error">WARNING:</h6>
                    <p class="invalid-feedback">Something went wrong. Cannot reset your password.</p>
                </div>
            {% endif %}

            {# reset password form #}
            <form class="signup" method="post" action="/reset">
                <div class="form-container">
                    <input name="email" type="text" required autocomplete="email" placeholder="Email*">
                    <input id="password" name="password" type="password" required placeholder="New Password*">
                    <input id="confirm-password" name="confirm-password" type="password" required placeholder="Confirm New Password*">
                    <input name="reset-key" type="text" required placeholder="Access Code*">
                </div>
                <div class="button reset-button closed-button">
                    <button type="submit">reset password &amp; log in</button>
                </div>
            </form>

            <a href="/login">
                <div class="button cancel-button closed-button" data-button-type="back">
                    <button>Back</button>
                </div>
            </a>
        </div>

        {% include 'default/commons/javascripts.phtml' with {page: 'landing'} %}
    </body>
</html>
