<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        <div class="error-page content">
            <h1>Woops! This page does not exist.</h1>
            <div class="closed-button back-button">
                <button onClick = "window.history.back()">Back</button>
            </div>
        </div>
    </body>
</html>