<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header">Existing Solution</h2>
        <div class="section-body flexbox-container">
            <div class="flexbox-container">
                <p>What are the current options? What solutions already exist for this topic?</p>
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
            </div>
            <textarea name="existing-solution" data-entity-content-id="{{ entity.existingSolution.id }}" required autofocus="true" rows="4" placeholder="Add some additional information here!">{{ entity.existingSolution.value }}</textarea>
        </div>
    </div>
</div>