<div data-project-section="existing-solution" class="section-container flexbox-container">
    <h2 class="section-header">Existing Solution</h2>
    <p class="section-body">{{ entity.existingSolution.value }}</p>
</div>