<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header">Market Analysis</h2>
        <div class="section-body flexbox-container">
            <div class="flexbox-container">
                <p>What does the market for this topic look like?</p>
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
            </div>
            <textarea name="market-analysis" data-entity-content-id="{{ entity.marketAnalysis.id }}" required autofocus="true" rows="4" placeholder="Add some additional information here!">{{ entity.marketAnalysis.value }}</textarea>
        </div>
    </div>
</div>