<nav id="navigation-sidebar" class="flexbox-container hidden">
    <ul>
        <li><a href="/browse">Explore</a></li>
        <li class="nav-sub-option"><a href="/browse/ideas">Ideas</a></li>
        <li class="nav-sub-option"><a href="/browse/projects">Pitches</a></li>
        <li class="nav-sub-option"><a href="/browse/people">People</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/people/{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</a></li>
        <li><a href="/help">Help</a></li>
        <li><a id="logout" href="/logout">Log Out</a></li>
    </ul>
</nav>