{# Navigation bar template #}
<nav class="navigation-bar flexbox-container">
    <div class="logo-container flexbox-container">
        <div class="gravit8-logo-icon"></div>
        <a href="/browse">Gravit8</a>
        <h4 class="organization-name hidden">Hatching Health &amp; PHIX Present: The Great Hatch</h4>
    </div>
    <div class="navigation-bar-category-container flexbox-container">
        <ul>
            <li><a href="/browse">explore</a></li>
            <li><a href="/create">create</a></li>
        </ul>

        <h4 class="organization-name">Hatching Health &amp; PHIX Present: The Great Hatch</h4>

        <ul>
            <li class="nav-profile flexbox-container">
                {% include 'default/commons/profileImage.phtml' %}
                <a href="/people/{{ user.id }}">{{ user.firstName }}</a>
            </li>
            <li class="settings dropline"><a id="logout" href="/logout">logout</a></li>
        </ul>
    </div>

    <div id="navigation-sidebar-icon">☰</div>
    {% include organization.organizationDomain ~ '/navigation/navigationSidebar.phtml' %}
</nav>