<nav id="navigation-sidebar" class="flexbox-container hidden">
    <ul>
        <li><a href="/browse">Explore</a></li>
        <li class="nav-sub-option"><a href="/browse/pitches">Problems</a></li>
        <li class="nav-sub-option"><a href="/browse/projects">Projects</a></li>
        <li class="nav-sub-option"><a href="/browse/people">People</a></li>
        <li><a href="/create">Create</a></li>
        <li class="nav-sub-option"><a href="/create/pitch">Problem</a></li>
        <li class="nav-sub-option"><a href="/create/problem">Project</a></li>
        <li><a href="/people/{{ user.id }}">{{ user.firstName }}</a></li>
        <li><a href="/help">Help</a></li>
        <li><a id="logout" href="/logout">Log Out</a></li>
    </ul>
</nav>