<div data-project-section="add-scenario-forms" class="{{ project.isAnIdea ? '' : 'hidden' }}">
    <div data-scenario-form-type="unofficial" class="section-container hidden">
        <h2>add a scenario</h2>
        <form id="add-scenario-form" name="project-senario-proposal" spellcheck="true" class="content">
            {% include 'default/entity/components/scenarioFormTemplate.phtml' %}
            <div class="buttons">
                <div class="button submission">
                    <button type="submit" form="add-scenario-form" formmethod="post" formaction="/project/{{ project.id }}/stage/idea">submit</button>
                </div>
                <div class="button cancel-button">
                    <button data-button-type="cancel">cancel</button>
                </div>
            </div>
        </form>
    </div>

    {% if (user.id == project.champion.id) %}
        <div data-scenario-form-type="official" class="section-container flexbox-container hidden">
            <h2>official scenario</h2>
            <form id="add-official-scenario-form" name="project-senario-proposal" spellcheck="true" class="content">
                {% include 'default/entity/components/scenarioFormTemplate.phtml' %}
                <div class="buttons">
                    <div class="button submission">
                        <button type="submit" form="add-official-scenario-form" formmethod="post" formaction="/project/{{ project.id }}/stage/brief">submit</button>
                    </div>
                    <div class="button cancel-button">
                        <button data-button-type="cancel">cancel</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if (user.id == project.champion.id) %}
    <div class="section-container">
        <h2>note</h2>
        <div class="content">
            <p data-warning-message="official-scenario-warning">Before making this idea official, make sure other people can have a chance to contribute scenarios to the idea.</p>
        </div>
    </div>
    {% endif %}

    <div class="section-container add-scenario-buttons">
        <div class="content buttons">
            <div data-button-target="add-scenario" class="button submission">
                <button type="submit">Add Scenario</button>
            </div>
        {% if ((today >= date(project.ideationStartTime)) and (user.id == project.champion.id)) %}
            <div data-button-target="add-official-scenario" class="button submission">
                <button type="submit">Write Official Scenario</button>
            </div>
        {% endif %}
        </div>
    </div>
</div>