<div class="project-stage-container solution-stage preview-mode {{ (project.stage in ['recruitment', 'development']) ? '' : 'hidden' }}">
    <div data-project-section="one-liner" class="section-container">
        <div class="content">
            <p>{{ project.solution.oneLiner }}</p>
        </div>
    </div>

    <div class="section-container">
        <h2>Project Roles</h2>
        {% if (project.solution.roles is not empty) %}
            <ul class="project-roles-list content">
                {# TODO: please provide more descriptive naming to key and value - what do they represent? #}
                {% for role in project.solution.roles %}
                    <li data-role-id="{{ role.id }}" data-is-role-assigned="{{ role.contributors is not empty }}">
                        <h6>
                            {{ role.name }} is {{ (role.contributors is empty) ? 'unassigned' : 'assigned to' }} 
                            {% for contributor in role.contributors %}
                                <h6 class='contributor-name'><a href="/people/{{ contributor.id }}">{{ loop.last ? contributor.name : (contributor.name ~ ', ') }}</a></h6>
                            {% endfor %}
                        </h6>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h6>This project currently has no defined roles.</h6>
        {% endif %}
        
        <div class="modal-roles-container hidden">
            <div class="modal-roles">
                <form class="modal-roles-form">

                    {# TODO: please provide more descriptive naming to key and value - what do they represent? #}
                    {% for role in project.solution.roles %}
                        <label>
                            <input type="checkbox" name="roleId" value="{{ role.id }}">
                            {{ role.name }}
                        </label>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

    <div class="developer-container {{ (project.stage != 'development') ? 'hidden' : '' }}">
        <h2>Timeline</h2>
        <div class="project-timeline">
            <div id="gantt_here"></div>
        </div>

        <h1 class="task-title">Task Title</h1>
        <div class="null-task-message-container">
            <p>No task has been selected.</p>
        </div>

        <div class="task-detail-container flexbox-container hidden">
            <div class="task-detail-left flexbox-container">
                <div class="task-detail-dates">
                    <h2>Dates</h2>
                    <h6 class="task-start-date">Start Date: </h6>
                    <h6 class="task-end-date">End Date: </h6>
                    <h6>Days Left:<span class="task-days-left"></span></h6>
                </div>

                <div class="task-details-deliverables">
                    <h2 class="task-deliverables">Deliverables</h2>
                    <div data-development-section="deliverableDescription">
                        <h6 class="task-deliverables-description"></h6>
                    </div>
                </div>

                <div class="task-files flexbox-container">
                    <h2>Files</h2>
                    <div class="button deliverables-files-upload">
                        <button>Upload File</button>
                    </div>
                    <input data-file-chooser-type="deliverables-file-chooser" class="hidden" type="file" multiple></input>
                    <div class="files-container">
                    </div>
                </div>

                <div class="task-files-list flexbox-container">
                    <div class="task-files-name">
                        <h6>File Name</h6>
                        {# Files go here #}
                    </div>
                    <div class="task-files-date">
                        <h6>Date Added</h6>
                        {# Timestamp goes here #}
                    </div>
                </div>
            </div>

            <div class="task-detail-right flexbox-container">
                <div class="task-detail-people">
                    <h2>People Involved</h2>
                    <div class="people-involved">
                        {# People Involved go here #}
                    </div>
                </div>
                <div class="schedule-meetings flexbox-container">
                    <div class="button set-meeting-date hidden">
                        <button>Set Meeting Date</button>
                    </div>
                    <div class="null-meeting-message-container hidden">
                        <h6>Meeting unset!</h6>
                    </div>
                    <div class="meeting-detail-container">
                        <h2>Meetings</h2>
                        <h6>Meeting Number:<span class="meeting-number"></span></h6>
                        <h6>Topic: <span class="meeting-topic"></span></h6>
                        <h6>Date: <span class="meeting-date"></span></h6>
                        <h6>Start Time: <span class="meeting-start-time"></span> </h6>
                        <h6>End Time: <span class="meeting-end-time"></span> </h6>
                        <h6>Location: <span class="meeting-location"></span></h6> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# add condition for complete roles #}

    {% if ((project.status == 'active') and (project.stage == 'recruitment')) %}
        <div class="button submission" id="gravit8-button">
            <button type="button" formmethod="post">Gravit8</button>
        </div>
    {% endif %}

    {% if ((project.status == 'active') and (today >= date(project.teamFormationStartTime)) and (user.id == project.champion.id) and (project.stage == 'recruitment') and project.isTeamFormed) %}
        <div class="button submission">
            <form action="/project/{{project.id}}/stage/development" method="post">
                <button type="submit">Create Gantt Chart</button>
            </form>
        </div>
    {% endif %}
</div>