{% if (project.stage == 'idea') and (projectUpdates.event_type == 'stage_change') %}
	<h6>Your idea has been created. </h6>
{% elseif (projectUpdates.event_type == 'scenario_contribution') %}

{% elseif (project.stage == 'brief') and (projectUpdates.event_type == 'stage_change') %}

{% elseif (defined a project) %}

{% elseif (you are project champion) and (person has requested a role) %}

{% elseif (you are the requestee) and (you have been accepted for a role) %}

{% elseif (you are the requestee) and (you have been declined for a role) %}

{% elseif (you are the project champion) and (person has been confirmed role) %}

{% elseif (you are the project champion) and (person has withdrawn from role) %}

{% elseif (your project has completed roles) %}

{% elseif (person has updated the gantt chart has been updated) %}

{% elseif (task has been completed) %}

{% elseif (task has not been completed) %}

{% elseif (project has been published) %}

{% endif %}