<div data-project-section="publish-stage" class="project-stage-container published-stage preview-mode {{ (project.status == 'published') ? '' : 'hidden' }}">
    <header class="header-project section-container title-and-categories flexbox-container">
        <h1 class="name">{{ project.solution.name }}</h1>
        <div class="flexbox-container">
            {# project category tags template #}
            {% include 'default/entity/components/categoryTags.phtml' %}
        </div>
    </header>
    <div class="publish-section slideshow-and-roster">
        <div class="slideshow">
            {# Pictures go here #}
        </div>
        <div class="team-roster">
            {# People involved here #}
        </div>
    </div>
    <div class="publish-section one-liner">
        {# Published one-liner goes here #}
    </div>
    <div class="publish-section description">
        <h2>Description</h2>
        <h6>
            {# Published description goes here #}
        </h6>
    </div>
</div>