<div data-project-section="roles" class="project-role-container section-container {{ project.isSolution ? '' : 'hidden' }}">
    <h2>Project Roles</h2>
    {% if (project.solution.roles is not empty) %}
        <ul class="project-roles-list content">
            {% for role in project.solution.roles %}
                <li data-role-id="{{ role.id }}" data-is-role-assigned="{{ role.contributors is not empty }}" class="roles-row flexbox-container">
                    <h3 class="role-name">{{ role.name }}</h3>
                    <ul class="contributor-name {{ (role.contributors is empty) ? 'hidden' : '' }}">
                        {% for contributor in role.contributors %}
                            <li><a href="/people/{{ contributor.id }}">{{ contributor.name }}</a></li>
                        {% endfor %}
                    </ul>

                    {% if (role.contributors is empty) %}
                        <h6 class="contributor-name unassigned">unassigned</h6>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h6>This project currently has no defined roles.</h6>
    {% endif %}
    
    <div class="modal-roles-container hidden">
        <div class="modal-roles">
            <form class="modal-roles-form">
                {% for role in project.solution.roles %}
                    <label>
                        <input type="checkbox" name="roleId" value="{{ role.id }}">
                        {{ role.name }}
                    </label>
                {% endfor %}
            </form>
        </div>
    </div>
</div>