<div data-scenario-type="unofficial" class="scenarios-by">
    <h2>Scenario</h2>
        <div class="content">
            <div class="contributors flexbox-container">
                {% for contributor in project.idea.scenarios.contributors %}
                    {% include 'default/commons/profileImage.phtml' 
                        with {
                            'initials': contributor.initials, 
                            'image': contributor.image, 
                            'options': {
                                'id': contributor.id, 
                                'classes': 'contributor' ~ ((contributor.id == project.champion.id) ? ' project-champion' : '') ~ (loop.first ? ' selected' : '')
                            }
                        } only 
                    %}
                {% endfor %}
            </div>
            <div class="scenarios">
                <div class="triangle-up scenario-triangle"></div>
                <div class="scenario-bubble">
                    <ul>
                        {% for contributorId, contributorScenarios in project.idea.scenarios.unofficial %}
                            <li data-contributor-id="{{ contributorId }}" class="scenario {{ loop.first ? '' : ' hidden' }}">

                                {# scenario contributor's name and edit button #}
                                <div class="scenario-contributor-container flexbox-container">
                                    <a href="/people/{{ contributorId }}">
                                        <h4 class="contributor-name">{{ contributorScenarios|pluck('contributor')|pluck('name')|first }}</h4>
                                    </a>

                                    {# unofficial scenario edit button #}
                                    {% if ((project.status == 'active') and (user.id == contributorId)) %}
                                        <span class="icon edit-icon"></span>
                                    {% endif %}
                                </div>

                                {# iteration toggle #}
                                {% if (contributorScenarios|length > 1) %}
                                    <div class="iteration-toggle">
                                        <div data-button-type="previous" class="iteration-button">
                                            <h4>&lt;</h4>
                                        </div>

                                        <ul>
                                            {% for iteration in contributorScenarios|pluck('iterationNumber') %}
                                                <li data-scenario-iteration="{{ iteration }}" class="{{ loop.first ? '' : 'hidden' }}">
                                                    <h2>{{ iteration }} / {{ loop.length }}</h2>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div data-button-type="next" class="iteration-button">
                                            <h4>&gt;</h4>
                                        </div>
                                    </div>
                                {% endif %}

                                {# scenario contents #}
                                <ul>
                                    {% for scenario in contributorScenarios %}
                                        <li data-scenario-id="{{ scenario.id }}" data-scenario-iteration="{{ scenario.iterationNumber }}" class="{{ loop.first ? '' : ' hidden' }}">
                                            <div data-scenario-part="before">
                                                <h2>Before...</h2>
                                                {% if (scenario.before is not empty) %}
                                                    <p>{{ scenario.before }}</p>
                                                {% else %}
                                                    <p>This contributor has not written a scenario for this idea.</p>
                                                {% endif %}
                                            </div>

                                            <div class="test-tube-happens">
                                                <h5>... and then Test Tube happens ...</h5>
                                            </div>

                                            <div data-scenario-part="after">
                                                <h2>Now...</h2>

                                                {% if (scenario.after is not empty) %}
                                                    <p>{{ scenario.after }}</p>
                                                {% else %}
                                                    <p>This contributor has not written a scenario for this idea.</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </li>
                        {% endfor %}
                    </ul>

                    {# unofficial scenario editor #}
                    {% if ((project.status == 'active') and (user.id in project.idea.scenarios.contributors|pluck('id'))) %}
                        <div class="edit-controller">
                            <h2>Before...</h2>
                            <textarea name="scenario-before-editor" class="section-container"></textarea>
                            <div class="test-tube-happens">
                                <h5>... and then Test Tube happens ...</h5>
                            </div>
                            <h2>Now...</h2>
                            <textarea name="scenario-after-editor" class="section-container"></textarea>
                            <div class="edit-buttons-container flexbox-container">
                                <div class="button save-button">
                                    <button data-button-type="save">save</button>
                                </div>
                                <div class="button cancel-button">
                                    <button data-button-type="cancel">cancel</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>