<div>
    <h2>Before...</h2>
    <textarea name="scenario-before" required maxlength="500" rows="5" placeholder="How was the user affected before a solution was implemented? (500 characters max.)"></textarea>
</div>
<div class="test-tube-happens">
    <h6>... and then Test Tube happens ...</h6>
</div>
<div>
    <h2>Now...</h2>
    <textarea name="scenario-after" required maxlength="500" rows="5" placeholder="How has this changed after a solution was implemented? (500 characters max.)"></textarea>
</div>