<header class="header-indicators">
    <ul class="project-stage-indicators flexbox-container">
        <li data-project-stage="idea" class="idea-stage active-project-stage {{ project.isAnIdea ? 'selected' : '' }}"><a href="#{{ (project.stage == 'idea') ? 'idea' : 'brief' }}">idea</a></li>
        <li data-project-stage="project" class="solution-stage {{ project.isSolution ? 'active-project-stage' : '' }} {{ project.isSolution ? 'selected' : '' }}"><a href="#{{ (project.stage == 'recruitment') ? 'recruitment' : 'development' }}">project</a></li>
        <li data-project-stage="published" class="published-stage {{ project.isPublished ? 'active-project-stage selected' : '' }}"><a href="#published">published</a></li>
    </ul>
</header>