<div data-project-section="tasks" class="tasks developer-container section-container {{ project.isSolution ? '' : 'hidden' }}">
    <h2>Task Details</h2>
    <div class="content">
        <div class="null-task-message-container">
            <p>No task has been selected.</p>
        </div>

        <div class="task-detail-container flexbox-container hidden">
            <div class="task-detail-left flexbox-container">
                <h1 class="task-title">Task Title</h1>
                <div class="task-detail-dates">
                    <h2>Dates</h2>
                    <h6 class="task-start-date">Start Date: </h6>
                    <h6 class="task-end-date">End Date: </h6>
                    <h6>Days Left:<span class="task-days-left"></span></h6>
                </div>
                <div class="task-details-deliverables">
                    <h2 class="task-deliverables">Deliverables</h2>
                    <div data-development-section="deliverableDescription">
                        <h6 class="task-deliverables-description"></h6>
                    </div>
                </div>
                <div class="task-files flexbox-container">
                    <h2>Files</h2>
                    <div class="button deliverables-files-upload">
                        <button>Upload File</button>
                    </div>
                    <!-- <input data-file-chooser-type="deliverables-file-chooser" class="hidden" type="file" multiple> </input> -->
                    <div class="files-container"></div>
                </div>
                <div class="task-files-list flexbox-container">
                    <div class="task-files-name">
                        <h6>File Name</h6>
                        {# Files go here #}
                    </div>
                    <div class="task-files-date">
                        <h6>Date Added</h6>
                        {# Timestamp goes here #}
                    </div>
                </div>
            </div>

            <div class="task-detail-right flexbox-container">
                <div class="task-detail-people">
                    <h2>People Involved</h2>
                    <div class="people-involved">
                        {# People Involved go here #}
                    </div>
                </div>
                <div class="schedule-meetings flexbox-container">
                    <div class="button set-meeting-date hidden">
                        <button>Set Meeting Date</button>
                    </div>
                    <div class="null-meeting-message-container hidden">
                        <h6>Meeting unset!</h6>
                    </div>
                    <div class="meeting-detail-container">
                        <h2>Meetings</h2>
                        <h6>Meeting Number: <span class="meeting-number"></span></h6>
                        <h6>Topic: <span class="meeting-topic"></span></h6>
                        <h6>Date: <span class="meeting-date"></span></h6>
                        <h6>Start Time: <span class="meeting-start-time"></span> </h6>
                        <h6>End Time: <span class="meeting-end-time"></span> </h6>
                        <h6>Location: <span class="meeting-location"></span></h6> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>