<div data-project-section="roles" class="section-container flexbox-container">
    <h2 class="section-header">Roles</h2>
    <ul class="section-body">
        {% for role in project.roles %}
        <li class="section-body-role-assignment flexbox-container">
        	<p>{{ role.value.role }}</p>
            {% for assignee in role.value.assignees %}
                <div class="profile-image-icon {{ assignee.imagePath ? 'hidden' : '' }}">{{ assignee.initials }}</div>
                <div class="profile-image-icon {{ assignee.imagePath ? '' : 'hidden' }}" style="background-image: url({{ assignee.imagePath }})"></div>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>