<div data-project-section="team-members" class="section-container flexbox-container">
    <h2 class="section-header">Team Members</h2>
    <ul class="section-body">
        {% for teamMember in project.teamMembers %}
        <li class="section-body-team-member flexbox-container">
            <div class="profile-image-small {{ teamMember.imagePath ? 'hidden' : '' }}">{{ teamMember.initials }}</div>
            <div class="profile-image-small {{ teamMember.imagePath ? '' : 'hidden' }}" style="background-image: url({{ teamMember.imagePath }})"></div>
        	<a href="/people/{{ teamMember.id }}">{{ teamMember.firstName }} {{ teamMember.lastName }}</a>
        </li>
        {% endfor %}
    </ul>
</div>