<div id="edit-profile" class="hidden" spellcheck="true">
    <h1>Edit Your Profile</h1>
    <div id="edit-profile-form">

        {# Profile Picture #}
        <div class="edit-profile-picture section-container flexbox-container">
            <h2 class="section-header">Profile Picture</h2>
            <div data-dropzone class="section-body flexbox-container">
                <div id="edit-profile-image-initials" class="profile-image-medium {{ person.imagePath ? 'hidden' : '' }}">{{ person.initials }}</div>
                <div id="edit-profile-image-preview" class="profile-image-medium {{ person.imagePath ? '' : 'hidden' }}" style="background-image: url({{ person.imagePath }})"></div>
                <div class="button closed-button">
                    <button id="upload-profile-image-button" type="button">Upload Photo</button>
                    <input name="image" type="file" accept="image/*" class="hidden">
                </div>
            </div>
        </div>

        {# Profile Name #}
        <div class="edit-profile-name section-container flexbox-container">
            <h2 class="section-header">Name</h2>
            <div class="section-body flexbox-container">
                <textarea name="first-name" required maxlength="255" autofocus="true" rows="1" placeholder="What's your first name?">{{ person.firstName }}</textarea>
                <textarea name="last-name" required maxlength="255" autofocus="true" rows="1" placeholder="What's your last name?">{{ person.lastName }}</textarea>
                <h6 class="invalid-message hidden">* You should have a name.</h6>
            </div>
        </div>

        {# Profile Title #}
        <div class="edit-profile-title section-container flexbox-container">
            <h2 class="section-header">Title</h2>
            <div class="section-body">
                <textarea name="title" maxlength="255" rows="1" placeholder="What's your title?">{{ person.title }}</textarea>
            </div>
        </div>

        {# Additional Contents #}
        {# Biography #}
        {% if ((person.biography is defined) and (person.biography is not empty)) %}
            {% include 'default/profile/components/editBiography.phtml' with {'biography': person.biography} only %}
        {% endif %}

        {# Contacts #}
        {% if ((person.contacts is defined) and (person.contacts is not empty)) %}
            {% for contact in person.contacts %}
                {% include 'default/profile/components/editSocialMedia.phtml' with {'contact': contact, 'contactTypes': contactTypes} only %}
            {% endfor %}
        {% endif %}
    </div>

    {# Add Content Button #}
    <div class="create-buttons flexbox-container">
        <div class="open-button add">
            <button class="add-content" type="button">+ Add Content</button>
        </div>
    </div>

    {% include 'default/profile/components/addProfileAttribute.phtml' %}
</div>