<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' with {page: 'profile'} %}
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include 'default/navigation/navigationBar.phtml' with {selected: 'profile'} %}
        <header class="header-profile flexbox-container">
            <p><a href="/browse/">Explore</a>  >  <a href="/browse/people/">People</a>  >  <b>{{ person.firstName }} {{ person.lastName }}</b></p>
            {% if (user.id == person.id) %}
            <div class="user-controls flexbox-container">
                <h6 class="help-link"><a href="/help"></a></h6>
                <div class="button closed-button">
                    <button id="edit-profile-button">Edit Profile</button>
                </div>

                <div class="back-submit flexbox-container hidden">
                    <div class="closed-button back-button">
                        <button id="cancel-edit-profile-button" type="button">cancel</button>
                    </div>
                    <div class="closed-button submission">
                        <button id="edit-profile-submission" type="button">submit changes</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </header>
        <div id="profile-view" class="content">
            <div id="published-profile">
                <div class="profile-basic-info flexbox-container">
                    <div id="profile-image-initials" class="profile-image {{ person.imagePath ? 'hidden' : '' }}">{{ person.initials }}</div>
                    <div id="profile-image" class="profile-image {{ person.imagePath ? '' : 'hidden' }}" style="background-image: url({{ person.imagePath }})"></div>

                    <div class="name-and-title">
                        <div data-profile-section="name">
                            <h1 class="profile-name">{{ person.firstName }} {{ person.lastName }}</h1>
                        </div>
                        <div data-profile-section="title">
                            <h5 class="profile-title">{{ person.title }}</h5>
                        </div>
                    </div>
                </div>

                {% if ((person.biography is defined) and (person.biography is not empty)) %}
                    {% include 'default/profile/components/biography.phtml' with {'biography': person.biography} only %}
                {% endif %}

                {% if ((person.contacts is defined) and (person.contacts is not empty)) %}
                    <div class="profile-social-media section-container flexbox-container">
                        <h2 class="section-header">Social Media</h2>
                        <div class="section-body social-media-container flexbox-container">
                        {% for contact in person.contacts %}
                            {% include 'default/profile/components/socialMedia.phtml' with {'contact': contact} only %}
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="profile-portfolio section-container flexbox-container">
                    <h2 class="section-header">Portfolio</h2>
                    <div class="section-body">
                        <p class="warning-message">This person isn't involved in anything yet.</p>
                        <div class="items-container flexbox-container hidden">
                        {% for i in 1..2 %}
                            <a class="item-container invisible"></a>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>

            {% if (user.id == person.id) %}
                {% include 'default/profile/editProfile.phtml' %}
            {% endif %}
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>