<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header">Other Information</h2>
        <div class="section-body flexbox-container">
            <div class="flexbox-container">
                <p>What else would you like to add?</p>
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
            </div>
            <textarea name="other-information" data-entity-content-id="{{ entity.otherInformation.id }}" autofocus="true" rows="3" placeholder="Write down any additional info you would like participants to see!">{{ entity.otherInformation.value }}</textarea>
        </div>
    </div>
</div>