<div data-project-section="other-information" class="section-container flexbox-container">
    <h2 class="section-header">Other Information</h2>
    <p class="section-body">{{ entity.otherInformation.value }}</p>
</div>