<!DOCTYPE html>
<html>
    <head>
        {% include 'default/commons/header.phtml' %}
        
    </head>
    <body {{ (fontsAreLoaded) ? 'class="fonts-loaded"' : '' }}>
        {# navigation bar template #}
        {% include organization.organizationDomain ~ '/navigation/navigationBar.phtml' %}
        
        <header id="help-header" class="header-help flexbox-container">
            <ul class="help-tabs flexbox-container">
                <li><a class="unselected" data-name="get-started-help-section">Get Started</a></li>
                <li><a class="unselected" data-name="explore-help-section">Explore</a></li>
                <li><a class="unselected" data-name="create-help-section">Create</a></li>
                <li><a class="unselected" data-name="profile-help-section">Profile</a></li>
                <li><a class="unselected" data-name="contact-help-section">Contact</a></li>
            </ul>
            <div class="back-submit flexbox-container">
                <div class="closed-button back-button">
                    <button>back</button>
                </div>
            </div> 
        </header>
        <div id="help-view">
            <div class="help-top-banner">
                <h1>Need some help?</h1>
            </div>
            <div class="content">
                <div id="get-started-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Get Started</h2>
                    <div class="section-body">
                        <h6>You've come to the right place</h6>
                        <p>Welcome to Gravit8! As a collaboration platform, we help students: </p>
                        <ul>
                            <li>Discuss ideas they have and problem spaces they want to tackle,</li>
                            <li>Find interesting projects they want to partake in, and</li>
                            <li>Connect with other students to make those projects happen.</li>
                        </ul>
                        <p>At the same time, our students develop relevant, technical skills and generate their own portfolio of work to match.</p>
                        <p>Now that you've signed up, you're ready to engage in problems with other people! But before you do, let's go over some of the basics.</p>
                    </div>
                </div>
                <div id="explore-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Explore</h2>
                    <div class="section-body">
                        <p>The Explore page showcases ideas, pitches and the people you will be interacting with. You can click on each tab under the navigation bar to select what you want to see. For Hatching Health, your tabs are Problems, Projects and People.</p>
                        <h6>Problems</h6>
                        <p>Problems are areas of interest in the healthcare space that people are curious about exploring. Here, you can vote for the best problems during the event. Simply click on "Vote" to cast one. Remember, you only have 3 votes and you can unvote by clicking “Unvote”.</p>
                        <h6>Projects</h6>
                        <p>Projects are completed prototypes that you have developed during the event. Once your team has finished, you can create a project and add your teammates with their respective roles, as well as upload pictures to showcase your work.</p>
                        <h6>People</h6>
                        <p>Find potential teammates in the People section. Click on each person will lead you to their profiles, so make sure yours is in shape.</p>
                    </div>
                </div>
                <div id="create-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Create</h2>
                    <div class="section-body">
                        <p>Ready to start something yourself? Fear not! The Create page is your go-to for generating your own ideas and pitches. </p>
                        <h6>Create a Project</h6>
                        <p>Simply fill in the required content and post away! Use "Add Content" to add more information to your problem to help you explain your problem, but also help the judges pick the best problems of the event!</p>
                        <h6>Create a Project</h6>
                        <p>Your project is a way to showcase what you made during the event. Fill out the required fields and use "Add roles" to add your teammates and their contributions. Use "Add Content" to bring your project to life.</p>
                        <h6>Editing</h6>
                        <p>Editing your problem or project is easy. Simply go to the header of the idea or pitch page and click on "Edit Problem" or "Edit Project" respectively. Then, click "Submit Changes" when you are done.</p>
                    </div>
                </div>
                <div id="profile-help-section" class="section-container flexbox-container">
                    <h2 class="section-header">Profile</h2>
                    <div class="section-body">
                        <p>Let everyone know who you are! Profile pages are the best way to get to know who's here and a great way to start off conversations. We recommend you fill in your profile as soon as you sign up. </p>
                        <h6>Edit your Profile</h6>
                        <p>Simply click on "Edit Profile" and once you're done, click "Submit Changes".</p>
                    </div>
                </div>
                <div id="contact-help-section" class="flexbox-container">
                    <h1>Have a Question? Contact Us!</h1>
                    <div class="contact-us flexbox-container">
                        <div class="flexbox-container">
                            <div class="facebook-icon"></div>
                            <p><a href="https://facebook.com/gravit8.co">facebook.com/gravit8.co</a></p>
                        </div>
                        <div class="flexbox-container">
                            <div class="email-icon"></div>
                            <p><a href="mailto:hello@gravit8.co">hello@gravit8.co</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'default/commons/javascripts.phtml' %}
    </body>
</html>
