{# html metadata #}
<meta charset="utf8" name="viewport" content="width=device-width, initial-scale=1">
<title>Gravit8</title>

{# disabling favicon until we have one available for Gravit8 #}
{# see: http://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests #}
<link rel="icon" type="image/png" href="/images/favicon-32.png" />

{# core and vendor css #}
{# Gravit8 custom css #}
<link rel="stylesheet" type="text/css" href="/stylesheets/gravit8.min.css">

{# core and vendor javascripts #}
{# vendor javascripts #}
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.1/lodash.min.js"></script> -->
<script type="text/javascript" src="/javascripts/vendor/lodash.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/jQueryExtensions.js"></script>
<script type="text/javascript" src="/javascripts/vendor/cookie.js"></script>
<script type="text/javascript" src="/javascripts/vendor/fontFaceObserver.js"></script>
<script type="text/javascript" src="/javascripts/polyfills/math.js"></script>

{# Gravit8 custom javascripts #}
<script type="text/javascript" src="/javascripts/gravit8/commons/loadFonts.js"></script>
<script type="text/javascript" src="/javascripts/gravit8/commons/fontSizeHandler.js"></script>

{# Client side templates #}
{% include 'hatchinghealth/gallery/components/cards/pitchCard.html' %}
{% include 'default/gallery/components/cards/personCard.html' %}
{% include 'hatchinghealth/gallery/components/lists/pitchList.html' %}

{% include 'default/profile/components/addBiography.html' %}
{% include 'default/profile/components/addSocialMedia.html' %}

{% include 'default/entity/components/addDescription.html' %}
{% include 'default/entity/components/pitch/addPitchRole.html' %}
{% include 'hatchinghealth/entity/components/pitch/addPitchDescription.html' %}
{% include 'hatchinghealth/entity/components/pitch/addBackground.html' %}
{% include 'hatchinghealth/entity/components/pitch/addStakeholder.html' %}
{% include 'hatchinghealth/entity/components/pitch/addExistingSolution.html' %}
{% include 'hatchinghealth/entity/components/pitch/addMarketAnalysis.html' %}
{% include 'hatchinghealth/entity/components/pitch/addOtherInformation.html' %}

{% include 'default/entity/components/comment.html' %}