{# Gravit8 custom javascripts #}

{% if (page == 'landing') %}
    <script type="text/javascript" src="/javascripts/gravit8/pages/landingPage.js"></script>
{% else %}
    {# Gravit8 core scripts #}
    <script type="text/javascript" src="/javascripts/gravit8/commons/utilities.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/commons/sortHandler.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/commons/browserHistoryHandler.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/commons/throttleEventDetector.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/commons/scrollbarHandler.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/eventHandlers/likeHandler.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/eventHandlers/commentHandler.js"></script>
    <script type="text/javascript" src="/javascripts/gravit8/eventHandlers/tabHandler.js"></script>

    {# once page loaded scripts #}
    <script type="text/javascript" src="/javascripts/gravit8/hatchinghealth.initialization.js"></script>
{% endif %}