<div id="edit-pitch" class="hidden">
    <h1>Edit Your Pitch</h1>
    <div id="edit-pitch-form">

        {# Pitch Title #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">Title</h2>
            <div class="section-body flexbox-container">
                <textarea name="title" required maxlength="255" rows="1" placeholder="Give your pitch a meaningful title!"">{{ pitch.title }}</textarea>
                <h6 class="invalid-message hidden">* Don't leave your pitch title blank!</h6>
            </div>
        </div>

        {# pitch #}
        <div class="section-container flexbox-container">
            <h2 class="section-header">pitch</h2>
            <div class="section-body">
                <textarea name="pitch" required rows="2" placeholder="What's your pitch? Try phrasing it into a question such as &quot;We are developing... ?&quot;">{{ pitch.pitch }}</textarea>
                <h6 class="invalid-message hidden">* Don't leave your pitch blank!</h6>
            </div>
        </div>

        {# Replaced Category with Theme #}
        <div class="edit-category section-container flexbox-container">
            <h2 class="section-header">Theme</h2>
            <div class="section-body flexbox-container">
                <form>
                    {% for entityCategory in pitch.categories %}
                        <select name="categories" data-entity-content-id="{{ entityCategory.id }}">
                            {% for category in categories %}
                                <option value="{{ category.id }}" label="{{ category.name | replace({'and': '&'}) }}" {{ (entityCategory.categoryId == category.id) ? 'selected' : '' }}>{{ category.name | replace({'and': '&'}) }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="add-roles section-container flexbox-container">
            <h2 class="section-header">Roles</h2>
            <div class="section-body flexbox-container">
                <p>Who do you need on your team?</p>
                <div class="add-role-button open-button">
                    <button>+ Add a Role</button>
                </div>
                <ul id="roles">
                    {% include 'default/entity/components/pitch/editPitchRoles.phtml' %}
                </ul>
            </div>
        </div>

        {# Additional Contents #}
        {# Description #}
        {% if (pitch.description is not null) %}
            {% include 'default/entity/components/contents/fields/description/editDescription.phtml' with {entity: pitch} %}
        {% endif %}

        {# Background #}
        {% if (pitch.background is not null) %}
            {% include 'default/entity/components/contents/fields/background/editBackground.phtml' with {entity: pitch} %}
        {% endif %}

        {# Stakeholders #}
        {% if (pitch.stakeholder is not null) %}
            {% include 'default/entity/components/contents/fields/stakeholder/editStakeholder.phtml' with {entity: pitch} %}
        {% endif %}

        {# Existing Solutions/Current Options #}
        {% if (pitch.existingSolution is not null) %}
            {% include 'default/entity/components/contents/fields/existingSolution/editExistingSolution.phtml' with {entity: pitch} %}
        {% endif %}

        {# Market Analysis #}
        {% if (pitch.marketAnalysis is not null) %}
            {% include 'default/entity/components/contents/fields/marketAnalysis/editMarketAnalysis.phtml' with {entity: pitch} %}
        {% endif %}

        {# Other Information #}
        {% if (pitch.otherInformation is not null) %}
            {% include 'default/entity/components/contents/fields/otherInformation/editOtherInformation.phtml' with {entity: pitch} %}
        {% endif %}
    </div>

    {# Add Content Button #}
    <div class="create-buttons flexbox-container">
        <div class="open-button add">
            <button class="add-content" type="button">+ Add Content</button>
        </div>
    </div>

    {% include 'default/entity/components/addContent.phtml' with {
            options: ['all'], 
            entity: pitch
        } 
    %}
</div>