{% for role in pitch.roles %}
    <div class="entity-content flexbox-container">
        <textarea name="role" data-entity-content-id="{{ role.id }}" placeholder="What skills do you need?" rows="1" maxlength="255">{{ role.value }}</textarea>
        <div class="open-button cancel-remove-button">
            <button>Remove</button>
        </div>
    </div>
{% endfor %}