/* Idea/Pitch/Project Cards */
.item-container {
    @extend .no-underline-selector;
    background-color: $white;
    border: $standard-border;
    border-bottom: 3px solid $grey;
    border-top: $card-border-radius solid transparent;
    display: block;
    padding: 1.5em;
    //margin: $grid-spacing;
    margin: 0.75em;
    width: 25%;
    max-width: 33%;
    min-width: 25%;
    @include flex(1);
    @include flex-basis(25%);
    @include border-radius($card-border-radius);
    @include transition(box-shadow, 0.2s, ease);

    &:hover {
        @include box-shadow($standard-shadow);
    }

    &.list-view {
        display: inline-flex;
        width: 100%;
        max-width: 100%;
        @include align-items(center);
        @include flex-basis(100%);

        .name {
            display: inline-block;
            margin: 0;
            margin-right: 1em;
            @include flex-basis(20%);
        }

        .one-liner {
            display: inline-block;
            margin: 0;
            margin-right: 1em;
            @include flex-basis(25%);
        }

        .project-champion {
            border-top: none;
            padding-top: 0;
            @include flex-basis(25%);

            .started-by {
                width: 70%;
            }
        }

        .project-statistics {
            @include flex-basis(25%);

            h4 {
                width: 80%;
                height: initial;
            }

            // select[name='categories'] {
            //     margin-right: 2em;
            // }
        }

        .button {
            @include align-self(center);
            @include flex-basis(10%);
        }
    }

    a {
        display: block;
    }

    .name {
        margin: 0.5em 0;
        position: relative;
        display: block;
        white-space: nowrap; 
        overflow: hidden;
    }

    .one-liner {
        margin-bottom: 1.5em;
        position: relative;
        height: $base-line-height * 2.4; // figure out how to do this better
        overflow: hidden;
        white-space: pre-wrap;
    }
    
    .name:after {
        height: $h2-line-height;
        @extend .text-overflow;
    }

    .one-liner:after {
        height: $p-line-height;
        @extend .text-overflow;
    }

    .project-champion {
        padding-top: 1.5em;
        border-top: $standard-border;

        .started-by {
            width: 50%;

            h6 {
                height: $h6-line-height;
                position: relative;
                overflow: hidden;
                white-space: pre-wrap;
            }

            h6:after {
                @extend .text-overflow;
            }
        }
    }

    .project-statistics {
        @include justify-content(space-between);

        h4 {
            width: 60%;
            position: relative;
            overflow: hidden;
            white-space: pre-wrap;
            text-transform: capitalize;
        }

        h4:after {
            @extend .text-overflow;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .button {
        margin-left: auto;
        @include align-self(flex-end);
    }

    &.invisible {
        background-color: transparent;
        margin-bottom: 0;
        @include box-shadow(0 0 0 0);
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        border: none;

        &:hover {
            cursor: default;
        }
    }
}

/* People Cards */
.people-card {
    text-align: center;
    height: inherit;
    width: 13rem;
    margin: 0 auto 3em auto;
    padding: 0 1.5em;
    @include border-radius(0.3rem);

    &.invisible {
        background-color: transparent;
        border: none;
    }
}

/* Responsive Design */
@media screen and (max-width: $breakpoint-one) {
    .item-container {
        width: 40%;
        max-width: 50%;
        @include flex-basis(35%);

        &.list-view {
            .name, .one-liner, .project-champion {
                @include flex-basis(33%);
            }

            .project-statistics {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-three) {
    .item-container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto (2 * $grid-spacing) auto;
        @include flex-basis(100%);

        &.list-view {
            .name, .one-liner, .project-champion {
                @include flex-basis(33%);
            }

            .profile-image-small, .project-statistics {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-four) {
    .item-container {
        &.list-view {
            .name, .one-liner {
                @include flex-basis(50%);
            }
            
            .project-champion, .project-statistics {
                display: none;
            }
        }
    }
}