.header-browse {
    @extend .header-default;
    @include flex-basis(100%);
}

.browse-tabs {
    @include flex-basis(50%);

    li {
        width: 25%;
        text-align: center;
    }

    .unselected {
        color: $light-grey;

        &:hover {
            color: $white;
        }

        &.selected {
            @extend .bold;
            color: $white;
        }
    }

    a.unselected span {
        color: $light-grey;
    }

    a.unselected:hover span {
        color: $white;
    }

    a.selected span {
        @extend .bold;
        color: $white;
    }
}

.search-bar {
    //@include flex-basis(45%);

    input[type = search] {
        @include border-radius($card-border-radius);
        border: none;
        color: $white;
        outline: none;
        padding: 12px 20px 12px 36px;
        height: $search-bar-height;
        background-image: url(https://fullcontact-static.s3.amazonaws.com/images/website/icon-search.png);
        background-color: #005f6f;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: 8px;
        width: 100%;
    }
}

.sort-by-options.options {
    @include align-items(center);

    p {
        display: inline-block;
    }

    select {
        @extend .bold;
        color: $white;
        border: none;
        width: 100%;
        background-color: transparent;
    }
}

.help-and-sort-container {
    @include align-items(center);
    @include flex-basis(50%);
    @include justify-content(flex-end);
}

.items-container {
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

.list-order {
    height: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }
}

.list-order:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid $font-grey;
}

.list-order.reversed:after {
    border-top: none;
    border-bottom: 10px solid $font-grey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -5px;
}

/* NOTE: debating if this code style is ok or should it be specified by classes instead? */
#vote-summary h4 span {
    @extend h4;
}

@media screen and (max-width: $breakpoint-two) {
    .help-and-sort-container {
        margin: 0;
        @include flex-basis(60%);
    }

    .browse-tabs {
        margin: 0;
        @include flex-basis(40%);
    }

    .browse-tabs li {
        width: 33.3%;
    }
}

@media screen and (max-width: $breakpoint-three) {
    .header-browse {
        .help-link, .sort-by {
            display: none !important;
        }
    }

    .help-and-sort-container, .browse-tabs {
        margin: 0;
        @include flex-basis(50%);
    }
}

@media screen and (max-width: $breakpoint-four) {
}