/* Idea/Pitch/Project Cards */
.item-container-list {
    @extend .no-underline-selector;
    background-color: $white;
    border: $standard-border;
    border-bottom: 3px solid $grey;
    display: block;
    padding: 1.5em;
    width: 100%;
    margin: $grid-spacing;
    @include flex(1);
    @include flex-basis(100%);
    @include border-radius($card-border-radius);
    @include transition(box-shadow, 0.2s, ease);

    &:hover {
        @include box-shadow($standard-shadow);
    }

    a {
        display: block;
    }

    .name {
        margin: 0.5em 0;
        position: relative;
        display: block;
        white-space: nowrap; 
        overflow: hidden;
    }

    .one-liner {
        margin-bottom: 1.5em;
        position: relative;
        height: 3em;
        overflow: hidden;
        white-space: pre-wrap;
    }
    
    .name:after {
        height: $h2-line-height;
        @extend .text-overflow;
    }

    .one-liner:after {
        height: $p-line-height;
        @extend .text-overflow;
    }

    .project-champion {
        padding-top: 1.5em;
        border-top: $standard-border;

        .started-by {
            width: 50%;

            h6 {
                height: $h6-line-height;
                position: relative;
                overflow: hidden;
                white-space: pre-wrap;
            }

            h6:after {
                @extend .text-overflow;
            }
        }
    }

    .project-statistics {
        @include justify-content(space-between);

        h4 {
            width: 60%;
            position: relative;
            height: $h4-line-height;
            overflow: hidden;
            white-space: pre-wrap;
        }

        h4:after {
            @extend .text-overflow;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .button {
        margin-left: auto;
        @include align-self(flex-end);
    }

    &.invisible {
        background-color: transparent;
        margin-bottom: 0;
        @include box-shadow(0 0 0 0);
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        border: none;

        &:hover {
            cursor: default;
        }
    }
}

/* People Cards */
.people-card-list {
    text-align: center;
    height: inherit;
    width: $profile-image-medium;
    margin: 0 auto 3em auto;
    padding: 0 1.5em;
    @include border-radius(0.3rem);

    &.invisible {
        background-color: transparent;
        border: none;
    }
}

/* Responsive Design */
@media screen and (max-width: $breakpoint-one) {
    .item-container {
        @include flex-basis(40%);
    }
}

@media screen and (max-width: $breakpoint-three) {
    .item-container {
        .profile-image-small {
            display: none;
        }
    }
}

@media screen and (max-width: 650px) {
    .item-container {
        .profile-image-small {
            display: inline-block;
        }
    }
}

@media screen and (max-width: $breakpoint-four) {
    .item-container {
        margin: 0 auto (2 * $grid-spacing) auto;
    }
}