<script type="text/template" id="add-profile-contact-form-template">
    <div class="profile-attribute">
        <div class="add-content-head edit-profile-social-media section-container flexbox-container">
            <h2 class="section-header">Social Media</h2>
            <div class="section-body flexbox-container">
                <div class="open-button cancel-remove-button">
                    <button type="button">Remove</button>
                </div>
                <div class="social-media-fields flexbox-container">
                    <form>
                        <select name="categories">
                        <% contactTypes.forEach(function(contactType, index) { %>
                            <option value="<%= contactType.id %>" label="<%= contactType.value %>"><%= contactType.value %></option>
                        <% }); %>
                        </select>
                    </form>
                    <textarea name="contact" class="contact-reference-editor" placeholder="Reference" maxlength="255" rows="1"></textarea>
                </div>
            </div>
        </div>
    </div>
</script>