<div class="profile-attribute">
    <div class="add-content-head edit-profile-biography section-container flexbox-container">
        <h2 class="section-header">Biography</h2>
        <div class="section-body flexbox-container">
    		<div class="open-button cancel-remove-button">
				<button type="button">Remove</button>
			</div>
    		<textarea name="biography" data-profile-attribute-id="{{ biography.id }}" required autofocus="true" rows="4" placeholder="Who are you? What's your story?">{{ biography.value }}</textarea>
    	</div>
    </div>
</div>