/* General Buttons */
.open-button button {
    border: none;
    outline: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.closed-button button {
    border: 1px solid $light-blue;
    color: $light-blue;
    outline: none;
    background-color: transparent;
    padding: 0.75em 1.5em;
    @include border-radius(5px);
    @include transition(background-color,0.2s,ease-in);

    &:hover {
        cursor: pointer;
        background-color: $light-blue;
    }
}

//inactive buttons; NOTE: just temporary visual cue
.closed-button button[disabled] {
    border-color: $darkest-grey;
    color: $darkest-grey;
    background-color: unset;

    &:hover {
        cursor: progress;
        border-color: $darkest-grey;
        color: $darkest-grey;
        background-color: unset;
    }
}

/* Special Buttons */
.default-button button,
.save-button button,
.add-role button,
.deliverables-files-upload button {
    padding: 0.6rem;
}

/* Light-Blue Buttons */
.log-in-button button,
.sign-up-button button,
.contact button,
.continue button,
.liked button {
    background-color: $light-blue;
    color: $white;

    &:hover {
        background-color: $blue;
    }

    &:active {
        background-color: $dark-blue;
    }
}

// Idea Page
.iteration-toggle {
    margin: 1rem 0;
    display: inline-flex;

    div:first-of-type {
        padding: 0 1rem 0 0;
    }

    div:last-of-type {
        padding: 0 0 0 1rem;
    }

    .iteration-button h4 {
        color: $dark-blue;
        margin-top: 0.25rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.iteration-toggle > ul > li > h2 {
    padding: 0;
}

.add-scenario-buttons {
    @include justify-content(flex-end);

    .submission:last-of-type {
        margin-left: 1rem;
    }
}

.edit-buttons-container {
    @include justify-content(flex-end);

    .button, .delete-button {
        margin: $edit-button-margin $edit-button-margin 0 0;
    }

    .button:last-child {
        margin-right: 0;
    }

    .delete-button, 
    .confirm-button {
        button {
            margin-top: $edit-button-margin;
            background-color: transparent;
            border: none;
            outline: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .confirm-button {
        margin-top: $edit-button-margin;
        margin-right: $edit-button-margin;
    }

    .cancel-button button {
        padding: 0.6rem;
    }
}


.back-button button {
    border-color: $grey;
    color: $grey;

    &:hover {
        border-color: $grey;
        background-color: $grey;
    }
}

header .closed-button button {
    padding: 0.5em 1em;
}

.reaction-buttons {
    @include align-items(center);

    &:first-child {
        margin-left: 0;
    }

    & > div, p {
        margin-left: 0.5em;
    }

}