/* Project Category Tag */
.category-tag {
    padding: 0.6rem;
    margin-right: 0.25rem;
    display: inline-block;
    @include border-radius($card-border-radius / 2);
}

/* Category Colours */
/* Default Category Colour */
[class$='-category'] {
    @include category-color($header-color);
}

/* Category Colours Override */
.art-and-culture-category {
    @include category-color($art-and-culture-tag-color);
}

.environment-category {
    @include category-color($environment-tag-color);
}

.education-category {
    @include category-color($education-tag-color);
}

.food-and-health-category {
    @include category-color($food-and-health-tag-color);
}

.lifestyle-category {
    @include category-color($lifestyle-tag-color);
}

.science-and-technology-category {
    @include category-color($science-and-technology-tag-color);
}

.society-and-politics-category {
    @include category-color($society-and-politics-tag-color);
}


/* Hatching Health Statuses */
/*
.posted-category {
    @include category-color($art-and-culture-tag-color);
}

.selected-category {
    @include category-color($environment-tag-color);
}

.presented-category {
    @include category-color($light-blue);
}
*/

/* Bizhacks Custom Categories */
.best-buy-canada-category {
    @include category-color($darkest-blue);
}

.business-category {
    @include category-color(#37A419);
}

/* Code Hack Custom Categories */
.care-teams-category {
    @include category-color($art-and-culture-tag-color);
}

.patients-category {
    @include category-color($food-and-health-tag-color);
}

.health-system-category {
    @include category-color($education-tag-color);
}

.open-challenge-category {
    @include category-color($lifestyle-tag-color);
}