/* General */
 @-ms-viewport{
    width: device-width;
 }

html,
body {
    min-height: 100%;
}

body {
    background-color: $lightest-grey;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 0;
}

.flexbox-container {
    @include flexbox();
}

.dropzone {
    border: $dropzone-border;
}

/* General Header */ 
.header-default {
    position: fixed;
    z-index: 99;
    height: $sub-nav-height;
    line-height: $sub-nav-height - $slide-selector-height;
    padding: 0 $navigation-sidebar-width;
    background-color: $header-color;
    top: $navigation-bar-height;
    width: $content-section-width;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction(row);

    a, p {
        color: $light-grey;
    }

    a, p {
        @include transition(font-size, 0.1s, ease, 
                            padding, 0.1s, ease);
    }

    b {
        color: $white;
    }

    > *:first-child:not(.help-link) {
        margin-left: 2rem;
    }

    > *:last-child {
        margin-right: 2rem;
    }

    .user-controls {
        @include justify-content(space-between);
        @include align-items(center);

        .like-button {
            margin-right: 0.5rem;
        }

        .help-link {
            margin: 0 1.5rem 0 auto;
        }

        p, h6 {
            @include flex-direction(column);
        }
    }
}

/* General Content */
.content {
    position: relative;
    margin: $navigation-bar-height auto 0 auto;
    width: $content-section-width;
    padding-bottom: $content-section-padding;
    max-width: $content-section-width;
    min-height: $content-section-height;
    z-index: 0;
    overflow:hidden;
    top: $navigation-bar-height + $sub-nav-height;
}

.card-page {
    background-color: transparent;
    //border: $standard-border;
    padding: 0 $content-section-padding;
    //@include border-radius($card-border-radius);
}

.section-container {
    margin-bottom: 2em;

    .section-header {
        max-width: 23%;
        min-width: 23%;
        margin-right: 1em;
        @include flex-basis(23%);
    }

    .section-body {
        max-width: 77%;
        @include flex-basis(77%);
        @include flex-wrap(wrap);
    }
}

/* General Footer */
.footer-default {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;
    border-top: $standard-border;

    h4, span {
        color: $dark-grey;
    }
}

.vote-summary-bar {
    footer {
        padding: 1rem;
        @include justify-content(center);
    }

    .limit-reached {
        background-color: $header-color;

        h4, span {
            color: $white;
        }
    }
}

textarea, select {
    resize: none;
    overflow: hidden;
    outline: none;
    padding: $textarea-padding;
    width: $textarea-width;
    border: $standard-border;
    box-sizing: border-box;
    @include border-radius($textarea-border-radius);
}

.hidden {
    display: none !important;
}

.warning-message {
    display: block;
    margin: 1rem 0;
}

p[data-section = breadcrumb] {
    height: 1.5rem;
    overflow: hidden;
}

.text-overflow {
    content: "";
    background: linear-gradient(to right, rgba(255,255,255,0), $white);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 1.5rem;
}

.remaining-time h6 {
    display: inline-block;
}

.error-page {
    text-align: center;
    
    h1 {
        margin-bottom: 3rem;
    }
}

.comment {
    white-space: pre-wrap;
}

.add-content-module {
    h2 {
        border-top: $standard-border;
        margin: 1rem 0;
        padding: 1rem 0;
    }
}

.contact-us {
    padding-top: 2em;
    margin: 2em auto 0 auto;
    @include align-items(center);
    @include flex-direction(column);

    & > div {
        @include align-items(center);
    }
}

.help-link {
    margin: 0 1.5rem 0 auto;

    a:before {
        content: "Need help?";
    }
}

.search-suggestions {
    background-color: $light-grey;
    position: absolute;
    width: 31.7%;

    .person-suggestion {
        border: $standard-border;
        padding: 1rem;
        @include align-items(center);
        @include transition(box-shadow, 0.2s, ease);

        &:hover {
            background-color: $light-blue;
            cursor: pointer;
            @include box-shadow($standard-shadow);
            color: $white;
        }

        .profile-information {
            margin-left: 1rem;
            @include flex-direction(column);

            p {
                margin-bottom: 0;
            }
        }
    }
}

.profile-information {
    margin-left: 1rem;
    @include flex-direction(column);
}

@media screen and (max-width: $breakpoint-two) {
    .header-default {
        padding: 0%;
        width: 100%;
    }
}

@media screen and (max-width: $breakpoint-three) {
    .section-container {
        display: block;
        @include flex-direction(column);

        .section-header, .section-body {
            max-width: 100%;
            min-width: 100%;
            @include flex-basis(100%);
            @include flex-wrap(wrap);
        }
    }

    .help-link {
        display: none !important;
    }
}