/* Font Style Guide */

    // h1           Header
    // h2           Sub-Header
    // h3           Category/Buttons
    // h4           Options
    // h5           Body Subject
    // p            Body

    // span         Logos & icons
    // textarea     Forms
    // ul, li       Lists

/* Default Styles */
html {
    //font-size: $base-font-size !important;
}

html * {
    font-family: $default-fonts;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $regular;
    color: $font-grey;
    word-wrap: break-word;
}

/* General Styles */
.bold {
    font-weight: $bold;
}

.regular {
    font-weight: $regular;
}

.light {
    font-weight: $light;
}

/* General Transforms */
.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

/* Specifications */
.fonts-loaded {
    h1 {
        @extend .bold;
        font-size: $h1-size;
        line-height: $h1-line-height;
    }

    h2 {
        @extend .bold;
        font-size: $h2-size;
        line-height: $h2-line-height;
    }

    h3 {
        @extend .bold;
        font-size: $h3-size;
        line-height: $h3-line-height;
    }

    h4 {
        font-size: $h4-size;
        line-height: $h4-line-height;
    }

    h5 {
        @extend .light;
        font-size: $h5-size;
        line-height: $h5-line-height;
    }

    h6 {
        @extend .bold;
        font-size: $h6-size;
        line-height: $h6-line-height;
    }

    p {
        @extend .light;
        font-size: $p-size;
        line-height: $p-line-height;
    }

    a {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        text-decoration: none;
        
        &:hover {
            color: $light-blue;
            cursor: pointer;
        }
    }

    b {
        @extend .bold;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: inherit;

        a:hover {
            color: $light-blue;
        }
    }

    // Others
    ul, li {
        line-height: inherit;
        text-transform: none;
    }

    textarea {
        @extend .light;
        font-size: $p-size;
        line-height: $p-line-height;
    }

    select, option {
        @extend .capitalize;
    }

    button {
        line-height: normal;
        @extend .capitalize;
    }

    .title {
        display: inline;
    }

    .name {
        display: inline;
    }

    .invalid-message {
        line-height: 2em;
    }

    .project-list-entry h2 {
        @extend .bold;
        @extend .uppercase;
    }

    .category-tag {
        @extend .bold;
        @extend .uppercase;
    }

    .category-tag,
    .scenario-bubble h2, 
    .scenario-bubble h4,
    .scenario-bubble h5,
    .scenario-bubble p {
        color: $font-white;
    }

    .one-liner p, 
    .description p, 
    .scenario p,
    #proposal-form h2 {
        display: inline;
    }

    .project-updates {
        h5 {
            margin-left: 1rem;
        }
    }

    .open-button button {
        color: $light-blue;
    }

    .cancel-remove-button button {
        color: $grey;
    }

    .closed-button button {

        &:hover {
            color: $white;
        }
    }

    .section-header {
        color: $dark-grey;
    }
}

@media screen and (max-width: $breakpoint-zero) {
    html * {
        font-size: $breakpoint-zero-font-size;
        line-height: $breakpoint-zero-line-height;
    }
}

@media screen and (max-width: $breakpoint-one) {
    html * {
        font-size: $breakpoint-one-font-size;
        line-height: $breakpoint-one-line-height;
    }
}

@media screen and (max-width: $breakpoint-two) {
    html * {
        font-size: $breakpoint-two-font-size;
        line-height: $breakpoint-two-line-height;
    }
}

@media screen and (max-width: $breakpoint-three) {
    html * {
        font-size: $breakpoint-three-font-size;
        line-height: $breakpoint-three-line-height;
    }

    .fonts-loaded {
        h1, h5 {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
}

@media screen and (max-width: $breakpoint-four) {
    html * {
        font-size: $breakpoint-four-font-size;
        line-height: $breakpoint-four-line-height;
    }

    .fonts-loaded {
        h1, h5 {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }
}