@function generate-percentage($ratio) {
    @return $ratio * 100%;
}

@function generate-rem($ratio) {
    @return $ratio * 1rem;
}

@function initials-resizing($profile) {
    @return ($profile / 3);
}