.header-help {
	@extend .header-default;

	.back-submit {
    	margin-left: auto;
    }
}

.help-tabs {
	margin-left: 1rem;
	@include flex-basis(90%);

	li {
		text-align: center;
		@include flex-basis(15%);
	}

	a {
        @extend h4;
        line-height: $sub-nav-height - $slide-selector-height;
        margin-bottom: 1em;
    }

    .unselected {
        color: $light-grey;

        &:hover {
            color: $white;
        }

        &.selected {
            @extend .bold;
            color: $white;
        }
    }
}

#help-view {
	margin: 0;
	max-width: 100%;
	width: 100%;

	.content {
		top: 0;

		h1 {
			color: $dark-grey;
		}
	}

	h1 {
		text-align: center;
		padding-top: 6em;
		color: $white;
	}

	h6 {
		font-size: 1.5em;
        line-height: 1.5em;
	}

	ul {
		list-style-type: disc;
		margin-left: 2em;
	}

	.numbered-list {
		list-style-type: decimal;
	}

	.section-body {
		h6, p, ul {
			margin-bottom: 1em;
		}

		li {
			margin-bottom: 0.5em;
		}
	}

	.contact-us {
		margin: 0 auto;
		margin-bottom: 5em;
		@include align-items(center);
		@include flex-direction(column);

		& > div {
			margin-bottom: 1em;
			@include align-items(center);
		}

		p {
			margin-right: 2em;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.help-top-banner {
	background-image: url("/images/helpTopBanner.png");
	background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 30em;
}

#contact-help-section {
	@include flex-direction(column);
	@include align-items(center);

	h1 {
		width: 100%;
	}
}

@media screen and (max-width: $breakpoint-two) {
	.help-tabs {
		display: none;
	}
}