.icon {
    background-size: cover;
    margin-left: 8px;
    width: 26px;
    height: 26px;

    &.update-icon {
        margin-left: 0;
    }
}

.dot {
    width: $dot-size-small;
    height: $dot-size-small;
    @include border-radius($dot-size-small);
}

.gravit8-logo-icon {
    background-image: url('/images/gravit8Logo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1em;
}

.gravit8-home-logo-icon {
    background-image: url('/images/homeLogo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 1em;
}

.like-icon {
    background:url('/images/like.png');
    background-size: $icon-button-size $icon-button-size;
    border: none;
    width: $icon-button-size;
    height: $icon-button-size;
    outline: none;

    &.liked {
        background: url('/images/liked.png');
        background-size: $icon-button-size $icon-button-size;
        border: none;
        width: $icon-button-size;
        height: $icon-button-size;
    }
}

.vote-icon {
    background:url('/images/vote.png');
    background-size: $icon-button-size $icon-button-size;
    border: none;
    width: $icon-button-size;
    height: $icon-button-size;
    outline: none;

    &.voted {
        background: url('/images/voted.png');
        background-size: $icon-button-size $icon-button-size;
        border: none;
        width: $icon-button-size;
        height: $icon-button-size;
    }
}

.comment-icon {
    background: url('/images/comment.png');
    background-size: $icon-button-size $icon-button-size;
    border: none;
    width: $icon-button-size;
    height: $icon-button-size;
    outline: none;
}

/* Card/List View */
.card-view-icon {
    background: url('/images/cardView.png');
    background-size: $icon-button-size $icon-button-size;
    border: none;
    width: $icon-button-size;
    height: $icon-button-size;
    outline: none;
    margin-left: 1em;
}

.list-view-icon {
    background: url('/images/listView.png');
    background-size: $icon-button-size $icon-button-size;
    border: none;
    width: $icon-button-size;
    height: $icon-button-size;
    outline: none;
}

/* Social Media */
.social-media-icon {
    background-size: $icon-button-size $icon-button-size;
    cursor: pointer;
    border: none;
    width: $icon-button-size;
    height: $icon-button-size;
    outline: none;
    margin-right: ($icon-button-size / 2);
}

.email-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/email.png');
}

.email-icon-white {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/emailWhite.png');
}

.phone-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/phone.png');
}

.linkedin-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/linkedin.png');
}

.twitter-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/twitter.png');
}

.facebook-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/facebook.png');
}

.facebook-icon-white {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/facebookWhite.png');
}

.instagram-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/instagram.png');
}

.github-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/github.png');
}

.behance-icon {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/behance.png');
}

.address-icon-white {
    @extend .social-media-icon;
    background-image: url('/images/socialMediaIcons/address.png');
}