@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin border-radius($radii...) {
    -webkit-border-radius: $radii;
    -moz-border-radius: $radii;
    border-radius: $radii;
}

/* NOTES: See https://css-tricks.com/rgba-browser-support/ for how the fallback works */
@mixin transparent-background-color($colour, $alpha) {
    background-color: $colour;
    background-color: transparentize($colour, 1 - $alpha);
}

@mixin transparent-color($colour, $alpha) {
    color: $colour;
    color: transparentize($colour, 1 - $alpha);
}

@mixin transition($transition-list...) {
    -webkit-transition: $transition-list;
    -moz-transition: $transition-list;
    -ms-transition: $transition-list;
    -o-transition: $transition-list;
    transition: $transition-list;
}

@mixin column-count($columns) {
    -webkit-column-count: $columns;
    -moz-column-count: $columns;
    column-count: $columns;
}

@mixin column-fill($mode) {
    -moz-column-fill: $mode;
    column-fill: $mode;
}

@mixin box-sizing($format) {
    -webkit-box-sizing: $format;
    -moz-box-sizing: $format;
    box-sizing: $format;
}

@mixin max-width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin linear-gradient($direction, $start-color, $stop-color) {
    background: $start-color; //for non-supported browsers
    background: -webkit-linear-gradient($direction, $start-color, $stop-color);
    background: -moz-linear-gradient($direction, $start-color, $stop-color);
    background: -o-linear-gradient($direction, $start-color, $stop-color);
    background: linear-gradient($direction, $start-color, $stop-color);
}

//TODO: use CSS autoprefixer to fix these prefixes in the near future
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values...) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-direction($value) {
    flex-direction: $value;
}

@mixin flex-wrap($value) {
    flex-wrap: $value;
}

@mixin flex-flow($value) {
    flex-flow: $value;
}

@mixin justify-content($value) {
    justify-content: $value;
}

@mixin align-items($value) {
    align-items: $value;
}

@mixin align-content($value) {
    align-content: $value;
}

@mixin order($value) {
    -webkit-box-ordinal-group: $value;
    -moz-box-ordinal-group: $value;
    -ms-flex-order: $value;
    -webkit-order: $value;
    order: $value;
}

@mixin flex-grow($value) {
    flex-grow: $value;
}

@mixin flex-shrink($value) {
    flex-shrink: $value;
}

@mixin flex-basis($value) {
    flex-basis: $value;
}

@mixin align-self($value) {
    align-self: $value;
}

@mixin category-color($color, $border-radius: $card-border-radius, $button-radius: 1px) {
    &.item-container {
        border-top: $border-radius solid $color;
    }

    &.category-tag {
        background-color: $color;
    }

    .tag {
        color: $color;
    }

    .button button {
        border: $button-radius solid $color;
        color: $color;

        &:hover {
            background-color: $color;
        }
    }
}