.profile-image {
    background: $darkest-grey no-repeat 50% 50%;
    background-size: cover;
    width: $profile-image-large;
    height: $profile-image-large;
    text-align: center;
    color: $white;
    line-height: $profile-image-large;
    font-size: initials-resizing($profile-image-large);
    @include border-radius($profile-image-large);
}

.profile-image-medium {
    @extend .profile-image;
    width: $profile-image-medium;
    height: $profile-image-medium;
    line-height: $profile-image-medium;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: initials-resizing($profile-image-medium);
}

.profile-image-small {
    @extend .profile-image;
    width: $profile-image-small;
    min-width: $profile-image-small;
    height: $profile-image-small;
    min-height: $profile-image-small;
    line-height: $profile-image-small;
    font-size: initials-resizing($profile-image-small);
}

.profile-image-icon {
    @extend .profile-image;
    width: $profile-image-icon;
    min-width: $profile-image-icon;
    height: $profile-image-icon;
    min-height: $profile-image-icon;
    line-height: $profile-image-icon;
    font-size: initials-resizing($profile-image-icon);
}

.contributor {
    @extend .profile-image;
    @extend .profile-image-small;
    margin-right: 5px;
    @include order(2);

    &.selected {
        @include order(1);
        width: $profile-contributor-focus;
        height: $profile-contributor-focus;
        line-height: $profile-contributor-focus;
        font-size: initials-resizing($profile-contributor-focus);
        margin-bottom: 0;
        @extend .no-underline-selector;
    }
}