/* Underlined Selection */
.underline-selector {
    border-bottom: $slide-selector-height solid $light-blue;
}

.no-underline-selector {
    border-bottom: none;
}

/* Glowing Hover */
.glow-selector {
    color: $light-blue;
}

/* Navigation Bar Sliding Underline Effect */
.slide-nav:after {
    content: '';
    display: block;
    margin: 0.55rem auto 0 auto;
    height: 0.5em;
    width: 0;
    background: transparent;
    @include transition(width, 0.2s, ease, background-color, 0.2s, ease);
}

.slide-nav:hover:after {
    width: 100%;
    background: $light-blue;
}

.navigation-bar-category-container > a {
    @include transition(color, 0.2s, linear);
        
    &:hover {
        padding-bottom: 0.7rem;
        @extend .glow-selector;
    }
}

/* General Sliding Underline Effect*/
.slide:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.2rem;
    width: 0;
    background: transparent;
    @include transition(width, 0.2s, ease, background-color, 0.2s, ease);
}

.slide:hover:after {
    width: 100%;
    background: $light-blue;
}

.browse-tabs, .profile-tabs, .project-tabs, .help-tabs {
    .unselected:after,
    .active-project-stage:after {
        content: '';
        display: block;
        margin: auto;
        height: $slide-selector-height;
        width: 0;
        background: transparent;
        @include transition(width, 0.2s, ease, background, 0.2s, ease, color, 0.2s, ease);
    }

    .unselected:hover:after,
    .active-project-stage:hover:after {
        width: 100%;
        background: $light-blue;
    }

    .unselected:hover,
    .active-project-stage:hover a {
        color: $light-blue;
    }

    .selected:after {
        @extend .unselected:after;
        @extend .unselected:hover:after;
    }
}

.logo,
.sort-by-options a,
.navigation-bar a {
    &:hover, &.selected {
        @extend .no-underline-selector;
    }
}