/* Overall Size References */
$reference-width: 1920px;
$reference-height: 1080px;

/* Fonts */
$default-fonts: "Montserrat", "Arial", "sans-serif";
$base-font-size: 16px;
$breakpoint-zero-font-size: 15px;
$breakpoint-one-font-size: 14px;
$breakpoint-two-font-size: 13px;
$breakpoint-three-font-size: 12px;
$breakpoint-four-font-size: 13px;
$base-line-height: 20px;
$breakpoint-zero-line-height: 19px;
$breakpoint-one-line-height: 18px;
$breakpoint-two-line-height: 17px;
$breakpoint-three-line-height: 16px;
$breakpoint-four-line-height: 15px;
$light: 300;
$regular: 400;
$bold: 700;

/* Font Sizes */
$h1-size: 2.5rem;
$h1-line-height: 3rem;
$h2-size: 1.5rem;
$h2-line-height: 2rem;
$h3-size: 1rem;
$h3-line-height: 1.25rem;
$h4-size: 1rem;
$h4-line-height: 1.25rem;
$h5-size: 2.5rem;
$h5-line-height: 3rem;
$h6-size: 1rem;
$h6-line-height: 1.25rem;
$p-size: 1rem;
$p-line-height: 1.5rem;
$a-size: 1rem;
$a-line-height: 1.25rem;

/* Background & Primary Colours */
$lightest-grey: #f3f3f3;
$lighter-grey: #e5e5e5;
$light-grey: #dfe2db;
$grey: #cbcbc8;
$dark-grey: #868686;//#B2B4AF;
$darkest-grey: #535353;
$white: #fff;
$black: #000;
$red: #bd0000;
$light-blue: #00bfdf;
$blue: #00a9c5;
$dark-blue: #00a0bd;
$darkest-blue: #0091ab;
$light-pink: #ed145b;
$pink: #d51251;
$dark-pink: #bf1048;

/* Font Colours */
$font-black: $black;
$font-grey: #3f3f3f;
$font-white: $white;
$font-red: $red;
$font-green: #58B200;

/* Default Item Colours */
$navigation-sidebar-selected-blue: $light-blue;

/* Bubble Colours */
$textbox-bubble: #00bfdf;
$warning-bubble: #e5acac;
$popout-bubble: #cdf59f;
$iteration-button: #00a9c5;

$timeline-completed: #a2c27e;
$timeline-uncompleted: #b7db8f;
$timeline-height: 1.5rem;

/* Tag Colours */
$art-and-culture-tag-color: #E53935;
$environment-tag-color: #93df00;
$education-tag-color: #00bfdf;
$food-and-health-tag-color: #9800df;
$lifestyle-tag-color: #fdcc35;
$science-and-technology-tag-color: #ff9800;
$society-and-politics-tag-color: #D81B60; //#df0064;

/* Edit-Related */
$edit-button-margin: 5px;

/* general navigation */
$dot-size-small: 10px;
$dot-size-large: 15px;
$dot-border-thickness: 2px;
$dot-colour: $dark-grey;

/* navigation bar */
$navigation-bar-height: 4em;
$sub-nav-height: 3.5em;

/* navigation sidebar */
$navigation-sidebar-min-width: 158px;
$navigation-sidebar-max-width: 341px;
$navigation-sidebar-width: 10%;
$navigation-sidebar-category-left-padding: generate-rem(39px / $base-font-size);
$navigation-sidebar-category-top-padding: generate-rem(24px / $base-font-size);
$navigation-sidebar-icon-width: generate-rem(31px / $base-font-size);
$navigation-sidebar-icon-height: generate-rem(33px / $base-font-size);
$navigation-sidebar-icon-bar-height: generate-rem(8px / $base-font-size);
$navigation-sidebar-icon-bar-margin: generate-rem(3px / $base-font-size);

/* Shadows */
$shadow-blur: 10px;
$shadow-spread: 5px;
$shadow-colour-light: #ddd;
$shadow-colour-dark: rgba(0, 0, 0, 0.3);
$standard-shadow: 0px 0px 10px 0px $grey;

/* content section */
$content-section-max-width: 1240px;
$content-section-max-height: 1005px;
$content-section-padding: 6%;
$content-section-width: 80%; //62%;
$content-section-height: generate-percentage($content-section-max-height / $reference-height);
$tag-border-radius: generate-rem(10px / $base-font-size);
$options-font-size: generate-rem(36px / $base-font-size);

/* browse view */
$browse-sub-category-margin: generate-rem(5 / 2 / 2);
$search-bar-width: generate-rem(633px / $base-font-size);
$search-bar-height: 2.2rem;
$item-container-margin: 8px;
$item-container-padding: generate-rem(28px / $base-font-size);
$item-container-min-width: 300px;   //width is arbitrary for now
$item-container-title-size: generate-rem(24.96px / $base-font-size);

/* create view */
/* dashboard view */

/* profile image */
$profile-image-large: 14rem;
$profile-image-medium: 10rem;
$profile-contributor-focus: 6rem;
$profile-image-small: 3rem;
$profile-image-icon: 2rem;
$profile-image-header: 11.5vw;
$profile-image-header-breakpoint: 30vw;

/* form view */
$icon-size: generate-rem(1.5);

$textarea-padding: 0.5rem;
$textarea-width: 100%;
$textarea-border-radius: 5px;

$card-border-radius: 0.25em;

$timer-height: 0.3rem;
$elapsed-time-colour: #FDD222;

$icon-button-size: 20px;

$standard-border: 1px solid $grey;
$inner-border: 1px solid $light-grey;
$dropzone-border: 3px dashed $light-blue;

$breakpoint-zero: 1400px;
$breakpoint-one: 1256px;	// Large to Medium Laptops
$breakpoint-two: 950px;		// Small to Medium Laptops
$breakpoint-three: 768px;	// Small to Large Tablets
$breakpoint-four: 480px;	// Small to Large Phones

$content-section-width-responsive: 100%;

$grid-spacing: 1%;

$card-border-radius: 0.5em;

$slide-selector-height: 0.25em;

$header-color: #00778c;