<div data-project-section="attachments" class="section-container flexbox-container">
    <h2 class="section-header">Attachments</h2>
    <div class="section-body">
        {% if (project.attachments.images is not empty) %}
        <ul id="gallery-container">
            {% for image in project.attachments.images %}
            <li style="background-image: url({{ image.path }})"></li>
            {% endfor %}
        </ul>
        {% endif %}
        <ul id="gallery-selector" class="flexbox-container">
            {% for image in project.attachments.images %}
            <li style="background-image: url({{ image.path }})"></li>
            {% endfor %}
        </ul>
        {% if (project.attachments.others is not empty) %}
        <h3>Files</h3>
        <ul>
            {% for other in project.attachments.others %}
            <li><a href="{{ other.path }}" download="{{ other.name }}">{{ other.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>