<div class="entity-content">
    <div class="add-content-head edit-text-body section-container flexbox-container">
        <h2 class="section-header">Attachments</h2>
        <div id="attachment-section-body" class="section-body flexbox-container">
            <p>Choose a picture, powerpoint or pdf to upload! <b>Attachments that are larger than 100MB are skipped.</b></p>
            <div class="open-button upload-button">
                <button type="button">+ Add an Attachment</button>
                <input name="upload-attachment-button" type="file" multiple class="hidden">
            </div>
            <div class="open-button cancel-remove-button">
                <button type="button">Remove</button>
            </div>
            <ul id="attachments"></ul>
        </div>
    </div>
</div>