<script type="text/template" id="uploaded-attachment-template">
    <li class="entity-content flexbox-container" data-attachment-id="">
        <h3 name="attachment"><%= attachment.name %></h3>
        {# progress bar #}
        <p class="status">0% (0.00 B / <%= formattedSize %>)</p>
{#
        <div class="open-button pause-button">
            <button type="button">Pause Upload</button>
        </div>
        <div class="open-button resume-button hidden">
            <button type="button">Resume Upload</button>
        </div>
#}
        <div class="open-button cancel-remove-button hidden">
            <button type="button">Remove</button>
        </div>
    </li>
</script>